<div class="container">
  <div class="title-header" [ngTemplateOutlet]="TestimonialContent"></div>
  <form #testimonialForm="ngForm" nz-form fxLayout="column" fxLayoutAlign="start stretch">

    <nz-steps [nzCurrent]="current" class="content-stepper">
      <nz-step nzTitle="Select"></nz-step>
      <nz-step nzTitle="Customize"></nz-step>
      <nz-step nzTitle="Done"></nz-step>
    </nz-steps>


    <div class="steps-content" *ngIf="current === 0">
      <h2 class="type-title">Testimonial Video</h2>

      <div fxLayout="row wrap" fxLayoutGap="15px" class="mg-t-20">
        <div class="image-card-wrapper">
          <div class="label-text"><span>{{requiredFields.includes('familyphoto') ? ' *' : ''}}</span> Add Attestant's
            Photo:</div>
          <span class="label-text-sm">A photo of a person providing the testimonial.</span>
          <app-image-handler [imageable_type]="'attestant_photo'" [content]="content" [config]="attestantPhotoConfig" (imageObject)="setFamilyImage($event)">
          </app-image-handler>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="15px">
        <nz-form-item appearance="fill" fxFlex="20%">
          <nz-form-label for="zoning" [nzRequired]="requiredFields.includes('FamilyName')">Attestant's Name
          </nz-form-label>
          <nz-form-control>
            <input nz-input type="text" [(ngModel)]="testimonial.FamilyName" class="form-control" id="FamilyName"
              name="FamilyName" [required]="requiredFields.includes('FamilyName')" maxlength="70">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item appearance="fill" fxFlex="20%" fxFlex.xs="100%">
          <nz-form-label for="description" [nzRequired]="requiredFields.includes('Message')">Message</nz-form-label>
          <nz-form-control>
            <textarea nz-input type="text" class="form-control" id="Message" [(ngModel)]="testimonial.Message"
              name="Message" [required]="requiredFields.includes('Message')" maxLength="144"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="15px">
        <button nz-button nzType="primary" (click)="back()">Back</button>
        <button nz-button nzType="primary" (click)="next();"
          class="next-button" [disabled]="!valid || !isImageValid">Next - Customize</button>
      </div>
    </div>
  </form>
    <div class="steps-content" *ngIf="current === 1">
      <app-content-form *ngIf="styles" #contentForm [model]="content" (nextPage)="nextPage()" [styles]="styles">
    </app-content-form>
      <div fxLayout="row wrap" fxLayoutGap="15px">
        <button nz-button nzType="primary" (click)="previous()">Back</button>
        <button nz-button nzType="primary" [disabled]="!valid || !isImageValid" (click)="create();">Create</button>
      </div>
    </div>

</div>
<ng-template #TestimonialContent>
  <h1 class="section-title title">
    <i nz-icon nzType="layout"></i>
    Market My Business
  </h1>
</ng-template>
