.section-title {
    i {
        color: #0070f7;
    }
}

.empty-websites {
    padding: 32px;
    text-align: center;
    p {
        margin-top: 14px;
        font-weight: 600;
    }
    @media only screen and (max-width: 959px) {
        img {
            width: 80%;
        }
    }
}

.create-btn {
    color: #0070f7;
    background-color: #fff;
    border: 2px solid #0070f7;
    width: 160px;
    height: 32px;
    border-radius: 4px;
}

.text-center {
    text-align: center;
}

.mar-zero {
    margin: 0 !important;
}

.create-title {
    font-weight: 700;
    color: #003F9D;
    font-size: 24px;
}

.title {
    font-weight: 600;
}

.pagination {
    margin-top: 24px;
}

.wd-100 {
    width: 100px;
}

.create-cont {
    margin: 16px 0;
}

.caption {
    font-size: 17px;
    color: #393853;
    margin-top: 0 !important;
}
