<div class="container">
  <div class="title-header" [ngTemplateOutlet]="WebsiteContent"></div>
  <div class="empty-websites" *ngIf="!websites.length && !loading">
    <img src="../../../assets/images/WebsiteEmptyPage.png" />
    <h2 class="create-title mar-zero">Create Professional Websites with ease.</h2>
    <p class="caption">Choose your website type, select a style, edit it and you're good to go!</p>
    <button nz-button nzType="primary" (click)="newSite();">Create Website</button>
  </div>
  <nz-tabset [(nzSelectedIndex)]="selectedIndex" (nzSelectChange)="log([$event])" *ngIf="websites.length">
    <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.name">
      <ng-container [ngTemplateOutlet]="sites" *ngIf="!loading"></ng-container>
      <div class="spinner" *ngIf="loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
      </div>
    </nz-tab>
  </nz-tabset>
</div>
<ng-template #sites>
  <nz-table nzNoResult="" nzTemplateMode>
    <thead (nzSortChange)="sort($event)">
    <tr>
      <th nzShowSort nzSortKey="websiteable_type" [(nzSort)]="mapOfSort.websiteable_type">Name</th>
      <th class="text-center wd-100">Edit</th>
      <th class="text-center wd-100">View</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let website of websites">
      <td>{{website.websiteable_type}} Website</td>
      <td class="text-center">
        <a [href]="website.edit_url" target="_blank" >
          <i nz-icon nzType="edit" class="website-icons"></i>
        </a>
      </td>
      <td class="text-center">
        <a [href]="website.view_url" target="_blank" >
          <i nz-icon nzType="eye" class="website-icons"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <div fxLayout="row" fxLayoutAlign="end start" class="pagination">
      <nz-pagination nzShowSizeChanger [nzPageSizeOptions]="pageSizeOptions" [nzPageSize]="websitePagination.limit" [nzPageIndex]="websitePagination.page"
        [nzTotal]="websitePagination.total" (nzPageIndexChange)="didPage($event)">
      </nz-pagination>
    </div>
</ng-template>
<ng-template #WebsiteContent>
  <div fxLayout="row" fxLayoutAlign="space-between center" >
  <h1 class="section-title title">
    <i nz-icon nzType="layout"></i>
    Websites
  </h1>
</div>
<div fxLayout="row" fxLayoutAlign="start center" class="create-cont">
  <button *ngIf="websites.length" nz-button (click)="newSite();" class="create-btn" nzType="default">Create New</button>
</div>
</ng-template>
