<div class="bread-container">
  <nz-breadcrumb nzSeparator="/">
    <nz-breadcrumb-item *ngFor="let breadcrum of breadcrumbs">
      <i nz-icon *ngIf="breadcrum.icon" [class]="breadcrum.iconClass || '' " [nzType]="breadcrum.icon" nzTheme="fill"></i>
      <a [routerLink]="breadcrum.url" [class]="breadcrum.tittleClass || '' " *ngIf="breadcrum.url">{{breadcrum.name}}</a>
      <span *ngIf="!breadcrum.url">{{breadcrum.name}}</span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
