@import '../../../styles.scss';

.bread-container{
  padding: 15px 30px;
  background-color: #ffffff;
}
:host {
  max-width: 500px;
  width: 400px;
  position: relative;
  min-width: 325px;
}

.mat-card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.mat-card-content {
  display: flex;
  flex: 1;
}

.container {
  height: 100%;
  cursor: pointer;
}

.profile-image {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.content {
  height: 4.5em;
  overflow-y: auto;
}

.caption {
  margin-top: 10px !important;
}

.content-video {
  width: 100%;
  height: auto;
}

.caption-input {
  width: 100%;
  height: 50px;
}
.content-card.active {
  background: #30d289;
  color: #fff !important;
}
.card-image {
  overflow: hidden;
  object-fit: contain;
  cursor: pointer;
  margin-bottom: 5px;
  img {
    width: 100%;
    object-fit: contain;
  }

  @include aspect-ratio(16, 9);
}
.mat-card-image {
  width: 100%;
  margin: 0 0 5px 0;
}
.d-block {
  display: block !important;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-5 {
  margin-top: 5px;
}
.bread-crum-icon{
  font-size: 24px;
  color: #003F9D;
}

.breadcrum-tittle{
  font-size: 28px;
  color: #003F9D;
  margin-left: 10px;
  font-weight: bold;
  &:hover{
    color: #003F9D;
  }
}
