mat-table {
  display: table;
  table-layout: auto;
  width: 100%;

  mat-header-row,
  mat-row {
    min-height: unset;
    padding: 6px;
  }
}

mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
  flex: 0 1 10%;
}

.add-contacts-button {
  margin-bottom: 15px;
}
.operate {
  margin-bottom: 16px;
}

.operate span {
  margin-left: 8px;
}

.add-csv-contacts{
  margin-left: 20px;
}

.delete-contact {
  color: #ff4d4f;
  cursor: pointer;
}

.search {
  width: 45%;
  display: inline-block;
}