mat-table {
  display: table;
  table-layout: auto;
  width: 100%; }
  mat-table mat-header-row,
  mat-table mat-row {
    min-height: unset;
    padding: 6px; }

mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
  flex: 0 1 10%; }

.add-contacts-button {
  margin-bottom: 15px; }

.operate {
  margin-bottom: 16px; }

.operate span {
  margin-left: 8px; }

/*# sourceMappingURL=contacts-selector.component.css.map */
