table {
  width: 100%; }

@media (max-width: 500px) {
  .selectimagecard {
    display: block !important; } }
.preview-row {
  max-width: 100%;
  max-height: unset;
  overflow-x: auto; }

.mat-elevation-z8 {
  margin: 13px;
  padding: 5px; }

.material-icons {
  margin-top: -3px !important; }

.add-csv-contacts {
  margin-left: 20px; }

.search {
  margin-left: 20px;
  width: 45%;
  display: inline-block; }
  .search .ant-input-affix-wrapper .ant-input {
    padding-left: 10px !important; }

.title {
  display: inline-block; }

.contact-widget {
  margin-top: 16px; }

.contact-actions {
  margin-bottom: 16px; }

.delete-contact {
  color: #ff4d4f;
  cursor: pointer; }

/*# sourceMappingURL=contacts.component.css.map */
