<!-- <app-sidebar> -->
<div class="container">
  <div class="title-header">
    <h1 class="title">Contacts</h1>
  </div>
  <div class="contact-widget">
      <app-contacts-selector></app-contacts-selector>
  </div>
</div>
<!-- </app-sidebar> -->
