<!-- <app-sidebar> -->
    <nz-collapse nzBordered="false" class="is_mobile">
      <nz-collapse-panel nzActive [nzHeader]="listingTitle">
        <h1 class="section-title section-title-small">
          Select {{productTitle}}
        </h1>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <nz-spin [nzSize]="'large'" *ngIf="loading">
            <ng-container [ngTemplateOutlet]="Listings"></ng-container>
          </nz-spin>
          <ng-container [ngTemplateOutlet]="Listings" *ngIf="!loading"></ng-container>
        </div>
        <router-outlet></router-outlet>
      </nz-collapse-panel>
    </nz-collapse>
    <div class="is_desktop">
      <div class="title-header" [ngTemplateOutlet]="listingTitle"></div>
      <h1 class="section-title section-title-small">
        Select {{productTypeTitle}}
      </h1>
      <nz-spin [nzSize]="'large'" *ngIf="loading">
        <ng-container [ngTemplateOutlet]="Listings"></ng-container>
      </nz-spin>
      <ng-container [ngTemplateOutlet]="Listings" *ngIf="!loading"></ng-container>
      <router-outlet></router-outlet>
    </div>
    <ng-template #listingTitle>
      <h1 [className]="ConfigListingTitle.class">
        <mat-icon class="nav-icon" [style.color]="ConfigListingTitle.colors">{{ConfigListingTitle.icon}}</mat-icon>
        {{ConfigListingTitle.title}}
      </h1>
      <nz-divider class="m-0"></nz-divider>
    </ng-template>
    <ng-template #Listings>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="25px" fxLayoutGap.xs="0" *ngIf="productType === 'listing'">
        <app-card-button [config]="newCardButton"></app-card-button>
        <ng-container *ngFor="let listing of listings">
          <app-card-button pendo-data-id="listing" [config]="configFor(listing)"></app-card-button>
        </ng-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="end start" *ngIf="productType === 'listing'">
        <nz-pagination nzShowSizeChanger [nzPageSizeOptions]="pageSizeOptions" [nzPageSize]="listingPagination.limit" [nzPageIndex]="listingPagination.page"
          [nzTotal]="listingPagination.total" (nzPageIndexChange)="didPage($event)">
        </nz-pagination>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="25px" *ngIf="productType === 'market_report'">
        <app-card-button [config]="newCardButton"></app-card-button>
        <ng-container *ngFor="let marketReport of marketreports">
          <app-card-button pendo-data-id="market-report" [config]="configForMarket(marketReport)"></app-card-button>
        </ng-container>
      </div>
    </ng-template>
<!-- </app-sidebar> -->
