@import '../../../styles.scss';
:host {
    max-width: 500px;
    width: 400px;
    position: relative;
    min-width: 320px;
}

.container {
    height: 100%;
}

.content {
    height: 3em;
    overflow-y: scroll;
}

.caption {
    margin-top: 10px !important;
    margin-bottom: 5px !important;
    white-space: nowrap;
    overflow: hidden; // display: inline-block;
    text-overflow: ellipsis;
    margin: 0;
    min-height: 22px;
    max-height: 22px;
    max-width: 100%;
}

.content-video {
    width: 100%; // height: auto;
    height: 201px;
    min-height: 200px;
    max-height: 200px;
}

.caption-input {
    width: 100%;
    height: 50px;
}

.card-image {
    overflow: hidden;
    object-fit: contain;
    cursor: pointer; // height: 200px;
    min-height: 200px; // max-height: 200px;
    img {
        width: 100%;
        object-fit: contain;
    }
    @include aspect-ratio(16, 9);
}

.content-card {
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.action-menu,
.content-menu-item {
    cursor: pointer;
    &:hover {
        color: #0065dd;
    }
}

.done-button {
    margin-top: 8px;
    float: right;
}

.post-button {
    margin-top: 8px;
    float: left;
}


.welcome-heading {
    font-size: 48px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.15px;
    margin-top: 16px;
    margin-bottom: 0;
}

.header {
    margin-left: 0;
    .message {
        font-size: 14px;
        font-weight: bold;
        color: #0070f7;
        margin-bottom: 0;
    }
    margin-bottom: 32px;
}
.welcome-item-conteinr {
    margin-left: 32px;
}
.wait {
    color: #0070f7;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.empty {
    img {
        width: 202px;
        height: 211px;
        display: block;
        margin: auto;
    }
    .conatiner {
        width: 444px;
        margin: auto;
    }
}
