<!-- <div class="container"> -->
  <div class="step" fxFlexLayout="column" fxFlexLayoutAlign="space-between center">
    <div class="welcome-text">
      <h1>Set Your Password</h1>
      <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
              <input [type]="hide ? 'text' : 'password'" nz-input placeholder="Password" required
                [(ngModel)]="password" #passwordField minlength="6" />
            </nz-input-group>
            <ng-template #suffixTemplate>
              <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="hide = !hide"></i>
            </ng-template>
            <span class="error left" *ngIf="!password && submitted">Password is required
            </span>
          </nz-form-control>
    </nz-form-item>
    </div>
    <button *ngIf="!loading" nz-button (click)="submit(passwordField)" nzType="primary">Save</button>
    <div class="spiner-center loading-overlay" *ngIf="loading" fxFlexLayout="column" fxLayoutAlign="center center">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
      </div>
  </div>
