h2 {
  margin-bottom: 0; }

.error {
  color: red; }

h3 {
  margin-top: 0;
  font-family: Montserrat; }

mat-chip.pending {
  color: white;
  background-color: #3f51b5; }

mat-chip.failed {
  color: white;
  background-color: #B80f0a; }

mat-chip.active {
  color: white;
  background-color: #30d289; }

.image-card {
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 25px;
  background-color: #30d289;
  text-align: center;
  font-size: 56px;
  color: white;
  overflow: hidden; }
  .image-card .mat-icon {
    height: 56px;
    width: 56px;
    font-size: 56px; }
  .image-card img {
    height: 100%;
    width: auto; }
  .image-card button {
    padding: 1px 7px 2px; }

.banner-card {
  position: relative;
  width: 208px;
  height: 117px;
  border-radius: 4px;
  border: 1px solid lightgray;
  cursor: pointer;
  margin-bottom: 25px;
  background-color: #30d289;
  text-align: center;
  font-size: 56px;
  color: white;
  overflow: hidden; }
  .banner-card .mat-icon {
    height: 56px;
    width: 56px;
    font-size: 56px; }
  .banner-card img {
    height: 100%;
    width: auto; }

nz-form-control {
  margin-bottom: 10px; }

::ng-deep .ant-select-dropdown-menu-item {
  white-space: normal !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px; }

.error-row {
  color: red; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA; }

.banner-card:hover .overlay {
  opacity: 1; }

.upload-button {
  font-size: 18px; }

.upload-button-dark {
  color: white; }

.headshot {
  height: 200px;
  width: 200px; }

.team-headshot {
  height: 180px;
  width: 180px;
  margin: 0 0 15px; }
  .team-headshot img {
    width: 100%;
    display: block; }

.logo {
  height: 200px;
  width: auto;
  min-width: 200px; }

.team_members_form {
  border-radius: 10px;
  padding: 15px 10px 5px 15px;
  background-color: #f0f0f3;
  margin-bottom: 25px;
  min-width: 400px; }

.team_member_details :last-child {
  margin-right: 15px; }

.team-member-left {
  text-align: center;
  margin-bottom: 25px; }

.mls-required {
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid darkgray;
  border-radius: 5px; }

.mls-section {
  margin: 10px 0 20px;
  min-height: 150px; }

.mls-connection {
  padding: 10px 20px;
  border: 1px solid darkgray;
  border-radius: 5px;
  width: 300px;
  margin: 0 16px 16px 0; }
  .mls-connection mat-chip-list {
    margin-right: -10px; }

.mls-board-option {
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: normal;
  line-height: 1em;
  padding: 10px;
  height: auto; }

::ng-deep .mls-tooltip {
  font-size: 12px; }
  ::ng-deep .mls-tooltip.failed {
    background-color: #B80f0a;
    border: 1px solid white;
    color: white; }

/*# sourceMappingURL=set-password-form.component.css.map */
