.notification-dd{
  position: absolute;
  top: 14px;
  right: 20px;
  z-index: 999;
}
.notification-box{
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background: #0070f7;
  display: inline-block;
  vertical-align: middle;
  padding: 11px;
  i.anticon{
    font-size: 24px;
    color: #fff;
  }
}
.notification-dropdown{
  margin-top: 14px;
}
.ant-list{
  margin-top: 30px;
}
.ant-list-item{
  cursor: pointer;
  padding: 0;
}

.unread{
  background-color: #e6f7ff;
}
.st-mb-50{ margin-bottom: 50px;}
.subscription-list{
  border-radius: 4px;
  margin-top: 10px;
  padding: 20px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  nz-list-item{
    padding: 10px 0;
    border: none;
  }
  .ant-list-item-meta-description{
    color: #000000;
    font-size: 14px;
  }
}
.setting-title{
  font-size: 23px;
  color: #000000;
  font-weight: bold;
  margin-top: 40px;
}
.email-subscription, .sms-subscription{
  padding: 10px 0;
  nz-switch{
    margin-right: 15px;
  }
  span{
    font-size: 15px;
    font-weight: bold;
    color: #000;
  }
}
.ant-notification-notice-description{
  margin-top: -22px;
}
.connect-button{
  margin-left: 30px;
  height: 28px;
}
.btn-upgrade{
  background-color: #FECC44 !important;
  border-color: #FECC44 !important;
  color: #000 !important;
}
