<!-- <app-sidebar> -->
<ng-template  let-notificationMSG="data" #statusTmp>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
          <span class="ant-notification-notice-icon">
            <i nz-icon nzType="check-circle" [style.color]="'#0070f7'" [style.font-size]="'22px'"></i>
          </span>
      <div class="ant-notification-notice-message" [style.color]="'#0070f7'" [style.font-weight]="'bold'" [style.margin-left]="'20px'">
        {{notificationMSG.message}} Successfully!
      </div>
    </div>
  </div>
</ng-template>
<div class="container page-container">
  <nz-layout>
    <nz-content>
      <nz-collapse nzBordered="false" class="is_mobile">
        <nz-collapse-panel nzActive [nzHeader]="SettingsTitle">
        </nz-collapse-panel>
      </nz-collapse>

      <div class="is_desktop">
        <div class="title-header" [ngTemplateOutlet]="SettingsTitle"></div>
        <nz-spin [nzSize]="'large'" *ngIf="loading">
          <ng-container [ngTemplateOutlet]="Settings"></ng-container>
        </nz-spin>
        <ng-container [ngTemplateOutlet]="Settings" *ngIf="!loading"></ng-container>
      </div>

      <ng-template #SettingsTitle>
        <div nz-row>
          <div nz-col nzSpan="24">
            <h1 class="title">
              Settings
            </h1>
          </div>
        </div>
      </ng-template>
      <ng-template #Settings>
        <div nz-row>
          <div nz-col nzSpan="18">
            <h1 class="setting-title">Content and Posting</h1>
            <div [ngTemplateOutlet]="contentPostingList"></div>
            <h1 class="setting-title">Notifications</h1>
            <nz-list [nzDataSource]="digest_settings" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" *ngIf="digest_settings">
              <ng-template #item let-item>
                <nz-list-item class="ant-list-item ng-star-inserted st-mb-50">
                  <nz-list-item-meta
                    [nzDescription]="nzDescription"
                    class="st-list">
                    <ng-template #nzDescription>
                      <div [ngTemplateOutlet]="digestList"
                           [ngTemplateOutletContext]="{subscription: item}"
                      ></div>
                    </ng-template>
                  </nz-list-item-meta>
                </nz-list-item>
              </ng-template>
            </nz-list>
            <nz-list [nzDataSource]="settings" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
              <ng-template #item let-item>
                <nz-list-item class="ant-list-item ng-star-inserted st-mb-50">
                  <nz-list-item-meta
                    [nzDescription]="nzDescription"
                    class="st-list">
                    <ng-template #nzDescription>
                      <div [ngTemplateOutlet]="subscriptionList"
                           [ngTemplateOutletContext]="{subscription: item}"
                      ></div>
                    </ng-template>
                  </nz-list-item-meta>
                </nz-list-item>
              </ng-template>
            </nz-list>
          </div>
        </div>
      </ng-template>

      <!--      NOTIFICATION SUBSCRIPTONS   -->
      <ng-template #subscriptionList let-subscription="subscription" >
        <nz-list [nzItemLayout]="'horizontal'" class="subscription-list">
          <nz-list-item class="ant-list-item ant-subscription-item" [nzExtra]="nzextra">
            <nz-list-item-meta
              [nzTitle]="nzTitle"
              [nzDescription]="nzDescription"
              class="sub-list setting-list">
              <ng-template #nzTitle>
                {{get_title(subscription.key).titleize()}} Notifications
              </ng-template>
              <ng-template #nzDescription>
                <div class="subscription-text">
                  <!--                  Turning this off will hide the price of your listing on any content relating to a listing being sold. (i.e. a congrats video or sold video)-->
                </div>
                <div class="email-subscription">
                  <nz-switch [(ngModel)]="subscription.subscribing_to_email" (click)="toggleNotificationSettings(subscription, 'email')"></nz-switch>
                  <span class="switch-text">Email Notifications</span>
                </div>
                <div class="sms-subscription" *ngIf="subscription.optional_targets.subscribed_to_sms_at">
                  <nz-switch [(ngModel)]="subscription.optional_targets.subscribing_to_sms" (click)="toggleNotificationSettings(subscription, 'sms')"></nz-switch>
                  <span class="switch-text">SMS Notifications</span>
                </div>
              </ng-template>
              <ng-template #nzextra>
                <nz-switch [(ngModel)]="subscription.subscribing"  (click)="toggleNotificationSettings(subscription, 'subscription')"></nz-switch>
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </nz-list>
      </ng-template>

      <!--      DIGEST SUBSCRIPTONS   -->
      <ng-template #digestList let-subscription="subscription" >
        <nz-list [nzItemLayout]="'horizontal'" class="subscription-list">
          <nz-list-item class="ant-list-item ant-subscription-item" [nzExtra]="nzextra">
            <nz-list-item-meta
              [nzTitle]="nzTitle"
              [nzDescription]="nzDescription"
              class="sub-list setting-list">
              <ng-template #nzTitle>
                {{subscription.display_name}}
              </ng-template>
              <ng-template #nzDescription>
                <div class="subscription-text">
                  <!--                  Turning this off will hide the price of your listing on any content relating to a listing being sold. (i.e. a congrats video or sold video)-->
                </div>
              </ng-template>
              <ng-template #nzextra>
                <nz-switch [(ngModel)]="subscription.status"  (click)="toggleDigestSetting(subscription)"></nz-switch>
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </nz-list>
      </ng-template>

      <!--      CONTENT POSTING SUBSCRIPTONS   -->
      <ng-template #contentPostingList>
        <nz-list [nzItemLayout]="'horizontal'" class="subscription-list">
          <nz-list-item class="ant-list-item ant-subscription-item" [nzExtra]="nzextra1">
            <nz-list-item-meta
              [nzTitle]="nzTitle1"
              [nzDescription]="nzDescription1"
              class="sub-list setting-list">
              <ng-template #nzTitle1>
                Always show listing price
              </ng-template>
              <ng-template #nzDescription1>
                <div class="subscription-text">
                  <!--                  Turning this off will hide the price of your listing on any content relating to a listing being sold. (i.e. a congrats video or sold video)-->
                </div>
              </ng-template>
              <ng-template #nzextra1>
                <nz-switch [(ngModel)]="customer.settings['show_price']" (ngModelChange)="toggleSetting('show_price', $event)"></nz-switch>
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
          <nz-list-item class="ant-list-item ant-subscription-item" [nzExtra]="nzextra">
            <nz-list-item-meta
              [nzTitle]="nzTitle"
              [nzDescription]="nzDescription"
              class="sub-list setting-list">
              <ng-template #nzTitle>
                Autopost to Facebook
              </ng-template>
              <ng-template #nzDescription>
                <div class="subscription-text">
                  <!--                  Turning this off will hide the price of your listing on any content relating to a listing being sold. (i.e. a congrats video or sold video)-->
                </div>
              </ng-template>
              <ng-template #nzextra>
                <nz-switch [(ngModel)]="customer.settings['auto_posting']" (ngModelChange)="toggleSetting('auto_posting', $event)"></nz-switch>
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
          <nz-list-item class="ant-list-item ant-subscription-item" [nzExtra]="nzextra2">
            <nz-list-item-meta
              [nzTitle]="nzTitle2"
              [nzDescription]="nzDescription2"
              class="sub-list setting-list">
              <ng-template #nzTitle2>
                Autopost to LinkedIn
                <button nz-button nzType="primary" nzSize="large" class="connect-button" *ngIf="!linkedinStatus && paidTier" (click)="connectLinkedin()">Connect</button>
                <button nz-button nzType="primary" nzSize="large" class="connect-button btn-upgrade" *ngIf="!paidTier" (click)="upgradePlan()">Upgrade</button>
              </ng-template>
              <ng-template #nzDescription2>
                <div class="subscription-text">
                  <!--                  Turning this off will hide the price of your listing on any content relating to a listing being sold. (i.e. a congrats video or sold video)-->
                </div>
              </ng-template>
              <ng-template #nzextra2>
                <nz-switch [(ngModel)]="linkedinAutopost" (ngModelChange)="toggleLinkedInSetting($event)" [nzDisabled]="!linkedinStatus || !paidTier"></nz-switch>
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </nz-list>
      </ng-template>
    </nz-content>
  </nz-layout>
</div>
<!-- </app-sidebar> -->
