<div class="container" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="select-ad-button" *ngIf="selectable">
    <button nz-button nzType="primary" nzGhost [ngClass]="{activeAdsButton: isActiveAd}" (click)="emitAdEvent(content)">Select this ad</button>
  </div>
  <nz-card [style.width]="width" [style.marginBottom]="verticalMargin" [style.marginRight]="horizontalMargin" class="content-card"
    fxFlex="100%">
    <p class="mt-5 h-block">{{ content.caption ? content.caption : '' }}</p>

    <div *ngIf="content.status === 'rendering'">
      <div class="card-image">
        <img class="internal-content" src="assets/styles/Rendering.gif" />
      </div>
    </div>

    <div *ngIf="content.status !== 'rendering'">
      <div *ngIf="content.media_type === 'image'" class="card-image">
        <img [src]="content.url" [alt]="content.caption" class="internal-content" />
      </div>
      <video preload="none" class="content-video" *ngIf="content.media_type === 'video'" controls>
        <source [src]="content.url" />
      </video>
    </div>

    <h3 class="mb-0">{{ content.headline ? content.headline : '' }}</h3>
    <p class="mt-5 mb-0">
      {{ content.description ? content.description : '' }}
    </p>
  </nz-card>
</div>