<!-- <app-sidebar> -->
<nz-collapse nzBordered="false" class="is_mobile">
  <app-insights-analytics></app-insights-analytics>
  <nz-collapse-panel nzActive [nzHeader]="creation">
    <ng-container [ngTemplateOutlet]="creationCards"></ng-container>
  </nz-collapse-panel>
</nz-collapse>

<div class="is_desktop">
  <app-insights-analytics></app-insights-analytics>
  <div class="title-header" [ngTemplateOutlet]="creation"></div>
  <ng-container [ngTemplateOutlet]="creationCards"></ng-container>
</div>
<!--    CREATION CARD HEADING & TEMPLATE   -->
<ng-template #creation>
  <h1 class="sec-title title-space">
    Make Content
  </h1>
</ng-template>
<ng-template #creationCards>
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="6" nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6" class="products-container" *ngFor="let product of productsConfigs">
      <app-card-button [config]="product" cardType="product-card"></app-card-button>
    </div>
  </div>
</ng-template>
