@import '../../../styles.scss';

.content-button {
  height: 192px !important;
  width: 168px !important;
  margin-right: 12px !important;
}

::ng-deep .carousel {
  .mat-accent {
    color: white;

  }

  .mat-mini-fab.mat-accent:not([disabled]) {
    background-color: white;
  }

}

.nav-icon {
  vertical-align: sub;
  font-size: 1em;
}

[nz-carousel-content] {
  color: #fff;
  overflow: hidden;
  width: 100%;
}
.next-circle {
  font-size: 24px;
  margin-left: 24px;
}
.sec-title {
  font-size: 24px;
  font-weight: bold;
  color: #393853;  
  &.content {
    padding-top: 64px;
  }
}
.title-space{
  margin: 30px 0 0 0;
}
.left {
  margin-right: 10px;
}
.collapse-mg-t-30{
  margin-top: 30px;
}
nz-progress{
  width: 500px;
}
.nz-mt-45{
  margin-top: 45px;
}
.connect-facebook{
  border: 4px solid #0070f7;
  border-radius: 4px;
  padding: 35px;
  width: 600px;
  height: 166px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  padding-left: 180px;
  margin-top: 40px;
  position: relative;
  i{
    font-size: 72px;
    color: #0070f7;
    border-radius: 37px;
    position: absolute;
    left: 50px;
    top: 40px;
  }
}
.performance-heading{
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
}
.performance-text{
  width: 100%;
  display: block;
  margin-bottom: 14px;
}
