<!-- <app-sidebar> -->
<div class="container">
  <h1 class="title page-title">{{isNew ? 'Create a New' : 'Update Your'}} Listing</h1>
  <nz-divider></nz-divider>
  <app-listing-form #listingForm [model]="listing"></app-listing-form>
  <nz-divider></nz-divider>
  <span class="error" *ngIf="error">{{error}}</span>
  <button nz-button nzType="primary" class="space-right" (click)="save()" [disabled]="loading || !isModified || imageLoadEnd">{{isNew ? 'Create' : 'Save'}}</button>
  <button nz-button nzType="danger" color="warn" (click)="cancel()">Cancel</button>
  <div class="spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
</div>
<!-- </app-sidebar> -->
