<div class="container" fxLayout="column" fxLayoutAlign="start stretch">
  <nz-card [style.width]="width" [style.marginBottom]="verticalMargin" [style.marginRight]="horizontalMargin" class="content-card"
    fxFlex="100%" [nzExtra]="extraTemplate">
    <div *ngIf="content.status === 'rendering'">
      <div class="card-image">
        <img class="internal-content" src="assets/styles/Rendering.gif">
      </div>
    </div>
    <div *ngIf="content.status !== 'rendering'">
      <div mat-card-image *ngIf="content.media_type === 'image'" class="card-image" (click)="showPreview()">
        <img [src]="content.url" [alt]="content.caption" class="internal-content" />
      </div>
      <video preload="none" class="content-video" *ngIf="content.media_type === 'video'" controls>
        <source [src]="content.url" />
      </video>
    </div>
<!--    <p *ngIf="((content.caption || caption_editable) && !editing);else empty" class="caption" nzTitle="Click here to add/edit a caption to this video."-->
<!--      nzPlacement="topLeft" nz-tooltip (click)="setEditing(true)">-->
<!--     {{ content.caption ? content.caption : caption_editable ? 'Click here to add/edit caption to this video' : 'Click here to add/edit caption to this video' }}-->
<!--    </p>-->
    <p *ngIf="!editing" class="caption caption-placeholder">
      {{ content.caption ? content.caption : caption_editable ? 'Click here to add a caption' : '' }}
    </p>
<!--    <ng-template #empty>-->
<!--      <p class="caption" lass="caption" nzTitle="Click here to add/edit a caption to this video."-->
<!--         nzPlacement="topLeft" nz-tooltip (click)="setEditing(true)">Click here to add a caption</p>-->
<!--    </ng-template>-->
    <textarea [hidden]="!editing" #captioninput nz-input [(ngModel)]="content.caption" placeholder="Add a caption" nzAutosize></textarea>
<!--    <ng-container *ngIf="!loading && caption_editable">-->
<!--        <button nz-button nzType="primary" *ngIf="editing" class="done-button" (click)="setEditing(false)">Done</button>-->
      <!-- <p class="content-menu-item" *ngIf="editing" (click)="setEditing(false);visible = false">Done</p> -->
<!--    </ng-container>-->
    <a type="primary" nz-button *ngIf="content.cta_link" [href]="content.cta_link">Learn More</a>
    <!-- <p class="content-menu-item" *ngSwitchCase="'ready'" (click)="post();visible = false">Post</p> -->
    <!-- && !this.customer.settings.auto_posting -->
    <button nz-button nzType="primary" *ngIf="(this.customer && this.customer.settings && !this.customer.settings.auto_posting && !isMarketingVideo) || isSocialMedia"
    (click)="post();visible = false" class="post-button">Post</button>
    <button nz-button nzType="primary" *ngIf="!editing && caption_editable"
    (click)="setEditing(true);visible = false" class="edit-caption-button">Edit Caption</button>
    <button nz-button nzType="primary" *ngIf="editing && caption_editable"
            (click)="setEditing(false);visible = false" class="save-caption-button">Save Changes</button>
    <button nz-button nzType="primary" *ngIf="isMarketingVideo"
            (click)="postMarketingVideo();visible = false" class="create-button">Create</button>
    <nz-spin [nzSize]="'large'" *ngIf="loading"></nz-spin>
  </nz-card>
  <ng-template #extraTemplate>
    <i nz-icon nzType="menu" class="action-menu" nz-popover nzPlacement="bottomRight" nzTrigger="click" [(nzVisible)]="visible"
      [nzContent]="contentTemplate" nzTheme="outline"></i>
  </ng-template>
  <ng-template #contentTemplate>
    <p class="content-menu-item" (click)="download();visible = false" *ngIf="content.status !== 'rendering' && !content.is_template">Download</p>
    <ng-container *ngIf="!loading && canPost && !caption_editable" [ngSwitch]="content.status">
      <!-- <p class="content-menu-item" *ngSwitchCase="'ready'" (click)="post();visible = false">Post</p> -->
      <p class="content-menu-item" *ngSwitchCase="'posting'" disabled>Posting...</p>
      <p class="content-menu-item" *ngSwitchCase="'posted'" disabled>Posted</p>
    </ng-container>
    <ng-container *ngIf="!loading && caption_editable">
      <p class="content-menu-item" *ngIf="!editing" (click)="setEditing(true);visible = false">Edit Caption</p>
      <p class="content-menu-item" *ngIf="editing" (click)="setEditing(false);visible = false">Done</p>
      <p class="content-menu-item" *ngIf="!editing && content.is_template" (click)="create();visible = false;">Create</p>
    </ng-container>
    <p class="content-menu-item" (click)="delete();visible = false" *ngIf="showMoreMenu">Delete</p>
  </ng-template>
</div>
