@import '../../../styles.scss';

:host {
  max-width: 320px;
  width: 400px;
  position: relative;
  min-width: 320px;
}

// .mat-card {
//   display: flex;
//   flex-direction: column;
//   flex-shrink: 0;
// }

// .mat-card-header .mat-card-title {
//   margin-bottom: 0;
// }

// .mat-card-content {
//   display: flex;
//   flex: 1;
// }

.container {
  height: 100%;
}

.profile-image {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.content {
  height: 3em;
  overflow-y: scroll;
}

.caption {
  margin-top: 10px !important;
  margin-bottom: 5px !important;
  white-space: nowrap;
  overflow: hidden;
  // display: inline-block;
  text-overflow: ellipsis;
  margin: 0;
  min-height: 22px;
  max-height: 22px;
  max-width: 100%;
  color: rgba(0,0,0,.65);
}

.content-video {
  width: 100%;
  // height: auto;
  height: 201px;
  min-height: 200px;
  max-height: 200px;
}

.caption-input {
  width: 100%;
  height: 50px;
}

.card-image {
  overflow: hidden;
  object-fit: contain;
  cursor: pointer;
  // height: 200px;
  min-height: 200px;
  // max-height: 200px;

  img {
    width: 100%;
    object-fit: contain;
  }

  @include aspect-ratio(16, 9);
}
.content-card {
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.action-menu,
.content-menu-item {
  cursor: pointer;
  &:hover {
    color: #0065dd;
  }
}
.done-button {
  margin-top: 8px;
  float: right;
}
.post-button{
  margin-top: 8px;
  float: right;
}
.create-button {
  margin-top: 8px;
  float: right;
}
.edit-caption-button {
  margin-top: 8px;
  float: left;
  background-color: #DCDCDC;
  border: 1px solid #DCDCDC;
  color: #444;
}
.save-caption-button {
  margin-top: 8px;
  float: left;
  background-color: #6CEAAB;
  border: 1px solid #6CEAAB;
  color: #444;
}
