<!-- <nz-layout> -->
  <div class="login-container" fxLayout="column" fxLayoutAlign="start center" fxFlex>
    <div class="icon-container">
      <img class="up-icon" src="assets/logos/logo.png">
    </div>
    <div [@flyInOut]="'in'" class="forgot-box">
      <div class="spiner-center loading-overlay" *ngIf="loading" fxFlexLayout="column" fxLayoutAlign="center center">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
      </div>
      <div class="login-title">Confirm Account</div>
      <div>
        <span class="reset-message">Check your email for a link to confirm your account!</span>
        <nz-divider></nz-divider>
        <span class="reset-notice">Link sent to {{email}}</span>
        <button nz-button class="resend-button login-button" type="primary" (click)="resendConfirmation()" [disabled]="resendWait > 0">
          <span *ngIf="resendWait === 0"> Resend Email</span>
          <span *ngIf="resendWait > 0" [style.fontSize]="'12px'">Try again in {{resendWait}}s</span>
        </button>
      </div>
    </div>
  </div>
<!-- </nz-layout> -->
