<!-- <app-sidebar> -->
<!-- <div class="container"> -->
<ng-container>
  <span>Categories: </span>
  <nz-tag *ngFor="let category of categories" nzMode="checkable" (nzCheckedChange)="handleChange($event, category.name)" [nzChecked]="selectedCategory === category.name">
    {{ category.name.titleize()}}
  </nz-tag>
  <nz-divider></nz-divider>
  <app-select-content product="IF" (pagechange)="loadGallery($event)" [resource]="customer" [contents]="content " [pageInfo]="pageInfo"></app-select-content>
</ng-container>
<!-- </div> -->
<!-- </app-sidebar> -->
