::ng-deep .inline-formfield {
  margin: 0 15px;

  font-size: 1em;

  // .selected-text {
  //   // font-size: 12px;
  // }

  .mat-form-field-wrapper {
    margin-bottom: -1.25em;
  }
}

::ng-deep .filter-row {
  .mat-select-value {
    max-width: 50%;
    width: auto;
  }

  .mat-form-field,
  .mat-form-field-infix {
    width: auto !important;
  }
}
