<!-- <app-sidebar> -->
  <nz-collapse nzBordered="false" class="is_mobile">
    <nz-collapse-panel nzActive [nzHeader]="notificationTitle">
      <h1 class="section-title section-title-small">
        Notifications
      </h1>
    </nz-collapse-panel>
  </nz-collapse>

  <div class="is_desktop">
    <div class="title-header" [ngTemplateOutlet]="notificationTitle"></div>
    <nz-spin [nzSize]="'large'" *ngIf="loading">
      <ng-container [ngTemplateOutlet]="notificationListing"></ng-container>
    </nz-spin>
    <ng-container [ngTemplateOutlet]="notificationListing" *ngIf="!loading"></ng-container>
  </div>
  <ng-template #notificationTitle>
    <div nz-row>
      <div nz-col nzSpan="24">
        <h1 class="title">
          Notifications
        </h1>
      </div>
      <div nz-col nzSpan="24">
        <button nz-button nzType="primary" nzSize="large" class="mark-all-button" (click)="mark_read_all()">Mark All As Read</button>
      </div>
    </div>
  </ng-template>
  <ng-template #notificationListing>
    <div nz-row>
      <div nz-col nzSpan="14">
        <nz-list [nzDataSource]="notifications" [nzNoResult]="noNotifications" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="nloading">
          <ng-template #item let-item>
            <nz-list-item class="ant-list-item ng-star-inserted {{item.opened || markAllRead ? '' : 'unread' }}">
              <a *ngIf="!checkNotificationLink(item) && item.key !== 'content.linkedin.expired'"
                 routerLink="/{{item.notifiable_path }}"
                 (click)="mark_read(item.id, item.opened)">
                <nz-list-item-meta

                  [nzDescription]="nzDescription" class="nt-list">
                  <ng-template #nzDescription>
                    <div class="noti-icon">
                      <i nz-icon nzType="{{item.icon}}" nzTheme="outline"></i>
                    </div>
                    <div class="noti-text">
                      {{ item.text }}<br /><br />
                      <span>{{item.created_at | date: 'MMM dd hh:mma'}}</span>
                    </div>
                  </ng-template>
                </nz-list-item-meta>
              </a>
              <a *ngIf="checkNotificationLink(item) && item.key !== 'content.linkedin.expired'"
                 href="{{item.notifiable_path}}"
                 target="_blank"
                 (click)="mark_read(item.id, item.opened)">
                <nz-list-item-meta

                  [nzDescription]="nzDescription" class="nt-list">
                  <ng-template #nzDescription>
                    <div class="noti-icon">
                      <i nz-icon nzType="{{item.icon}}" nzTheme="outline"></i>
                    </div>
                    <div class="noti-text">
                      {{ item.text }}<br /><br />
                      <span>{{item.created_at | date: 'MMM dd hh:mma'}}</span>
                    </div>
                  </ng-template>
                </nz-list-item-meta>
              </a>
              <a *ngIf="item.key === 'content.linkedin.expired'"
                 href="javascript:"
                 (click)="mark_read(item.id, item.opened, item)">
                <nz-list-item-meta

                  [nzDescription]="nzDescription" class="nt-list">
                  <ng-template #nzDescription>
                    <div class="noti-icon">
                      <i nz-icon nzType="{{item.icon}}" nzTheme="outline"></i>
                    </div>
                    <div class="noti-text">
                      {{ item.text }}<br /><br />
                      <span>{{item.created_at | date: 'MMM dd hh:mma'}}</span>
                    </div>
                  </ng-template>
                </nz-list-item-meta>
              </a>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="14">
        <div fxLayout="row" fxLayoutAlign="end start" [style.margin-top]="'25px'" *ngIf="notifications && notifications.length > 0">
          <nz-pagination nzShowSizeChanger [nzPageSize]="notificationPagination.limit" [nzPageIndex]="1" [nzTotal]="notificationPagination.total" (nzPageIndexChange)="didPage($event)">
          </nz-pagination>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #noNotifications>
    <nz-empty nzNotFoundContent="You have no notifications yet" class="no-content" [style.margin-top]="'5px'"></nz-empty>
  </ng-template>
<!-- </app-sidebar> -->
