.notification-dd{
  position: absolute;
  top: 14px;
  right: 20px;
  z-index: 999;
}
.notification-box{
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background: #0070f7;
  display: inline-block;
  vertical-align: middle;
  padding: 11px;
  i.anticon{
    font-size: 24px;
    color: #fff;
  }
}
.notification-dropdown{
  margin-top: 14px;
}
.ant-list{
  margin-top: 30px;
}
.ant-list-item{
  cursor: pointer;
  padding: 0;
  border-bottom: 1px solid #ccc;
  &:last-child {
    border-bottom: 1px solid #ccc;
  }
  a{
    padding: 12px;
    display: block;
    width: 100%;
    &:hover{
      background-color: #c2c8cc5c;
    }
  }
}
.unread{
  background-color: #e6f7ff;
}
.text-right{text-align: right;}
.noti-icon{
  color: #0070f7;
  margin-right: 20px;
  float: left;
  font-size: 20px;
}
.noti-text{
  padding-left: 40px;
}
.mark-all-button{
  margin-top: 14px;
  width: 168px;
  background-color: #0070f7;
  border-color: #0070f7;
}
