.notification-dd {
  position: absolute;
  top: 14px;
  right: 20px;
  z-index: 999; }

.notification-box {
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background: #0070f7;
  display: inline-block;
  vertical-align: middle;
  padding: 11px; }
  .notification-box i.anticon {
    font-size: 24px;
    color: #fff; }

.notification-dropdown {
  margin-top: 14px; }

.ant-list-item {
  cursor: pointer;
  padding: 12px; }

.unread {
  background-color: #e6f7ff; }

/*# sourceMappingURL=notification.component.css.map */
