<div>
  <div class="social-connect-container">
    <div class="social-headings">
      <h2>Upgrade Your Plan</h2>
      <p>Schedule a time for your Account Manager to call and upgrade your plan for you!</p>
    </div>
  <ul class="social-selection">
    <li>
      <!-- Calendly inline widget begin -->
      <div #container class="calendly-inline-widget" style="min-width:320px;height:260px;" data-auto-load="false"></div>
      <!-- Calendly inline widget end -->
    </li>
  </ul>
<!--  <div fxLayout="row" fxLayoutAlign="end center">-->
<!--    <button nz-button nzType="primary" (click)="removeDialog()" >Done</button>-->
<!--  </div>-->
  </div>
</div>
