.title {
  display: inline-block;
}
.profile-image {
  width: 127px;
  height: 127px;
  border: 1px solid #28464b;
  border-radius: 4px;
  overflow: hidden;
  img {
    height: 100%;
    width: auto;
  }
}

.customer-detail {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 0.6px;
}

.edit-container {
  vertical-align: text-bottom;
  text-align: center;
  display: inline-block;
  border: 1px solid #0070f6;
  background-color: #0070f6;
  border-radius: 4px;
  margin: 0 15px;
  width: 26.1px;
  height: 26.1px;
  line-height: 24px;
  a {
    padding: 0;
    vertical-align: middle;
    line-height: 24px;
    min-width: unset;
  }
  .edit-icon {
    color: white;
    font-size: 16px;
  }
}
.internal-content {
  width: 135px;
}
.content-type {
  padding-left: 24px;
}
.delete-icon {
  color: #ff4d4f;
  cursor: pointer;
}
.down-icon {
  font-size: 18px;
  cursor: pointer;
  color: #0070f6;
}
.search {
  width: 25%;
  padding-bottom: 24px;
}
video {
  vertical-align: middle;
}
.text-center {
  text-align: center;
}


.outer-container {
  // border: 1px dotted black;
  width: 135px;
  height: 100%;
  text-align: center;
  display: inline-block;
}
.inner-container {
  // border: 1px solid black;
  display: inline-block;
  position: relative;
}
.video-overlay {
  z-index: 999;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    /* margin: 10px; */
    /* padding: 5px 5px; */
    font-size: 20px;
    font-family: Helvetica;
    color: #FFF;
    background-color: rgba(50, 50, 50, 0.1);
}
video {
  width: 135px;
  height: 100%;
  min-height: 80px;
}