.title {
  display: inline-block; }

.profile-image {
  width: 127px;
  height: 127px;
  border: 1px solid #28464b;
  border-radius: 4px;
  overflow: hidden; }
  .profile-image img {
    height: 100%;
    width: auto; }

.customer-detail {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 0.6px; }

.edit-container {
  vertical-align: text-bottom;
  text-align: center;
  display: inline-block;
  border: 1px solid #0070f6;
  background-color: #0070f6;
  border-radius: 4px;
  margin: 0 15px;
  width: 26.1px;
  height: 26.1px;
  line-height: 24px; }
  .edit-container a {
    padding: 0;
    vertical-align: middle;
    line-height: 24px;
    min-width: unset; }
  .edit-container mat-icon {
    color: white;
    height: 18px;
    width: 18px;
    font-size: 18px; }
.edit-container .edit-icon {
  color: white;
  font-size: 16px; }

/*# sourceMappingURL=branding.component.css.map */
