<!-- <app-sidebar> -->
  <div class="nz-mb-0">
    <div>
      <div class="title-header" [ngTemplateOutlet]="brandTitle"></div>
      <nz-tabset [(nzSelectedIndex)]="selectedIndex" (nzSelectChange)="log([$event])">
        <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.name">
            <nz-spin [nzSize]="'large'" *ngIf="loading">
                <ng-container [ngTemplateOutlet]="content"></ng-container>
              </nz-spin>
            <ng-container *ngIf="!loading" [ngTemplateOutlet]="content"></ng-container>
        </nz-tab>
      </nz-tabset>
      <nz-empty nzNotFoundContent="You haven’t created any content yet" *ngIf="contents && contents.length === 0" class="no-content"></nz-empty>
      <div fxLayout="row" fxLayoutAlign="end start" *ngIf="contents && contents.length">
        <nz-pagination nzShowSizeChanger [nzPageSizeOptions]="pageSizeOptions" [nzPageSize]="contentPagination.limit" [nzPageIndex]="1"
          [nzTotal]="contentPagination.total" (nzPageIndexChange)="didPage($event)">
        </nz-pagination>
      </div>
    </div>
    <ng-template #content>
      <div class="search">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input [ngModel]="searchText" (ngModelChange)='searchModelChanged.next($event)' matInput placeholder=" Search"
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon type="search"></i>
        </ng-template>
      </div>
      <nz-table nzNoResult="" nzTemplateMode>
        <thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr>
            <th>
              Preview
            </th>
            <th nzShowSort nzSortKey="created_at">Created At</th>
            <th class="text-center ">
              Post
            </th>
            <!-- <th>
              Edit
            </th> -->
            <th class="text-center ">
              Download
            </th>
            <th class="text-center ">
              Delete
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let content of contents">
            <td>
              <img *ngIf="content.status === 'rendering'" class="internal-content" src="assets/styles/Rendering.gif" (click)="showPreview(content)">
              <img *ngIf="content.status !== 'rendering' && content.media_type === 'image'" [src]="content.url" (click)="showPreview(content)"
                [alt]="content.caption" class="internal-content" />

              <div class="outer-container" *ngIf="content.status !== 'rendering' && content.media_type === 'video'" (click)="showPreview(content)">
                  <div class="inner-container">
                      <div class="video-overlay"></div>
                      <video preload="none" id="player" controls
                      [src]="content.url"></video>
                  </div>
              </div>
                <span class="content-type" (click)="showPreview(content)">{{content.display_name}}</span>
            </td>
            <td>{{ content.created_at | date : "MM-dd-y"}}</td>
            <td nz-tooltip nzTooltipTitle="Content is not ready for Post" class="text-center ">
              <i nz-icon nzType="share-alt"
              [ngStyle]="{'color': content.status === 'ready' ? '#0170f7' : '#9d9a9a'}" class="down-icon" (click)="post(content)"></i>
            </td>
            <!-- <td>
                <i nz-icon nzType="edit" class="down-icon" (click)="gotToEdit(content)"></i>
              </td> -->
            <td class="text-center ">
              <span nz-tooltip nzTooltipTitle="Content is not ready for Download">
                <i nz-icon nzType="download"
                [ngStyle]="{'color': content.status === 'ready' ? '#0170f7' : '#9d9a9a'}" class="down-icon" (click)="download(content)"></i>
              </span>
            </td>
            <td class="text-center ">
              <i nz-icon nzType="delete" class="delete-icon" nzTheme="fill" (click)="contentDeleted(content)"></i>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </ng-template>
    <ng-template #brandTitle>
      <h1 class="title">
        Content
      </h1>
    </ng-template>
  </div>
<!-- </app-sidebar> -->