<form #f #customerForm="ngForm" nz-form fxLayout="column" fxLayoutAlign="start stretch">
  <h1 class="section-title section-title-small" *ngIf="!limitShow">Account Details</h1>
  <h5 class="section-description" *ngIf="!limitShow">Your personal account details that we use to communicate with you. This will not be seen by others.
  </h5>
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="25px" class="customer-form">
    <nz-form-item fxFlex="30%" *ngIf="!limitShow || showFields.includes('first_name')">
      <nz-form-label nzFor="first_name" nzRequired>First Name
      </nz-form-label>
      <nz-form-control nzErrorTip="Please input your first name!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input id="first_name" [(ngModel)]="model.first_name" name="first_name" [required]="requiredFields.includes('first_name')"
            placeholder="First Name" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item fxFlex="30%" *ngIf="!limitShow || showFields.includes('firstlast_name_name')">
      <nz-form-label nzFor="last_name" nzRequired>Last Name
      </nz-form-label>
      <nz-form-control nzErrorTip="Please input your last name!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input id="last_name" [(ngModel)]="model.last_name" name="last_name" [required]="requiredFields.includes('last_name')"
            placeholder="Last Name" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item fxFlex="60%" *ngIf="!limitShow || showFields.includes('email')">
      <nz-form-label nzFor="email" nzRequired>Email :
      </nz-form-label>
      <nz-form-control nzErrorTip="Please input your email!">
        <nz-input-group nzPrefixIcon="mail">
          <input type="text" nz-input id="email" [(ngModel)]="model.email" name="email" [required]="requiredFields.includes('email')"
            placeholder="E-mail" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item fxFlex="30%" *ngIf="!limitShow || showFields.includes('primary_phone')">
      <nz-form-label nzRequired for="primary_phone" nzFor="primary_phone">Phone Number</nz-form-label>
      <nz-form-control nzErrorTip="Please input your phone!">
        <nz-input-group nzPrefixIcon="phone">
          <input nz-input type="tel" id="primary_phone" [(ngModel)]="model.primary_phone" name="primary_phone" [required]="requiredFields.includes('primary_phone')">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item fxFlex="30%" *ngIf="!limitShow || showFields.includes('primary_city')">
      <nz-form-label nzFor="primary_city">City</nz-form-label>
      <nz-form-control>
        <input nz-input type="text" id="primary_city" [(ngModel)]="model.primary_city" name="primary_city" [required]="requiredFields.includes('primary_city')">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item fxFlex="20%" *ngIf="!limitShow || showFields.includes('primary_state')">
      <nz-form-label for="primary_state" nzFor="primary_state">State</nz-form-label>
      <nz-form-control>
        <input nz-input type="text" maxlength="2" id="primary_state" [(ngModel)]="model.primary_state" name="primary_state" [required]="requiredFields.includes('primary_state')">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item fxFlex="30%" *ngIf="!limitShow || showFields.includes('primary_zip')">
      <nz-form-label for="primary_state" nzFor="primary_zip">Zip</nz-form-label>
      <nz-form-control>
        <input nz-input type="tel" maxlength="5" class="form-control" id="primary_zip" [(ngModel)]="model.primary_zip" name="primary_zip"
          [required]="requiredFields.includes('primary_zip')">
      </nz-form-control>
    </nz-form-item>
  </div>
  <nz-divider *ngIf="!limitShow" [style.margin-bottom]="'30px'"></nz-divider>
  <h1 class="section-title section-title-small" *ngIf="!limitShow">Realtor Details</h1>
  <h5 class="section-description" *ngIf="!limitShow">Information about you including your brokerage and license number.
  </h5>
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="15px" class="customer-form">

    <nz-form-item fxFlex="30%" *ngIf="!limitShow || showFields.includes('brokerage')">
      <nz-form-label nzFor="brokerage" nzRequired>Brokerage
      </nz-form-label>
      <nz-form-control nzErrorTip="Please input your brokerage!">
        <input type="text" nz-input type="text" id="brokerage" [(ngModel)]="model.brokerage" name="brokerage" [required]="requiredFields.includes('brokerage')"
          placeholder="Brokerage" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item fxFlex="30%" *ngIf="!limitShow || showFields.includes('license_number')">
      <nz-form-label nzFor="license_number">License #
      </nz-form-label>
      <nz-form-control nzErrorTip="Please input your brokerage!">
        <input type="text" nz-input type="text" id="license_number" [(ngModel)]="model.license_number" name="license_number" [required]="requiredFields.includes('license_number')"
          placeholder="License #" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item fxFlex="30%" class="form-group" *ngIf="!limitShow || showFields.includes('credential')">
      <nz-form-label nzFor="credential">Credentials
      </nz-form-label>
      <nz-form-control>
        <nz-select id="credential" [(ngModel)]="model.credential" name="credential" [required]="requiredFields.includes('credential')"
          nzMode="multiple" nzPlaceHolder="Select credential">
          <nz-option *ngFor="let cred of credentials" [nzLabel]="cred" [nzValue]="cred"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-divider *ngIf="!limitShow" [style.margin-bottom]="'30px'"></nz-divider>
    <div class="title-header" *ngIf="!limitShow || showFields.includes('mls')">
      <h1 class="section-title section-title-small">MLS Connections</h1>
      <h5 class="section-description">Connect your MLS to unlock additional features.</h5>
      <div class="error">{{mlsError}}</div>
    </div>

    <div fxFlex="100%" fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="start stretch" *ngIf="!limitShow || showFields.includes('mls')" class="mls-section">
      <ng-container *ngFor="let conn of model.mls_connections; index as i">
        <div class="mls-connection mat-elevation-z8" *ngIf="conn.provider.toLowerCase() === 'mls'" fxLayout="column" fxLayoutAlign="center stretch">
          <div  [style.marginBottom]="'10px'">
            <h3 [style.display]="'inline-block'" class="mls-detail-header">MLS Details</h3>

            <button nzType="primary" nzShape="round" class="mr-2" [ngClass]="conn.status" *ngIf="conn.id || i !== model.mls_connections.length - 1"
              nz-button>
              {{conn.status}}
            </button>

            <button nzType="primary" nzShape="round" (click)="submitMls(model.mls_connections[i])" [ngClass]="conn.status" *ngIf="(conn.id || i !== model.mls_connections.length - 1 ) && conn.status ==='failed'"
              nz-button>
              Retry
            </button>
            <button nzType="danger" nzShape="round" *ngIf="conn.id || i === model.mls_connections.length - 1" [ngClass]="'remove'" (click)="deleteMLS(conn)"
              nz-button>
              Remove
            </button>
          </div>
          <div *ngIf="conn.error_message && conn.status === 'failed'" class="error-row">
            {{conn.error_message}}
          </div>
          <nz-form-control [nzValidateStatus]="!model.mls_connections[i].user_id_on_provider ? 'error' : null">
            <nz-select
              nzShowSearch
              [nzDisabled]="conn.status === 'pending' && conn.id"
              nzPlaceHolder="Search for your MLS"
              (ngModelChange)="onChangeMlsConnection(i, $event)"
              [(ngModel)]="conn.meta_data.feed_id"
              [ngModelOptions]="{standalone: true}"
              (nzOnSearch)="mlsSearchTerm.next($event)" required>
              <nz-option *ngFor="let mlsBoard of mlsBoardResults$ | async" [nzLabel]="mlsBoard.MLSName" [style.whiteSpace]="'normal'" [nzValue]="mlsBoard.FeedId.toString()">
              </nz-option>
            </nz-select>
          </nz-form-control>

          <nz-form-control [nzValidateStatus]="!conn.token ? 'error' : null">
            <input nz-input type="text" [attr.id]="i + '_mls_member_number'" [disabled]="conn.status === 'pending' && model.mls_connections[i].id" placeholder="MLS Member Number" [(ngModel)]="model.mls_connections[i].token"
              [name]="i + '_mls_member_number'" required>
          </nz-form-control>
          <div class="submit-mls" *ngIf="conn.token && conn.user_id_on_provider && !conn.id">
              <button nz-button nzType="primary" [nzLoading]="submitted" (click)="submitMls(conn)">
                Submit
              </button>
          </div>
        </div>
      </ng-container>
      <div class="mls-connection mls-connection-add mat-elevation-z8" fxLayout="column" fxLayoutAlign="center stretch">
        <button nz-button [style.color]="'#000'" (click)="addMLSConnection()" nzBlock>
          Add MLS Connection
        </button>
      </div>
    </div>

  </div>
  <nz-divider *ngIf="!limitShow" [style.margin-bottom]="'30px'"></nz-divider>
  <h1 class="section-title section-title-small" *ngIf="!limitShow">Display Details</h1>
  <h5 class="section-description" *ngIf="!limitShow">This is the information that will be displayed accross all your content (videos, flyers, etc.)
  </h5>
  <div fxLayout="row wrap" fxLayoutGap="15px" *ngIf="showFields.includes('images')">
    <h3 fxFlex="100%" *ngIf="!limitShow">Add/Edit Headshot and Logo</h3>
    <div class="image-card-wrapper">
      <span [class.invalid]="!imgaesValid('image') && highlightInvalid">Headshot{{requiredFields.includes('images') ? ' *' : ''}}</span>
      <app-image-handler [content]= "model" [imageable_type]= "'headshot'" [config]= "headshotConfig" (imageObject)="setHeadshot($event)"></app-image-handler>
    </div>
    <div class="image-card-wrapper">
      <span [class.invalid]="!imgaesValid('logo') && highlightInvalid">Logo{{requiredFields.includes('images') ? ' *' : ''}}
      </span>
      <app-image-handler [content]= "model" [imageable_type]= "'logo'" [config]="logoConfig" (imageObject)="setLogo($event)"></app-image-handler>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="15px" class="customer-form">
    <nz-form-item fxFlex="30%" *ngIf="!limitShow || showFields.includes('display_name')">
      <nz-form-label nzFor="display_name" nzRequired>Display Name</nz-form-label>
      <nz-form-control>
        <input nz-input type="text" id="display_name" [(ngModel)]="model.display_name" name="display_name" [required]="requiredFields.includes('display_name')">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item fxFlex="30%" *ngIf="!limitShow || showFields.includes('preferred_title')">
      <nz-form-label nzFor="preferred_title" nzRequired>Title</nz-form-label>
      <nz-form-control>
        <nz-select id="preferred_title" [(ngModel)]="model.preferred_title" name="preferred_title" [required]="requiredFields.includes('preferred_title')"
          nzPlaceHolder="Select title">
          <nz-option *ngFor="let title of titles" [nzLabel]="title" [nzValue]="title"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item fxFlex="30%" *ngIf="!limitShow || showFields.includes('display_email')">
      <nz-form-label nzFor="display_email" nzRequired>Display Email
      </nz-form-label>
      <nz-form-control nzErrorTip="Please input your display phone!">
        <input nz-input type="text" class="form-control" id="display_email" [(ngModel)]="model.display_email" name="display_email"
          [required]="requiredFields.includes('display_email')" placeholder="Display Email" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item fxFlex="30%" *ngIf="!limitShow || showFields.includes('display_phone')">
      <nz-form-label nzFor="display_phone" nzRequired>Display Phone
      </nz-form-label>
      <nz-form-control nzErrorTip="Please input your display phone!">
        <input nz-input type="tel" class="form-control" id="display_phone" [(ngModel)]="model.display_phone" name="display_phone"
          [required]="requiredFields.includes('display_phone')" placeholder="Display Phone" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item fxFlex="30%" *ngIf="!limitShow || showFields.includes('office_phone')">
      <nz-form-label nzFor="office_phone">Office Phone
      </nz-form-label>
      <nz-form-control>
        <input nz-input type="tel" id="office_phone" [(ngModel)]="model.office_phone" name="office_phone" [required]="requiredFields.includes('office_phone')"
          placeholder="Office Phone">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item fxFlex="30%" *ngIf="!limitShow || showFields.includes('website_url')">
      <nz-form-label nzFor="website_url">Website
      </nz-form-label>
      <nz-form-control>
        <input nz-input type="text" id="website_url" [(ngModel)]="model.website_url" name="website_url" [required]="requiredFields.includes('website_url')"
          placeholder="Website">
      </nz-form-control>
    </nz-form-item>
  </div>
  <nz-divider *ngIf="!limitShow" [style.margin-bottom]="'30px'"></nz-divider>
  <h1 class="section-title section-title-small" *ngIf="showFields.includes('banner_images')" [class.invalid]="!imgaesValid('banner_images')
    && highlightInvalid">
    Banner Images
  </h1>
  <div *ngIf="showFields.includes('banner_images')">
    <h5 class="section-description"  [class.invalid]="!imgaesValid('banner_images') && highlightInvalid">
      These are the images we will use for your banner content.{{requiredFields.includes('banner_images') ? ' (5 required)' : ''}}
    </h5>
    <nz-divider [style.margin-bottom]="'30px'"></nz-divider>
    <app-images-reorder [images]="model.images_attributes" [imageable_type]="'Customer'"></app-images-reorder>
  </div>
  </form>
