.listing-details {


  text-align: center;
  padding: 10px 0;

  .address {

    .address-text {
      font-size: 28px;
      font-weight: bold;
      margin: 0;
      display: inline-block;
    }

    .edit-container {
      margin-top: 10px;
      display: inline-block;
      border: 1px solid #0070f6;
      background-color: #0070f6;
      border-radius: 4px;
      margin-left: 15px;
      width: 26.1px;
      height: 26.1px;
      line-height: 24px;

      a {
        padding: 0;
        vertical-align: middle;
        line-height: 24px;
        min-width: unset;
      }

      mat-icon {
        color: white;
        height: 18px;
        width: 18px;
        font-size: 18px;
      }
    }

    .delete-container {
      margin-top: 10px;
      display: inline-block;
      border: 1px solid #ff4d4f;
      background-color: #ff4d4f;
      border-radius: 4px;
      margin-left: 15px;
      width: 26.1px;
      height: 26.1px;
      line-height: 24px;
      cursor: pointer;

      button {
        padding: 0;
        vertical-align: middle;
        line-height: 24px;
        min-width: unset;
      }

      mat-icon {
        color: white;
        height: 18px;
        width: 18px;
        font-size: 18px;
      }
    }

    // a {
    //   margin-left: 15px;
    //   display: inline-block;
    // }
  }

  .info {
    mat-divider {
      margin-bottom: 10px;
    }

    .info-item {
      font-size: 14px;
      margin-bottom: 15px;
      // min-width: 90px;
    }
  }

  .image-container {
    // height: 85px;
    margin-bottom: 15px;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.transition {
  transition: all .4s ease-in-out;
}

.carousel {
  .content {
    display: flex;

    .item {
      width: 100%;
      display: block;

      .img {
        width: 100%;
        display: block;
        background-size: cover;
        background-position: center;
        height: 0;
        padding-bottom: 50%;
      }
    }
  }

  .item {
    width: 100%;
    display: block;

    .img {
      width: 100%;
      display: block;
      background-size: cover;
      background-position: center;
      height: 0;
      padding-bottom: 50%;
    }
  }

  .ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    border: 2px solid;
    opacity: 0.5;

    &.visible {
      opacity: 1;
    }
  }

  .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: #ff5252;
  }

  .click-area {
    width: 50px;
    text-align: center;

    i {
      font-size: 3em;
    }
  }
}
@media only screen and (max-width: 420px) {
  .listing-details {
    .address {
      .address-text {
        font-size: 20px;
      }
    }
  }
}

