<!-- <nz-layout> -->
  <div class="nz-mb-0 nz-pb-0">
    <nz-spin nzSimple [nzSize]="'large'" *ngIf="loading"></nz-spin>
    <div class="listing-details" fxLayout="column" fxLayoutAlign="space-around stretch" fxFlex="100%">
      <div class="address" fxLayout="row" fxLayoutAlign="start start">
        <div class="address-text">{{listing.address}}</div>
        <div class="edit-container">
          <a [routerLink]="editLink">
          <i nz-icon [style.color]="'#fff'" nzType="edit" nzTheme="outline"></i>
          </a>
        </div>
        <div class="delete-container" (click)="deleteListing()">
            <i nz-icon [style.color]="'#fff'" nzType="delete" nzTheme="outline"></i>
        </div>
        <!-- <h1>{{listing.city}}, {{listing.state}} {{listing.zip}}</h1> -->
      </div>
      <div class="info" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="15px">
        <ng-container *ngFor="let field of previewFields">
          <div class="info-item" *ngIf="listing[field.field]">
            <fa-icon *ngIf="field.icon" [icon]="field.icon.split(' ')" size="1x"></fa-icon>
            <ng-container [ngSwitch]="field.fieldType">
              <span *ngSwitchCase="'currency'">
                {{field.prefix ? field.prefix : ''}}
                {{ listing[field.field] | currency:'USD':'' }}
                {{field.suffix ? field.suffix : ''}}
              </span>
              <span *ngSwitchCase="'number'">
                {{field.prefix ? field.prefix : ''}}
                {{ isNumber(listing[field.field]) ? (listing[field.field] | number:'1.0-2' : '') : listing[field.field] }}
                {{field.suffix ? field.suffix : ''}}
              </span>
              <span *ngSwitchDefault>
                {{field.prefix ? field.prefix : ''}}
                {{ listing[field.field] }}
                {{field.suffix ? field.suffix : ''}}
              </span>
            </ng-container>
          </div>
        </ng-container>

      </div>
      <div class="images" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="15px">
        <div class="image-container" *ngFor="let image of listing.featured_images" fxFlex>
          <img *ngIf="image" [src]="image.large">
        </div>

      </div>
    </div>
  </div>
  <!--  <div class="is_desktop nz-plr-15">-->
  <!--    <nz-divider></nz-divider>-->
  <!--  </div>-->
<!-- </nz-layout> -->