.listing-details {
  text-align: center;
  padding: 10px 0; }
  .listing-details .address .address-text {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    display: inline-block; }
  .listing-details .address .edit-container {
    display: inline-block;
    border: 1px solid #0070f6;
    background-color: #0070f6;
    border-radius: 4px;
    margin-left: 15px;
    width: 26.1px;
    height: 26.1px;
    line-height: 24px; }
    .listing-details .address .edit-container a {
      padding: 0;
      vertical-align: middle;
      line-height: 24px;
      min-width: unset; }
    .listing-details .address .edit-container mat-icon {
      color: white;
      height: 18px;
      width: 18px;
      font-size: 18px; }
  .listing-details .address .delete-container {
    display: inline-block;
    border: 1px solid #ff4d4f;
    background-color: #ff4d4f;
    border-radius: 4px;
    margin-left: 15px;
    width: 26.1px;
    height: 26.1px;
    line-height: 24px;
    cursor: pointer; }
    .listing-details .address .delete-container button {
      padding: 0;
      vertical-align: middle;
      line-height: 24px;
      min-width: unset; }
    .listing-details .address .delete-container mat-icon {
      color: white;
      height: 18px;
      width: 18px;
      font-size: 18px; }
  .listing-details .info mat-divider {
    margin-bottom: 10px; }
  .listing-details .info .info-item {
    font-size: 14px;
    margin-bottom: 15px; }
  .listing-details .image-container {
    margin-bottom: 15px; }
    .listing-details .image-container img {
      width: 100%;
      height: auto; }

.transition {
  transition: all .4s ease-in-out; }

.carousel .content {
  display: flex; }
  .carousel .content .item {
    width: 100%;
    display: block; }
    .carousel .content .item .img {
      width: 100%;
      display: block;
      background-size: cover;
      background-position: center;
      height: 0;
      padding-bottom: 50%; }
.carousel .item {
  width: 100%;
  display: block; }
  .carousel .item .img {
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center;
    height: 0;
    padding-bottom: 50%; }
.carousel .ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  border: 2px solid;
  opacity: 0.5; }
  .carousel .ball.visible {
    opacity: 1; }
.carousel .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: #ff5252; }
.carousel .click-area {
  width: 50px;
  text-align: center; }
  .carousel .click-area i {
    font-size: 3em; }

@media only screen and (max-width: 420px) {
  .listing-details .address .address-text {
    font-size: 20px; } }

/*# sourceMappingURL=listing-preview.component.css.map */
