<div class="main-container">
  <div class="registration-container">
    <p class="reg">Registration</p>
    <h2 class="header1">What will your billboard ad look like?</h2>
    <p class="description">Fill in your business information below to start playing with your Dashboard.</p>
    <div nz-row class="registration-tabs">
      <div nz-col [nzLg]="{ span: 24 }" [nzXl]="{ span: 13 }" class="tab-section">
        <nz-tabset [nzSelectedIndex]="currentTab" (nzSelectedIndexChange)="changeIndex($event);" #tabcontainer>
          <!-- [nzDisabled]="(i === 1 && !isPersonalDetailsValid || (i===2 && !isBrandingFormValid || ( i ==2 && !isPersonalDetailsValid"  -->
          <nz-tab *ngFor="let tab of tabs; let i = index" [nzTitle]="titleTemplate" class="reg-tab" [style.width]="tabWidth">
            <ng-template #titleTemplate>
              <span class="tab">
                {{i + 1}}.
                <i nz-icon [type]="tab.icon"></i>{{ tab.name }}
              </span>
            </ng-template>
            <div class="tab-content" *ngIf="currentTab === 0">
              <form #detailForm="ngForm" nz-form>
                <div nz-row nzGutter="16">
                  <div nz-col class="gutter-row" nzSpan="12">
                    <div class="gutter-box">
                      <nz-form-item class="mar-b">
                        <nz-form-label class="input-title" nzFor="display_name" nzRequired>Display Name</nz-form-label>
                        <span class="input-subtitle">Shown on all your videos, flyers & more!</span>
                        <nz-form-control>
                          <input nz-input required type="text" id="display_name" [(ngModel)]="model.display_name" name="display_name">
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                  <div nz-col class="gutter-row" nzSpan="12">
                    <div class="gutter-box">
                      <nz-form-item class="mar-b">
                        <nz-form-label class="input-title" nzFor="brokerage" nzRequired>Brokerage</nz-form-label>
                        <span class="input-subtitle">What company do you work for?</span>
                        <nz-form-control nzErrorTip="Please input your brokerage!">
                          <input type="text" required nz-input type="text" id="brokerage" [(ngModel)]="model.brokerage" name="brokerage" placeholder="Brokerage"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>

                  <div nz-col class="gutter-row" nzSpan="12">
                    <div class="gutter-box input-box">
                      <nz-form-item class="mar-b">
                        <nz-form-label class="input-title" nzFor="preferred_title" nzRequired>Job Title</nz-form-label>
                        <span class="input-subtitle">Realtor? Superman? Batman? Tell us!</span>

                        <nz-form-control>
                          <nz-select id="preferred_title" [(ngModel)]="model.preferred_title" name="preferred_title" nzPlaceHolder="Select title">
                            <nz-option *ngFor="let title of titles" [nzLabel]="title" [nzValue]="title"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                  <div nz-col class="gutter-row" nzSpan="12">
                    <div class="gutter-box input-box">
                      <nz-form-item class="mar-b">
                        <nz-form-label class="input-title" nzFor="display_email" nzRequired>Business Email</nz-form-label>
                        <span class="input-subtitle">How can your prospects contact you?</span>
                        <nz-form-control nzErrorTip="Please input your display phone!">
                          <input nz-input type="text" class="form-control" id="display_email" [(ngModel)]="model.display_email" name="display_email"
                            placeholder="Display Email" />
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                  <div nz-col class="gutter-row" nzSpan="12">
                    <div class="gutter-box input-box">
                      <nz-form-item class="mar-b">
                        <nz-form-label class="input-title" nzFor="display_phone" nzRequired>Display Number</nz-form-label>
                        <span class="input-subtitle">Your main business contact number.</span>
                        <nz-form-control nzErrorTip="Please input your display phone!">
                          <input nz-input type="tel" class="form-control" id="display_phone" [(ngModel)]="model.display_phone" name="display_phone"
                            required placeholder="Display Phone" />
                        </nz-form-control>
                      </nz-form-item>
                      <!-- <input nz-input placeholder="Display Number" /> -->
                    </div>
                  </div>
                  <div nz-col class="gutter-row" nzSpan="12">
                    <div class="gutter-box input-box">
                      <nz-form-item class="mar-b">
                        <nz-form-label class="input-title" nzFor="website_url">Website</nz-form-label>
                        <span class="input-subtitle">Your personal agent or brokerage page.</span>

                        <nz-form-control>
                          <input nz-input type="text" id="website_url" [(ngModel)]="model.website_url" name="website_url" placeholder="Website">
                        </nz-form-control>
                      </nz-form-item>
                      <!-- <input nz-input placeholder="Website" /> -->
                    </div>
                  </div>
                  <div nz-col class="gutter-row" nzSpan="12">
                    <div class="gutter-box input-box">
                      <nz-form-item class="mar-b">
                        <nz-form-label class="input-title" nzFor="license_number" nzRequired>License #</nz-form-label>
                        <span class="input-subtitle">Your main business contact number.</span>
                        <nz-form-control nzErrorTip="Please input your brokerage!">
                          <input type="text" nz-input type="text" id="license_number" [(ngModel)]="model.license_number" name="license_number" required
                            placeholder="License #" />
                        </nz-form-control>
                      </nz-form-item>
                      <!-- <input nz-input placeholder="License #" /> -->
                    </div>
                  </div>
                  <div nz-col class="gutter-row" nzSpan="12">
                    <div class="gutter-box input-box">
                      <span class="input-title">Credentials</span>
                      <span class="input-subtitle">Your personal agent or brokerage page..</span>
                      <!-- <input nz-input placeholder="Credentials" /> -->
                      <nz-form-item class="mar-b">
                        <nz-form-control>
                          <nz-select id="credential" [(ngModel)]="model.credential" name="credential" nzMode="multiple" nzPlaceHolder="Select credential">
                            <nz-option *ngFor="let cred of credentials" [nzLabel]="cred" [nzValue]="cred"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                </div>
                <div nz-row class="input-box action-btn">
                  <button nz-button nzType="primary" (click)="nextTab()" [disabled]="!detailForm.form.valid">Next</button>
                </div>
              </form>
            </div>

            <div class="tab-content" *ngIf="currentTab === 1">
              <div nz-row nzGutter="16">
                <div nz-col class="gutter-row" nzSpan="12">
                  <div class="gutter-box">
                    <span class="input-title">Headshot Photo</span>
                    <span class="input-subtitle">Show us those pearly whites!</span>
                    <div class="image-selector">
                      <app-image-handler [content]="model" [imageable_type]="'headshot'" [config]="headshotConfig" (imageObject)="setHeadshot($event)"></app-image-handler>
                    </div>
                  </div>
                </div>
                <div nz-col class="gutter-row" nzSpan="12">
                  <div class="gutter-box">
                    <span class="input-title">Business Logo</span>
                    <span class="input-subtitle">A clear high-res logo of your brokerage.</span>
                    <div class="image-selector">
                      <app-image-handler [content]="model" [imageable_type]="'logo'" [config]="logoConfig" (imageObject)="setLogo($event)"></app-image-handler>
                    </div>

                  </div>
                </div>
              </div>
              <div nz-row>
                <span class="input-title">Brand Colors</span>
                <span class="input-subtitle">These colors will be used to brand your content..</span>
              </div>

              <div nz-row nzGutter="16">
                <div nz-col class="gutter-row" nzSpan="12">
                  <div class="gutter-box">
                    <span class="input-title">Background Color</span>
                    <mcc-color-picker class="color-picker-selector" [selectedColor]="model.bg_color" [hideUsedColors]="true" [hideButtons]="true"
                      [hideHexForms]="true" mccConnectedColorPicker [mccConnectedColorPickerOrigin]="trigger" [hideColorPickerSelector]="false">
                      <mcc-color-picker-collection [label]="'Colors'" [colors]="colors">
                      </mcc-color-picker-collection>
                    </mcc-color-picker>
                    <nz-form-item appearance="fill" class="form-field color-field">
                      <!-- <nz-form-label for="bg_color">Background</nz-form-label> -->
                      <nz-form-control>
                        <input nz-input type="text" id="bg_color" mccColorPickerOrigin #trigger="mccColorPickerOrigin" [(ngModel)]="brandColor.bg_color"
                          name="bg_color" [value]="brandColor.bg_color" (change)="updateColor('bg_color');" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>

                <div nz-col class="gutter-row" nzSpan="12">
                  <div class="gutter-box">
                    <span class="input-title">Text Color</span>
                    <mcc-color-picker class="color-picker-selector" [selectedColor]="brandColor.text_color" [hideUsedColors]="true" [hideButtons]="true"
                      [hideHexForms]="true" mccConnectedColorPicker [mccConnectedColorPickerOrigin]="trigger1">
                      <mcc-color-picker-collection [label]="'Colors'" [colors]="colors">
                      </mcc-color-picker-collection>
                    </mcc-color-picker>
                    <nz-form-item appearance="fill" class="form-field color-field">
                      <!-- <nz-form-label for="text_color">Text Color</nz-form-label> -->
                      <nz-form-control>
                        <input nz-input type="text" id="text_color" mccColorPickerOrigin #trigger1="mccColorPickerOrigin" (change)="updateColor('text_color');"
                          [(ngModel)]="brandColor.text_color" name="text_color" [value]="model.text_color" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
              </div>
              <div nz-row class="input-box action-btn">
                <button nz-button nzType="primary" (click)="submitBranding()" [disabled]="!isBrandingFormValid">{{ model.needs_password_reset ? 'Next' : 'Ready to Go!'}}</button>
              </div>
            </div>

            <div class="tab-content" *ngIf="currentTab === 2">
              <form #pwdForm="ngForm" nz-form>
                <div nz-row nzGutter="16">
                  <div nz-col class="gutter-row" nzSpan="12">
                    <div class="gutter-box">
                      <nz-form-item class="mar-b">
                        <nz-form-label class="input-title" nzFor="password" nzRequired>Create Password</nz-form-label>
                        <span class="input-subtitle">Use this with your email to log in.</span>
                        <nz-form-control>
                          <input nz-input required placeholder="Password" type="password" id="password" [(ngModel)]="model.password" name="password">
                          <span class="error left" *ngIf="!model.password && submitted">Password is required
                          </span>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                  <div nz-col class="gutter-row" nzSpan="12">
                    <div class="gutter-box">
                      <nz-form-item class="mar-b">
                        <nz-form-label class="input-title" nzFor="confirmPassword" nzRequired>Confirm Password</nz-form-label>
                        <span class="input-subtitle">Re-type your password.</span>
                        <nz-form-control nzErrorTip="Please input your brokerage!">
                          <input type="password" required nz-input type="text" id="confirmPassword" [(ngModel)]="model.password_confirmation" name="brokerage"
                            placeholder="Confirm Password" />
                          <span class="error left" *ngIf="model.password && submitted && model.password_confirmation && model.password != model.password_confirmation">Your password and confirmation password do not match.
                          </span>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                </div>
                <div nz-row class="input-box action-btn">
                  <button nz-button nzType="primary" (click)="submitCustomer()" [disabled]="!pwdForm.form.valid">Ready to Go!</button>
                </div>
              </form>
            </div>
          </nz-tab>
        </nz-tabset>
      </div>
      <div nz-col [nzLg]="{ span: 24 }" [nzXl]="{ span: 11 }" class="display-info">
        <div class="img-cont">
          <div class="top-img"></div>
        </div>
        <div class="back-shadow">
          <div class="img" [style.color]="brandColor.text_color" [style.background-color]="brandColor.bg_color">
            <div nz-row class="banner-text">
              <div nz-col nzSpan="8" class="img-container">
                <img [src]="model.image.large" alt="" class="headshot-image" *ngIf="model.image && model.image.large">
              </div>
              <div nz-col nzSpan="8" class="text">
                <p class="text-spacing">{{model.brokerage}}</p>
                <p>{{model.display_name}}</p>
                <p class="sub">{{model.preferred_title}}</p>
                <p class="sub text-spacing">{{model.credential}}</p>
                <p class="text-spacing">{{model.display_phone}}</p>
                <p class="sub">{{model.website_url}}</p>
                <p class="sub">{{model.display_email}}</p>
                <p class="sub" *ngIf="model.license_number">License #{{model.license_number}}</p>
              </div>
              <div nz-col nzSpan="8" class="img-container">
                <img [src]="model.logo.large" alt="" class="logo-image" *ngIf="model.logo && model.logo.large">
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-img-cont">
          <div class="bottom-img"></div>
        </div>
      </div>
    </div>
  </div>
</div>