.reg {
    color: #0070f6;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 8px;
}

.header1 {
    color: #393853;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0;
}

.description {
    font-weight: SemiBold;
    font-size: 16px;
    color: #272727;
}

.tab {
    font-size: 14px;
    font-weight: bold;
}

.display-info {
    text-align: -webkit-center;
    padding-top: 75px;
    .img {
        height: 220px;
        background: transparent url('https://universal-promote.s3-us-west-1.amazonaws.com/EmptyBillboard_1.png');
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 500px;
        width: 420px;
    }
}

.banner-text {
    padding-top: 48px;
    text-align: center;
    align-items: center;
    .text {
        p {
            margin: 0;
        }
    }
    .img-container {
        margin-top: 24px;
        img {
            width: 88px;
            height: 88px;
        }
    }
}

.tab-content {
    padding: 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #0000000A;
    border: 1px solid #EAEDF3;
    border-radius: 4px;
    min-height: 350px;
}

.input-title {
    font-weight: bold;
    font-size: 14px;
    display: block;
    overflow: hidden;
    line-height: 24px;
    white-space: nowrap;
    text-align: unset;
}

.input-subtitle {
    // font-weight: bold;
    font-size: 12px;
}

.input-box {
    margin-top: 16px;
}

.action-btn {
    text-align: center;
    button {
        width: 180px;
    }
}

.registration-container {
    padding: 52px;
}

.main-container {
    height: 100%; //calc(100% - 50px);
    overflow-y: scroll; // overflow-x: hidden;
    max-width: 100%;
    width: 100%;
    background: #FBFBFD 0% 0% no-repeat padding-box;
}

.image-selector {
    margin-right: 90px !important;
    margin-top: 16px !important;
}

.background {
    height: 52%;
}

.top-img {
    background: transparent url('https://universal-promote.s3-us-west-1.amazonaws.com/TopBillboard.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    position: relative;
    top: 65px;
    max-width: 500px;
    width: 320px;
}

.bottom-img {
    background: transparent url('https://universal-promote.s3-us-west-1.amazonaws.com/BottomBillboard.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    position: relative;
    top: -107px;
    max-width: 500px;
    width: 438px;
}

.img-cont {
    // padding-left: 58px;
}

.text {
    font-size: 14px;
    font-weight: bold;
    .sub {
        font-size: 8px;
    }
}

.text-spacing {
    margin-bottom: 8px !important;
}

.mar-b {
    margin-bottom: 0 !important;
}

.required {
    color: #f5222d;
}

.headshot-image {
    border-radius: 50%;
}
.reg-tab {
    width: 222px;
}

.back-shadow {
    padding-left: 45px;
    background: transparent radial-gradient(closest-side at 50% 50%, #303030 0%, #0F0F0F2E 61%, #0C0C0C00 100%) 0% 0% no-repeat padding-box;
    padding-right: 45px;
    padding-top: 45px;
    width: 534px;
    height: 326px;
}
.bottom-img-cont {
    padding-left: 35px;
    padding-right: 35px;
}
.tab-section {
  max-width: 724px !important;
}