<!-- <app-sidebar> -->
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="25px">
    <div class="container" fxLayout="row wrap" fxLayoutAlign="start start">
      <div class="market-reports-details " fxLayout="column" fxLayoutAlign="space-around stretch" fxFlex="100%">
        <div class="report" fxLayout="row" fxLayoutAlign="start start">
          <div class="report-title">{{marketreport.region_name}} ({{marketreport.zips.join(', ')}})</div>
          <div class="edit-container">
            <a [routerLink]="editLink" class="edit-icon">
                <i nz-icon nzType="edit" nzTheme="outline"></i>
            </a>
          </div>
          <div class="delete-container" (click)="deleteReport()">
                <i nz-icon nzType="delete" nzTheme="outline"></i>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="25px">
          <nz-spin [nzSize]="'large'" *ngIf="loading">
            </nz-spin>
          <nz-table nzNoResult="" nzTemplateMode>
            <thead>
            <tr *ngFor="let insightKey of generateInsight(insights) | slice:1:2">
              <th>Insights</th>
              <th>{{getFormatedDate(generateFirstColumn(insights))}}</th>
              <th>{{getFormatedDate(generatesecondColumn(insights))}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let insightKey of generateInsight(insights)">
              <td>{{camelToTitle(insightKey)}}</td>
              <td>
                {{insights[insightKey][generateFirstColumn(insights)]}}
              </td>
              <td>
                {{insights[insightKey][generatesecondColumn(insights)]}}
              </td>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </div>

    </div>
    <ng-container [ngTemplateOutlet]="productsCards"></ng-container>
    <div class="title-header">
      <h2 class="title">
        This Market Report's Content
      </h2>
    </div>
    <div *ngIf="nocontents" class="no-content" fxLayout="row" fxLayoutAlign="center center">
      <img src="assets/images/nocontentyet.svg" />
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <app-content-card *ngFor="let content of contents" [content]="content" (deleted)="contentDeleted($event)"
                        showMoreMenu="true"></app-content-card>
    </div>
  </div>
  <ng-template #productsCards>
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="6" nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6" class="products-container" *ngFor="let product of products">
        <app-card-button [config]="product" cardType="product-card"></app-card-button>
      </div>
    </div>
  </ng-template>
<!-- </app-sidebar> -->
