.image-card {
  position: relative;
  width: 208px;
  height: 117px;
  border-radius: 4px;
  border: 1px solid lightgray;
  cursor: pointer;
  margin-bottom: 25px;
  background-color: #30d289;
  text-align: center;
  font-size: 56px;
  color: white;
  overflow: hidden;

  .mat-icon {
    height: 56px;
    width: 56px;
    font-size: 56px;
  }

  img {
    height: 100%;
    width: auto;
  }
}

::ng-deep .suffix-select {
  width: auto;

  .mat-select-value {
    max-width: unset !important;
  }

  .mat-select-arrow-wrapper {
    transform: unset !important;
  }
}
.lot-select{
  min-width: 80px;
}

.err-msg {
  color: #f5222d;
}
.photo-loading{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0 , 0.3);
  padding-top: 12%;
}
.date-control{
  position: relative;
  display: inline-block;
  height: 32px;
  padding: 4px 11px;
  color: rgba(0,0,0,.65);
  font-size: 14px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all .3s;
  &:focus{
    line-height: initial;
  }
} 