
<div class="container">
  <form #listingForm="ngForm" nz-form fxLayout="column" fxLayoutAlign="start stretch">
    <h1 class="section-title section-title-small" *ngIf="!limitShow || showFields.includes('images')"
        [class.invalid]="!imagesValid('images') && highlightInvalid">Add/Edit
      Photos{{requiredFields.includes('images') ? ' * (5 required)' : ''}}</h1>
    <h5 class="section-description" *ngIf="!limitShow || showFields.includes('images')">Upload 5 shots of the property
      to show off.</h5>

    <!-- NEED TO HANDLE EXTRA LISTING IMAGES -->
    <app-images-reorder [images]="model.images_attributes" [content]="model" [imageable_type]="'Listing'"></app-images-reorder>

    <nz-form-item appearance="fill" fxFlex="30%" *ngIf="showFields.includes('locale')">
      <!-- <mat-label for="locale">Locale</mat-label> -->
      <nz-form-label>Locale</nz-form-label>
      <nz-form-control>
        <input nz-input maxlength="27" type="text" class="form-control" id="locale" [(ngModel)]="model.locale"
               name="locale" [required]="requiredFields.includes('locale')" [readonly]="lockedFields.includes('locale')">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item appearance="fill" fxFlex="100%" *ngIf="!limitShow || showFields.includes('address')">
      <nz-form-label for="address" [nzRequired]="requiredFields.includes('address')">Address</nz-form-label>
      <nz-form-control>
        <input nz-input maxlength="65" type="text" class="form-control" id="address" [(ngModel)]="model.address"
               name="address" [required]="requiredFields.includes('address')" [readonly]="lockedFields.includes('address')">
      </nz-form-control>
    </nz-form-item>
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="25px" fxLayoutGap.xs="0">
      <nz-form-item appearance="fill" fxFlex="30%" fxFlex.xs="46%" *ngIf="!limitShow || showFields.includes('listing_type')">
        <nz-form-label for="listing_type" [nzRequired]="requiredFields.includes('listing_type')" >Property Type</nz-form-label>
        <nz-select id="listing_type" [(ngModel)]="model.listing_type" name="listing_type" [ngClass]="{'has-error': !model.listing_type && submitted}"
                   [required]="requiredFields.includes('listing_type')" (ngModelChange)="changePropertyType($event)">
          <nz-option *ngFor="let type of property_types" [nzValue]="type" [nzLabel]="type"></nz-option>
        </nz-select>
      </nz-form-item>
      <nz-form-item appearance="fill" fxFlex="32%" fxFlex.xs="47%" class="form-group m-l-25"
                    *ngIf="!limitShow || showFields.includes('listing_status')">
        <nz-form-label for="listing_status" [nzRequired]="requiredFields.includes('listing_status')">Status</nz-form-label>
        <nz-select id="listing_status" [(ngModel)]="model.listing_status" name="listing_status" [ngClass]="{'has-error': requiredFields.includes('listing_status') && !model.listing_status && submitted}"
                   [required]="requiredFields.includes('listing_status')" [disabled]="lockedFields.includes('listing_status')">
          <nz-option *ngFor="let stat of status" [nzValue]="stat" [nzLabel]="stat"></nz-option>
        </nz-select>
      </nz-form-item>
      <nz-form-item appearance="fill" fxFlex="32%" fxFlex.xs="100%"class="form-group" *ngIf="showFields.includes('transaction_type')">
        <nz-form-label for="transaction_type" [nzRequired]="requiredFields.includes('transaction_type')">Transaction Type</nz-form-label>
        <nz-select id="transaction_type" [(ngModel)]="model.transaction_type" name="transaction_type"
                   [required]="requiredFields.includes('transaction_type')" (ngModelChange)="changeTransactionType($event)"
                   [disabled]="lockedFields.includes('transaction_type')"
                   [ngClass]="{'has-error': !model.transaction_type && requiredFields.includes('transaction_type') && submitted}">
          <nz-option nzValue="Sale" nzLabel="Sale"></nz-option>
          <nz-option nzValue="Lease" nzLabel="Lease"></nz-option>
          <nz-option nzValue="Purchase" nzLabel="Purchase"></nz-option>
        </nz-select>
      </nz-form-item>



      <nz-form-item appearance="fill" fxFlex="30%" fxFlex.xs="46%" *ngIf="!limitShow || showFields.includes('price')">
        <nz-form-label for="price" [nzRequired]="requiredFields.includes('price')" >Price</nz-form-label>
        <nz-form-control nzErrorTip="Only number is allowed!">
          <nz-input-group nzPrefix="$">
          <input nz-input type="text" pattern="\d*" (keyup)="onKey($event,'price')" class="form-control" id="price" [(ngModel)]="model.price" name="model.price"
                 [required]="requiredFields.includes('price')">
          <!--        <span matPrefix>$&nbsp;</span>-->
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item appearance="fill" fxFlex="30%" fxFlex.xs="47%" class="m-l-25" *ngIf="!limitShow || showFields.includes('year_build')">
        <nz-form-label for="year_build" [nzRequired]="requiredFields.includes('year_build')">Year Built</nz-form-label>
        <nz-form-control nzErrorTip="Only number is allowed!">
          <input nz-input type="text" pattern="\d*" (keyup)="onKey($event,'year_build')" maxLength="4" class="form-control" id="year_build"
                 [(ngModel)]="model.year_build" name="model.year_build" [required]="requiredFields.includes('year_build')">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item appearance="fill" fxFlex="14.5%" fxFlex.xs="20%" *ngIf="!limitShow || showFields.includes('beds')">
        <nz-form-label for="beds" [nzRequired]="requiredFields.includes('beds')">Beds</nz-form-label>
        <nz-form-control nzErrorTip="Only number is allowed!">
          <input nz-input type="text" pattern="\d*" class="form-control" id="beds" [(ngModel)]="model.beds" name="beds"
                 [required]="requiredFields.includes('beds')" [readonly]="lockedFields.includes('beds')">
                 <!-- <div class="ant-form-explain err-msg">
                   <span>only number is allowed!</span>
                  </div> -->
        </nz-form-control>
      </nz-form-item>

      <nz-form-item appearance="fill" fxFlex="15%" fxFlex.xs="20%" class="m-l-20" *ngIf="!limitShow || showFields.includes('baths')">
        <nz-form-label for="baths" [nzRequired]="requiredFields.includes('baths')">Baths</nz-form-label>
        <nz-form-control nzErrorTip="Only number is allowed!">
          <input nz-input type="text" pattern="^\d*(\.\d{0,2})?$" class="form-control" id="baths" [(ngModel)]="model.baths" name="baths"
                 [required]="requiredFields.includes('baths')" [readonly]="lockedFields.includes('baths')">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item appearance="fill" fxFlex="30%" fxFlex.xs="47%" class="m-l-25" *ngIf="!limitShow || showFields.includes('sq_ft')">
        <nz-form-label for="sq_ft">Sq. Feet</nz-form-label>
        <nz-form-control nzErrorTip="Only number is allowed!">
          <nz-input-group nzSuffix="sqft">
          <input nz-input type="number" class="form-control" (keyup)="onKey($event,'sq_ft')" id="sq_ft" [(ngModel)]="model.sq_ft" name="sq_ft" [readonly]="lockedFields.includes('sq_ft')">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item appearance="fill" fxFlex="25%" fxFlex.xs="100%" *ngIf="!limitShow || showFields.includes('lot_size')">
        <nz-form-label for="lot_size" [nzRequired]="requiredFields.includes('lot_size_type')">Lot Size</nz-form-label>
        <nz-form-control>
          <nz-input-group [nzAddOnAfter]="addOnAfterTemplate">
            <ng-template #addOnAfterTemplate>
              <nz-select [(ngModel)]="model.lot_size_type" name="lot_size_type" class="suffix-select lot-select"
                         [disabled]="lockedFields.includes('lot_size_type')">
                <nz-option *ngFor="let type of unitTypes" [nzValue]="type" [nzLabel]="type" [nzDisabled]="model.listing_type === 'Land' && type !== 'acres'"></nz-option>
              </nz-select>
            </ng-template>
            <input nz-input type="number" class="form-control" id="lot_size" [(ngModel)]="model.lot_size" name="lot_size"
                   [required]="requiredFields.includes('lot_size')" [readonly]="lockedFields.includes('lot_size')">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item appearance="fill" fxFlex="80%" fxFlex.xs="100%" *ngIf="showFields.includes('description')">
        <nz-form-label for="description" [nzRequired]="requiredFields.includes('description')">Description</nz-form-label>
        <nz-form-control>
        <textarea nz-input type="text" class="form-control" id="description" [(ngModel)]="model.description"
                  name="description" [required]="requiredFields.includes('description')" maxLength="300"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item appearance="fill" fxFlex="20%" *ngIf="!limitShow || showFields.includes('zoning')">
        <nz-form-label for="zoning" [nzRequired]="requiredFields.includes('zoning')">Zoning Description</nz-form-label>
        <nz-form-control>
          <input nz-input type="text" class="form-control" id="zoning" [(ngModel)]="model.zoning" name="zoning"
                 [required]="requiredFields.includes('zoning')" [readonly]="lockedFields.includes('zoning')">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item appearance="fill" fxFlex="20%" *ngIf="!limitShow || showFields.includes('occupancy')">
        <nz-form-label for="occupancy" [nzRequired]="requiredFields.includes('occupancy')">Occupancy</nz-form-label>
        <nz-form-control>
          <input nz-input type="text" class="form-control" id="occupancy" [(ngModel)]="model.occupancy" name="occupancy"
                 [required]="requiredFields.includes('occupancy')" [readonly]="lockedFields.includes('occupancy')"
                 [readonly]="lockedFields.includes('occupancy')">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item appearance="fill" fxFlex="20%" *ngIf="!limitShow || showFields.includes('docks')">
        <nz-form-label for="docks" [nzRequired]="requiredFields.includes('docks')">Num Docks</nz-form-label>
        <nz-form-control>
          <input nz-input type="text" class="form-control" id="docks" [(ngModel)]="model.docks" name="docks"
                 [required]="requiredFields.includes('docks')" [readonly]="lockedFields.includes('docks')">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item appearance="fill" fxFlex="20%" *ngIf="!limitShow || showFields.includes('units')">
        <nz-form-label for="units" [nzRequired]="requiredFields.includes('units')">Num Units</nz-form-label>
        <nz-form-control>
          <input nz-input type="text" class="form-control" id="units" [(ngModel)]="model.units" name="units"
                 [required]="requiredFields.includes('units')" [readonly]="lockedFields.includes('units')">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item appearance="fill" fxFlex="20%" *ngIf="!limitShow || showFields.includes('unit_mix')">
        <nz-form-label for="unit_mix" [nzRequired]="requiredFields.includes('unit_mix')">Unit Mix</nz-form-label>
        <nz-form-control>
          <input nz-input type="text" class="form-control" id="unit_mix" [(ngModel)]="model.unit_mix" name="unit_mix"
                 [required]="requiredFields.includes('unit_mix')" [readonly]="lockedFields.includes('unit_mix')">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item appearance="fill" fxFlex="20%" *ngIf="!limitShow || showFields.includes('price_per_unit')">
        <nz-form-label for="price_per_unit" [nzRequired]="requiredFields.includes('price_per_unit')">Price Per Unit</nz-form-label>
        <nz-form-control>
          <input nz-input type="text" class="form-control" id="price_per_unit" [(ngModel)]="model.price_per_unit"
                 name="price_per_unit" [required]="requiredFields.includes('price_per_unit')"
                 [readonly]="lockedFields.includes('price_per_unit')">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item appearance="fill" fxFlex="20%" *ngIf="!limitShow || showFields.includes('grm')">
        <nz-form-label for="grm" [nzRequired]="requiredFields.includes('grm')">GRM</nz-form-label>
        <nz-form-control>
          <input nz-input type="text" class="form-control" id="grm" [(ngModel)]="model.grm" name="grm"
                 [required]="requiredFields.includes('grm')" [readonly]="lockedFields.includes('grm')">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item appearance="fill" fxFlex="20%" *ngIf="!limitShow || showFields.includes('pro_forma_cap_rate')">
        <nz-form-label for="pro_forma_cap_rate" [nzRequired]="requiredFields.includes('pro_forma_cap_rate')">Pro Forma Cap Rate</nz-form-label>
        <nz-form-control>
          <input nz-input type="text" class="form-control" id="pro_forma_cap_rate" [(ngModel)]="model.pro_forma_cap_rate"
                 name="pro_forma_cap_rate" [required]="requiredFields.includes('pro_forma_cap_rate')">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item appearance="fill" fxFlex="20%" *ngIf="!limitShow || showFields.includes('cap_rate')">
        <nz-form-label for="cap_rate" [nzRequired]="requiredFields.includes('cap_rate')">Cap Rate</nz-form-label>
        <nz-form-control>
          <input nz-input type="text" class="form-control" id="cap_rate" [(ngModel)]="model.cap_rate" name="cap_rate"
                 [required]="requiredFields.includes('cap_rate')" [readonly]="lockedFields.includes('cap_rate')">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item appearance="fill" fxFlex="20%" *ngIf="!limitShow || showFields.includes('building_class')">
        <nz-form-label for="building_class" [nzRequired]="requiredFields.includes('building_class')">Building Class</nz-form-label>
        <nz-form-control>
          <input nz-input type="text" class="form-control" id="building_class" [(ngModel)]="model.building_class"
                 name="building_class" [required]="requiredFields.includes('building_class')"
                 [readonly]="lockedFields.includes('building_class')">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item appearance="fill" fxFlex="20%" *ngIf="!limitShow || showFields.includes('lease_type')">
        <nz-form-label for="lease_type" [nzRequired]="requiredFields.includes('lease_type')">Lease Type</nz-form-label>
        <nz-form-control>
          <input matInput type="text" class="form-control" id="lease_type" [(ngModel)]="model.lease_type"
                 name="lease_type" [required]="requiredFields.includes('lease_type')"
                 [readonly]="lockedFields.includes('lease_type')">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item appearance="fill" fxFlex="20%" *ngIf="!limitShow || showFields.includes('lease_rate')">
        <nz-form-label for="lease_rate" [nzRequired]="requiredFields.includes('lease_rate')">Lease Rate</nz-form-label>
        <nz-form-control>
        <input nz-input type="text" class="form-control" id="lease_rate" [(ngModel)]="model.lease_rate"
               name="lease_rate" [required]="requiredFields.includes('lease_rate')"
               [readonly]="lockedFields.includes('lease_rate')">
        </nz-form-control>
      </nz-form-item>


      <h3 fxFlex="100%" *ngIf="showFields.includes('congrats')">Recipient Details</h3>
      <div class="congrats-wrapper" fxLayout="row" fxLayoutGap="15px" fxFlex>
        <div class="image-card-wrapper margin-image-card" *ngIf="showFields.includes('congrats')">
          <nz-form-label *ngIf="showFields.includes('congrats')" [nzRequired]="requiredFields.includes('remote_family_photo_url')">Add a Family Image</nz-form-label>
          <app-image-handler [content]="model" [imageable_type]="'family_photo'" [config]="familyPhotoConfig"></app-image-handler>
        </div>
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px" fxFlex>
          <nz-form-item appearance="fill" fxFlex="30%" fxFlex.xs="100%" *ngIf="showFields.includes('congrats')">
            <nz-form-label for="family_name" [nzRequired]="requiredFields.includes('family_name')">Recipient's Name</nz-form-label>
            <nz-form-control>
            <input nz-input maxlength="27" type="text" class="form-control" id="family_name"
                   [(ngModel)]="model.family_name" name="family_name" [required]="requiredFields.includes('family_name')">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item appearance="fill" fxFlex="70%" fxFlex.xs="100%" *ngIf="showFields.includes('congrats')">
            <nz-form-label for="congrats" [nzRequired]="requiredFields.includes('congrats')">Message to Recipients</nz-form-label>
            <nz-form-control>
            <textarea maxlength="300" nz-input type="text" class="form-control" id="congrats"
                      [(ngModel)]="model.congrats" name="congrats" [required]="requiredFields.includes('congrats')"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <nz-form-item appearance="fill" fxFlex="30%" fxFlex.xs="100%" *ngIf="showFields.includes('open_house')">
        <nz-form-label for="congrats" [nzRequired]="requiredFields.includes('oh_from_date')">Open House Date</nz-form-label>
        <nz-form-control>
          <input type="date" 
            class="date-control"
            name="oh_from_date" 
            [(ngModel)]="model.oh_from_date"
            [required]="requiredFields.includes('oh_from_date')"
          >
        </nz-form-control>
      </nz-form-item>
      <nz-form-item appearance="fill" fxFlex="30%" fxFlex.xs="46%" *ngIf="showFields.includes('open_house')">
        <nz-form-label for="oh_start_time" [nzRequired]="requiredFields.includes('oh_start_time')">Open House Start Time</nz-form-label>
        <nz-form-control>
          <input type="time"
            class="date-control"
            name="oh_start_time"
            [(ngModel)]="model.oh_start_time" 
            step="900"
            [required]="requiredFields.includes('oh_start_time')"
          >
        </nz-form-control>
      </nz-form-item>
      <nz-form-item  appearance="fill" fxFlex="30%" fxFlex.xs="47%" class="m-l-25" *ngIf="showFields.includes('open_house')">
        <nz-form-label for="oh_end_time" [nzRequired]="requiredFields.includes('oh_end_time')">Open House End Time</nz-form-label>
        <nz-form-control>
          <input type="time"
           class="date-control"  
           name="oh_end_time"
            [(ngModel)]="model.oh_end_time" 
            step="900"
            [required]="requiredFields.includes('oh_end_time')"
          >
        </nz-form-control>
      </nz-form-item>

    </div>
  </form>
</div>
