<div class="container">
  <form #snapShotForm="ngForm" fxLayout="column" fxLayoutAlign="start stretch">
    <h3>Select Data Type</h3>
    <p>Which statistic do you want to displayed in the flyer?</p>
    <nz-select class="data-type-selection" nzShowSearch nzPlaceHolder="Select Data Type" (ngModelChange)="add($event)" [(ngModel)]="selectedType"
      id="typeinput" name="typeinput">
      <nz-option *ngFor="let dataPoint of dataSnapPoints" [nzLabel]="dataPoint.title" [nzValue]="dataPoint.key">
      </nz-option>
    </nz-select>
  </form>
</div>