<nz-modal nzClassName="support-modal" [(nzVisible)]="setVisible" nzTitle="" (nzOnCancel)="handleCancel()" [nzFooter]="null" >
  <div class="support-text">
    To learn more please contact Zentap support by calling <span><a href='tel:{{supportPhoneNumber}}'>{{supportPhoneNumber}}</a></span> or by emailing <span><a href="mailto:{{supportEmail}}">{{supportEmail}}</a></span>.
  </div>
</nz-modal>
