<div class="container">
  <form #marketReportForm="ngForm" fxLayout="column" fxLayoutAlign="start stretch">
    <nz-form-item *ngIf="!limitShow || showFields.includes('region_name')" fxFlex="40%">
    <input  nz-input placeholder="Region Name" nzSize="large" id="region_name" [(ngModel)]="model.region_name"
    name="region_name"  maxlength="65"/>
    </nz-form-item>
    <nz-select fxFlex="40%" nzSize="large"  (ngModelChange)="add($event)" [(ngModel)]="zips" id="taginput" name="taginput" nzMode="tags" nzPlaceHolder="Zip Code*">
        <nz-option  *ngFor="let zip of zips" [nzLabel]="zip" [nzValue]="zip" [ngClass]="{'invalid-zip': !zipValid(zip)}"></nz-option>
    </nz-select>
  </form>
</div>
