.image-card {
  position: relative;
  width: 208px;
  height: 117px;
  border-radius: 4px;
  border: 1px solid lightgray;
  cursor: pointer;
  margin-bottom: 25px;
  background-color: #30d289;
  text-align: center;
  font-size: 56px;
  color: white;
  overflow: hidden; }
  .image-card .mat-icon {
    height: 56px;
    width: 56px;
    font-size: 56px; }
  .image-card img {
    height: 100%;
    width: auto; }

::ng-deep .suffix-select {
  width: auto; }
  ::ng-deep .suffix-select .mat-select-value {
    max-width: unset !important; }
  ::ng-deep .suffix-select .mat-select-arrow-wrapper {
    transform: unset !important; }

.invalid-zip {
  color: red; }

/*# sourceMappingURL=market-report-form.component.css.map */
