<div>
  <div class="social-connect-container" *ngIf="!status">
    <div class="social-headings" *ngIf="!hidePosting">
      <h2>Post to Social Media</h2>
      <p>Share Your content to connected social media platforms.</p>
      <p>Connect and choose your platform:</p>
    </div>
  <ul class="social-selection">
    <li *ngIf="hideFacebook">
      <label class="fw-600" nz-checkbox [nzDisabled]="!this.customer.fb_page_id || !linkedinConnected" [(ngModel)]="all" (ngModelChange)="changeAll()">Select All</label>
    </li>
    <li *ngIf="hideFacebook">
      <label nz-checkbox [(ngModel)]="facebook" [nzDisabled]="!this.customer.fb_page_id">
        <img class="box-image" src=".././../../assets/icons/facebook.png"  alt=""/>
      </label>
      <span class="fw-600">Share your content to Facebook</span>
      <button nz-button nzType="default" *ngIf="!this.customer.fb_page_id">Connect</button>
      <button nz-button nzType="default" class="btn-connected" *ngIf="this.customer.fb_page_id">Connected!</button>
    </li>
    <li *ngIf="!hidePosting">
      <label nz-checkbox [(ngModel)]="linkedin" [nzDisabled]="!linkedinConnected">
        <img class="box-image" src=".././../../assets/icons/linkedin.png"  alt=""/>
      </label>
      <span class="fw-600">Share your content to LinkedIn</span>
      <div class="spiner-center loading-overlay" *ngIf="loading" fxFlexLayout="column" fxLayoutAlign="center center">
        <nz-spin nzSimple [nzSize]="'small'"></nz-spin>
      </div>
      <button nz-button nzType="default"  (click)="connectLinkedIn()" *ngIf="!linkedinConnected && PaidTier">Connect</button>
      <button nz-button nzType="default" class="btn-connected" *ngIf="(linkedinConnected || (getLinkedInCode && getLinkedInCode.status === 'success')) && PaidTier">Connected!</button>
      <button nz-button nzType="default" (click)="upgradePlan()" class="btn-upgrade" *ngIf="!PaidTier">Upgrade</button>
    </li>
    <li *ngIf="hidePosting" class="hidePosting">
      <div class="social-headings" *ngIf="!linkedinConnected">
        <h2>Connect Your Account First!</h2>
        <p>Click the 'Connect' button to connect your account</p>
        <p>So we can auto-post all your content</p>
      </div>
      <div class="hidePostingConnect" *ngIf="!linkedinConnected">
        <img class="box-image" src=".././../../assets/icons/linkedin.png"  alt=""/>
        <span class="fw-600 l-text">Share your content to LinkedIn</span>
        <div class="spiner-center loading-overlay" *ngIf="loading" fxFlexLayout="column" fxLayoutAlign="center center">
          <nz-spin nzSimple [nzSize]="'small'"></nz-spin>
        </div>
        <button nz-button nzType="default"   (click)="connectLinkedIn()">Connect</button>
<!--        <button nz-button nzType="default" class="btn-connected" *ngIf="linkedinConnected || (getLinkedInCode && getLinkedInCode.status === 'success')">Connected!</button>-->
      </div>
      <div class="hidePostingConnect" *ngIf="linkedinConnected || (getLinkedInCode && getLinkedInCode.status === 'success')">
        <div class="social-headings">
          <h2>Successfully Connected!</h2>
          <p>Click the 'Done' button to close this pop-up to go back to Settings.</p>
        </div>
        <div class="social-connect-posted">
          <div class="status-container" >
            <div class="success-checkmark">
              <div class="check-icon">
                <span class="icon-line line-tip"></span>
                <span class="icon-line line-long"></span>
                <div class="icon-circle"></div>
                <div class="icon-fix"></div>
              </div>
            </div>
            <button nz-button nzType="primary" class="hidePostingDone" (click)="removeDialog()" >Done</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div fxLayout="row" fxLayoutAlign="end center" *ngIf="!hidePosting">
    <button nz-button nzType="primary" (click)="post()" [disabled]="!facebook && !linkedin">Post to Selected</button>
  </div>
  </div>
  <div class="social-headings" *ngIf="status">
    <h2>Successfully Posted!</h2>
    <p>Click the 'Done' button to close this window.</p>
  </div>
  <div class="social-connect-posted" *ngIf="status">
    <div class="status-container" >
      <div class="success-checkmark">
        <div class="check-icon">
          <span class="icon-line line-tip"></span>
          <span class="icon-line line-long"></span>
          <div class="icon-circle"></div>
          <div class="icon-fix"></div>
        </div>
      </div>
      <button nz-button nzType="primary" (click)="removeDialog()" >Done</button>
<!--      <button nz-button nzType="primary" (click)="removePoster()">Make another Post</button>-->
    </div>
  </div>
</div>
