<div mat-dialog-content class="main-content">
  <h2>Billing Details</h2>
  <form nzForm (submit)="handleForm($event)" [formGroup]="form">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input formControlName="name" name="name" autocomplete="name" nz-input placeholder="Full Name" />
        </nz-input-group>
        <nz-form-explain *ngIf="form.get('name')?.dirty && form.get('name')?.errors">Please input your name!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input formControlName="address_line1" name="ship-address" autocomplete="address-line1" nz-input
            placeholder="Address Line 1" />
        </nz-input-group>
        <nz-form-explain *ngIf="form.get('address_line1')?.dirty && form.get('address_line1')?.errors">Please input your
          address!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input formControlName="address_line2" name="bill-address-line2" id="address-line-2"
            autocomplete="billing address-line2" nz-input placeholder="Address Line 2" />
        </nz-input-group>
        <nz-form-explain *ngIf="form.get('address_line2')?.dirty && form.get('address_line2')?.errors">Please input your
          address!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input formControlName="address_city" name="bill-address-level2" id="city"
            autocomplete="billing address-level2" nz-input placeholder="City" />
        </nz-input-group>
        <nz-form-explain *ngIf="form.get('address_city')?.dirty && form.get('address_city')?.errors">Please input your
          city!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input formControlName="address_state" name="bill-address-level1" id="state"
            autocomplete="billing address-level1" nz-input placeholder="State" />
        </nz-input-group>
        <nz-form-explain *ngIf="form.get('address_state')?.dirty && form.get('address_state')?.errors">Please input your
          state!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input formControlName="address_zip" name="bill-postal-code" id="zip" autocomplete="billing postal-code"
            nz-input placeholder="Zip Code" />
        </nz-input-group>
        <nz-form-explain *ngIf="form.get('address_zip')?.dirty && form.get('address_zip')?.errors">Please input your zip
          code!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <h2>Card Number</h2>
    <div #cardElement>
      <!-- A Stripe Element will be inserted here. -->
    </div>


    <!-- Used to display Element errors. -->
    <p class="error">{{ cardErrors }}</p>
    <!-- <button mat-raised-button color="primary" cdkFocusInitial>Ok</button> -->
    <button nz-button nzType="primary" [nzLoading]="loading" class="add-card-button">Ok</button>
  </form>
</div>
