<!-- <app-sidebar> -->
  <div class="title-header">
    <h1 class="title">
      Market Reports
    </h1>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="25px">
      <app-card-button [config]="newCardButton" *ngIf="disableNew"></app-card-button>
    <ng-container *ngFor="let marketReport of marketreports">
        <app-card-button pendo-data-id="market-report" [config]="configFor(marketReport)"></app-card-button>
    </ng-container>
  </div>
  <div class="spinner" *ngIf="loading">
      <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
  <router-outlet></router-outlet>
<!-- </app-sidebar> -->
