<div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="25px">
  <app-content-card *ngFor="let content of filteredContents" [content]="content" [caption_editable]="true"
    (editingChange)="editingChange($event, true)" [horizontalMargin]="'0px'" (posted)="posted.emit($event)" fxFlex>
  </app-content-card>
 
</div>
<div fxLayout="row" fxLayoutAlign="end start">
  <nz-pagination [nzPageIndex]="page" [nzTotal]="contentLength" [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate"
    (nzPageIndexChange)="didPage($event)"></nz-pagination>
  <ng-template #rangeTemplate let-range="range" let-total>
    {{ range[0] }}-{{ range[1] }} of {{ total }} items
  </ng-template>
</div>
