@import '../../../styles.scss';

:host {
  transition: all .2s ease-in-out;

  position: relative;
  border-radius: 4px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  // padding: 20px;
  box-sizing: border-box;
  margin: 13px;
  @include mat-elevation(6);
}

:host:hover {
  // transform: scale(0.99);
  cursor: pointer;

  .overlay {
    opacity: 0.9;
  }
}

:host:before {
  transition: opacity 0.3s ease-in-out;
  display: block;
  content: " ";
  position: absolute;
  z-index: 0;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.0;
}

:host:hover:before {
  opacity: 1.0;
}

.card-body {
  // border-radius: 4px;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  // padding: 20px;
  box-sizing: border-box;
  white-space: normal;
}

.card-content {
  transition: color 0.4s;
  text-align: center;
  position: relative;
  font-family: Montserrat;
  font-size: 9px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: 2.2px;
  padding: 20px;
}

.title,
.action {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}


.center-text {
  font-size: 18px;
  font-weight: 800;
}

.card-icon {
  font-size: 68px;
  line-height: 1px;
  margin: 0;
  height: auto;
  width: auto;
  margin-top: 24px;
}

.overlay {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  z-index: 100;
}

.upload-button {
  font-size: 18px;
  cursor: pointer;
}

.upload-button-dark {
  color: #ffffff;
  background-color: #008CBA;
}
.upload-button-light {
  background-color: lightgray;
}
.full-width{
  width: 100%;
}
.card-ant-icon {
  font-size: 54px;
}
.card-icon-wrapper {
  margin-top: 24px;
}
.card-date {
  position: absolute;
  bottom: 8px;
  right: 46px;
}
.product-card{
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  border-left: 3px solid #2369F9;
  background-color: #ffffff !important;
  min-height: 143px;
  .next-icon {
    position: absolute;
    top: 32px;
    right: 8px;
    font-size: 16px;
    color: #393853;
  }
  .card-content{
    text-align: left;
    display: block !important;
    .card-icon-wrapper{
      margin-top: 0;
      color: #0070F7;
      font-size: 5px;
    }
    .card-image{
      width: 28px;
    }
    .title{
      text-transform: capitalize;
      padding: 4px 0;
      color: #393853;
      letter-spacing: normal;
      font-size: 17px;
    }
    .description{
      color: #393853;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: normal;
    }
  }
}
.d-opacity{
  opacity: 0.6;
}
.f-opacity{
  opacity: 1;
}
.card-skeleton{
  padding: 20px;
}
.card-content{
  padding: 0;
}