$--bright-blue: #0070f7;
$--white: #ffffff;
.step-container{
  padding: 20px 0;
}
.action-container{
  padding: 15px 0;
}
.grape-template-container{
  padding: 20px 0;
}
.ant-card-body{
  padding: 15px 24px !important;

}
.app-ads-card{
  max-width: none;
  width: auto;
  display: inline-block;
  margin: 20px 10px;
}
.asd-card{
  width: 245px;
  height: 88px;
  border-radius: 4px;
  border: solid 1px $--bright-blue;
  background-color: $--white;
  display: inline-flex;
  margin: 15px 20px 0 0;
  cursor: pointer;

  p{
    width: 192px;
    //height: 88px;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $--bright-blue;
    margin: 3px 0;
  }
}
.activecard{
  border: solid 2px $--bright-blue !important;
  background-color: $--bright-blue;
  p{
    color: $--white !important;
  }
}
.label-title{
  font-size: 24px;
  font-weight: bold;
}
.label-slider{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-bottom: 50px;
}
.ant-tooltip-inner{
  background-color: $--bright-blue;
  font-size: 12px;
}
.ant-tooltip-arrow{
  border-top-color: $--bright-blue;
}
.ant-slider-track{
  background-color: $--bright-blue;
}
.ant-slider-handle{
  border: 2px solid $--bright-blue;
}
.nz-m-15{
  margin: 15px 0;
}
.txt-right{
  text-align: right;
}
.map-container{
  width: 95%;
  height: 192px;
  margin-top: 15px;
  clear: both;
  display: block;
}
.tag-container{
  min-height: 22px;
}
.location-field{
  width: 90%;
}
.m-l-25{
  margin-left: 25px;
}
.max-location{
  font-size: 11px;
  display: block;
}
.notify-text{
  font-size: 16px;
  text-align: center;
  span{
    font-size: 20px;
  }
}
.map-search{

}
