<!-- <app-sidebar> -->
<div class="12">
  <nz-modal [nzVisible]="adsDetected" [nzFooter]="null" (nzOnCancel)="handleCancel()">
    <p class="notify-text">Please disable any ad blockers in order to use this. <br><span>Thank you</span></p>
  </nz-modal>

  <div class="step-container">
    <nz-steps [nzCurrent]="current">
      <nz-step nzTitle="Define Your Goals"></nz-step>
      <!--      <nz-step nzTitle="Get Specific" [nzIcon]="loading ? 'loading' : null"></nz-step>-->
      <nz-step nzTitle="Choose Ad" [nzIcon]="loading ? 'loading' : null"></nz-step>
      <nz-step nzTitle="Configure Targeting" [nzIcon]="loading ? 'loading' : null"></nz-step>
      <nz-step nzTitle="Launch Ad" [nzIcon]="loading ? 'loading' : null"></nz-step>
    </nz-steps>
  </div>


  <div class="steps-content">
    <div *ngIf="current === 0">
      <h1 class="label-title">What type of people are you looking to reach?</h1>
      <div nz-row>
        <div nz-col nzSpan="14">
          <nz-card *ngFor="let goal of goalList" [ngClass]="{activecard: isActive(goal.name)}" (click)="setGoal(goal)" class="asd-card">
            <p>{{goal.name.titleize()}}</p>
          </nz-card>
        </div>
      </div>
      <div nz-row class="nz-m-15 txt-right">
        <div nz-col nzSpan="12">
          <button nz-button nzType="primary" (click)="next()" [disabled]="!isSelected" >Continue</button>
        </div>
      </div>
    </div>
    <div *ngIf="current === 1">
      <h1 class="label-title">Choose your ad...</h1>
      <nz-spin [nzSize]="'large'" *ngIf="loading">
        <ng-container [ngTemplateOutlet]="adsListing"></ng-container>
      </nz-spin>
      <ng-container [ngTemplateOutlet]="adsListing" *ngIf="!loading"></ng-container>
      <div fxLayout="row" fxLayoutAlign="end start">
        <div nz-col nzSpan="24" class="nz-m-15 txt-right">
          <button nz-button nzType="primary" (click)="pre()" > <i nz-icon type="left"></i><span>Previous</span></button>
          <button nz-button nzType="primary" (click)="next()" class="m-l-25" [disabled]="!isAdsButtonDisabled">Continue</button>
        </div>
      </div>
    </div>

    <div [hidden]="current !== 2">
      <div nz-row>
        <div nz-col nzSpan="4">
          <h3 class="label-title">Where?</h3>
        </div>
        <div nz-col nzSpan="12">
          <nz-input-group [nzSuffix]="suffixIconSearch" class="location-field">
            <input type="text" nz-input class="form-control location-search" (keydown.enter)="$event.preventDefault()" [disabled]="adsLocationDisable"  placeholder="Search City" autocorrect="off" autocapitalize="off" spellcheck="off"  #search />
          </nz-input-group>
          <em class="max-location" *ngIf="adsLocationDisable">Max 3 Locations</em>
          <ng-template #suffixIconSearch class="map-search">
            <i nz-icon nzType="search"></i>
          </ng-template>
          <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="mapClicked($event)" class="map-container">
            <agm-marker [latitude]="marker[0]" [longitude]="marker[1]" [markerDraggable]="true"
                        (dragEnd)="markerDragEnd($event)" *ngFor="let marker of adsLocationsMarker"></agm-marker>
          </agm-map>
          <div class="tag-container nz-m-15">
            <nz-tag nzMode="closeable" (nzOnClose)="onClose(city)" [nzColor]="'#108ee9'" *ngFor="let city of adsCities">{{city}}</nz-tag>
          </div>
        </div>
      </div>
      <div nz-row class="nz-m-15 txt-right">
        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="6">
          <button nz-button nzType="primary" (click)="pre()" > <i nz-icon type="left"></i><span>Previous</span></button>
          <button nz-button nzType="primary" (click)="next()" class="m-l-25"  [disabled]="isLocationButtonDisabled">Continue</button>

        </div>

      </div>
    </div>
    <div class="done" *ngIf="current === 3">
      <nz-spin [nzSize]="'large'" *ngIf="loading">
        <ng-container [ngTemplateOutlet]="adsLaunch"></ng-container>
      </nz-spin>
      <ng-container [ngTemplateOutlet]="adsLaunch" *ngIf="!loading"></ng-container>

    </div>
  </div>
  <ng-template #adsLaunch>
    <div nz-row>
      <div nz-col nzSpan="12">
        <h3 class="label-title">I am targeting ...</h3>
        <h4>{{goal.titleize()}}</h4>
        <h3 class="label-title">In ...</h3>
        <h4>{{adsCities.join(", ")}}</h4>

      </div>
      <div nz-col nzSpan="12">
        <app-ads-card [content]="ad" [caption_editable]="true">
        </app-ads-card>
      </div>
      <div nz-col nzSpan="24">
        <button nz-button nzType="primary" (click)="pre()" > <i nz-icon type="left"></i><span>Previous</span></button>
        <button nz-button nzType="primary" (click)="launchAd()" class="m-l-25">Launch!</button>
      </div>
    </div>
  </ng-template>
  <ng-template #adsListing>
    <div nz-row>
      <div nz-col nzSpan="12" *ngFor="let content of contents">
        <app-ads-card [content]="content" [caption_editable]="true"
                      [selectable]="true"
                      [isActiveAd] = "isSelectedAd === content.id"
                      (setAdBind)="setAd($event)" (isActiveAdBind)="isActiveAd($event)">
        </app-ads-card>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end start">
      <nz-pagination [nzPageIndex]="page" [nzTotal]="contentLength" [nzPageSize]="12" [nzShowTotal]="rangeTemplate"
                     (nzPageIndexChange)="didPage($event)"></nz-pagination>
      <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
      </ng-template>
    </div>
  </ng-template>
</div>
<!-- </app-sidebar> -->
