.image-card {
  position: relative;
  width: 208px;
  height: 117px;
  border-radius: 4px;
  border: 1px solid lightgray;
  cursor: pointer;
  margin-bottom: 25px;
  background-color: #30d289;
  text-align: center;
  font-size: 56px;
  color: white;
  overflow: hidden;

  .mat-icon {
    height: 56px;
    width: 56px;
    font-size: 56px;
  }

  img {
    height: 100%;
    width: auto;
  }
}

.image-card {
  display: flex;
}

.overlay {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.image-card:hover .overlay {
  opacity: 1;
}

.upload-button {
  font-size: 18px;
}

.upload-button-dark {
  color: white;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.image-card:last-child {
  border: none;
}

.image-list.cdk-drop-list-dragging .image-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.photo-loading{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0 , 0.3);
  padding-top: 5%;
  pointer-events: none;
}
