<div class="image-list" cdkDropList (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal" fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign.xs="center center">
  <div class="image-card" cdkDrag *ngFor="let image of images.slice(0,5); index as i" fxLayout="column" fxLayoutAlign="center center" >
    <div *ngIf="this.show_gallery else withoutGallery" class="overlay" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutAlign.xs="center center">
        <button class="upload-button" fxFlex="50%" [style.backgroundColor]="'lightgray'"
        (click)="openImageDialog(image)">Upload</button>
      <button class="upload-button upload-button-dark" fxFlex="50%" [style.backgroundColor]="'#008CBA'"
        (click)="selectFromGallery(i)">Gallery</button>
    </div>
    <ng-template #withoutGallery>
    <div class="overlay" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutAlign.xs="center center">
        <button class="upload-button" fxFlex="100%" [style.backgroundColor]="'lightgray'"
          (click)="openImageDialog(image)">Upload</button>
      </div>
      </ng-template>
    <img *ngIf="image.thumb || image.remote_image_url" [src]="image.thumb ? image.thumb : image.remote_image_url" />
    <nz-spin nzSimple class="photo-loading" *ngIf="image.loading"></nz-spin>
    <mat-icon *ngIf="!(image.thumb || image.remote_image_url)">add</mat-icon>
  </div>
</div>
