@import '../../../styles.scss';

.preview-container {
  padding: 10px;
  @include mat-elevation(12);
  border-radius: 10px;
  border: 1px solid rgb(0, 198, 183);
}

table {
  width: 100%;
}

.total-row {
  height: 60px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 20px 0;
}
