<div class="preview-container">
  <h2>Cart</h2>
  <nz-divider></nz-divider>
  <table>
    <tr *ngFor="let lineItem of lineItems" class="line-item">
      <td>{{lineItem.name}}</td>
      <td>x{{lineItem.quantity}}</td>
      <td>{{lineItem.price * lineItem.quantity | currency}}</td>
    </tr>
    <tr class="total-row">
      <td>Total:</td>
      <td></td>
      <td>{{total() | currency}}</td>
    </tr>
  </table>
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="8px">
    <nz-form-explain fxFlex="100%" *ngIf="couponError" [style.color]="'red'">
      {{couponError}}
    </nz-form-explain>
    <input fxFlex="1 1 120px" nz-input #coupon type="text" placeholder="Coupon Code" [style.minWidth]="'100px'" />
    <button nz-button [nzLoading]="couponLoading" nzType="default" (click)="applyCoupon(coupon)"
      [disabled]="coupon && coupon.valid">Apply</button>
  </div>
  <nz-divider></nz-divider>
  <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="0px">
    <button nz-button nzType="primary" (click)="triggerCheckout()" [disabled]="!paymentSource || !lineItems.length">Checkout</button>
  </div>
</div>
