<div class="00">
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="0px">
      <h1>Pick a Plan</h1>
    </div>
    <!-- <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="0px">
      <app-tier-selector fxFlex="75%" [tiers]="tiers" (selectedTier)="selectTier($event)" [currentTier]="selectedTier">
      </app-tier-selector>
    </div> -->
  </div>
</div>

