<nz-table nzNoResult="" nzTemplateMode>
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th>
        Preview
      </th>
      <th nzShowSort nzSortKey="created_at">Created At</th>
      <th class="text-center ">
        Post
      </th>
      <!-- <th>
        Edit
      </th> -->
      <th class="text-center ">
        Download
      </th>
      <th class="text-center ">
        Delete
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let content of contents">
      <td>
        <img *ngIf="content.status === 'rendering'" class="internal-content" src="assets/styles/Rendering.gif" (click)="showPreview(content)">
        <img *ngIf="content.status !== 'rendering' && content.media_type === 'image'" [src]="content.url" (click)="showPreview(content)"
          [alt]="content.caption" class="internal-content" />
          <!-- <video class="internal-content" *ngIf="content.status !== 'rendering' && content.media_type === 'video'"
          controls>
          <source [src]="content.url + '#t=1'" />
        </video> -->

        <div class="outer-container" *ngIf="content.status !== 'rendering' && content.media_type === 'video'" (click)="showPreview(content)">
            <div class="inner-container">
                <div class="video-overlay"></div>
                <video id="player" controls
                [src]="content.url + '#t=1'"></video>
            </div>
        </div>
          <span class="content-type" (click)="showPreview(content)">{{content.display_name}}</span>
      </td>
      <td>{{ content.created_at | date : "MM-dd-y"}}</td>
      <td nz-tooltip nzTooltipTitle="Content is not ready for Post" class="text-center ">
        <i nz-icon nzType="share-alt"
        [ngStyle]="{'color': content.status === 'ready' ? '#0170f7' : '#9d9a9a'}" class="down-icon" (click)="post(content)"></i>
      </td>
      <!-- <td>
          <i nz-icon nzType="edit" class="down-icon" (click)="gotToEdit(content)"></i>
        </td> -->
      <td class="text-center ">
        <span nz-tooltip nzTooltipTitle="Content is not ready for Download">
          <i nz-icon nzType="download"
          [ngStyle]="{'color': content.status === 'ready' ? '#0170f7' : '#9d9a9a'}" class="down-icon" (click)="download(content)"></i>
        </span>
      </td>
      <td class="text-center ">
        <i nz-icon nzType="delete" class="delete-icon" nzTheme="fill" (click)="contentDeleted(content)"></i>
      </td>
    </tr>
  </tbody>
</nz-table>
<div class="empty" *ngIf="contents && !contents.length">
    <img class="internal-content" src="../../../assets/images/content.png">
    <h2 class="create-title mar-zero">Make Content for this Listing</h2>
    <button nz-button nzType="primary">Let's Go</button>
</div>