<!-- <app-sidebar> -->
  <ng-template #editReport>
    <h1 class="title page-title">{{isNew ? 'Create a New' : 'Update Your'}} Market Report</h1>
    <nz-divider></nz-divider>
    <app-market-report-form #marketReportForm [model]="marketReport"></app-market-report-form>
    <nz-divider></nz-divider>
    <span class="error" *ngIf="error">{{ error }}</span>
    <button class="save-btn" nz-button nzType="primary" (click)="save()" [disabled]="!marketReportForm.form.valid || marketReportForm.zipError ">{{isNew ? 'Create' : 'Save'}}</button>
    <button nz-button nzType="danger" (click)="cancel()">Cancel</button>
  </ng-template>
  <ng-container [ngTemplateOutlet]="editReport" *ngIf="!loading"></ng-container>

  <nz-spin [nzSize]="'large'" *ngIf="loading">
    <ng-container [ngTemplateOutlet]="editReport"></ng-container>
  </nz-spin>
<!-- </app-sidebar> -->
