@import '../../../styles.scss';
.sec-title {
  font-size: 24px;
  font-weight: bold;
  color: #393853;
}
nz-progress{
  width: 500px;
}
.fb-colour{
  color: #393853;
}
.fb-connect{
  margin-top: -5px;
  float: right;
  background-color: #4167B2;
  color: white;
  border: none;
  font-size: 15px;
  padding: 4px 10px 4px 6px;
}
.fb-icon{
  font-size: 21px;
}
.nz-mt-45{
margin-top: 45px;
}
.connect-facebook{
border: 4px solid #0070f7;
border-radius: 4px;
padding: 35px;
width: 600px;
height: 166px;
font-size: 18px;
font-weight: bold;
color: #000;
padding-left: 180px;
margin-top: 40px;
position: relative;
cursor: pointer;
i{
font-size: 72px;
color: #0070f7;
border-radius: 37px;
position: absolute;
left: 50px;
top: 40px;
}
}
.analytics-heading{
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  margin-top: 0;
}
.analytics-count{
  font-size: 24px;
}
.gutter-box {
  padding: 5px 0;
}
.performance-heading{
display: block;
width: 100%;
margin-bottom: 5px;
font-size: 16px;
font-weight: bold;
margin-top: 40px;
}
.performance-text{
width: 100%;
display: block;
margin-bottom: 14px;
}
.refrest-insights{
margin-left: 12px;
border: none;
font-size: 20px;
color: #d9d9d9;
&:hover{
color: #0070f7;
}
}
.insight-container{
display: flex;
}
.progress-count{
font-size: 15px;
margin-left: 15px;
font-weight: 600;
color: #0070f7;
}
.analytics-heading{
display: block;
width: 100%;
margin-bottom: 20px;
font-size: 16px;
margin-top: 0;
}
.analytics-count{
font-size: 30px;
}
.gutter-box {
padding: 5px 0;
}
.float-icon{
  float: right;
}
.custom-card{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 3px #0000000A;
  border: 1px solid #EAEDF3;
  border-radius: 4px;
  opacity: 1;
}
.info-icon{
  color: #ADADAD;
  opacity: 1;
}
.learn-more-btn{
  margin-bottom: 12px;
}
.float-right{
  float: right;
}
.titlle-header{
  margin-bottom: -11px;
}
