<app-support-popup [setVisible]="isVisible" (hideModal)="closeInfo()"></app-support-popup>
<div nz-row>
  <div nz-col nzSpan="18">
    <div>
      <div class="titlle-header" >
        <h1 class="sec-title">
          Facebook Performance
        </h1>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="6" *ngIf="!showButton" >
    <div class="gutter-box float-right">
      <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Select Dates" (ngModelChange)="updateInsights($event)" [nzAllowClear]="false">
        <nz-option *ngFor="let option of insightsDates" [nzValue]="option" [nzLabel]="option.titleize()"></nz-option>
      </nz-select>
    </div>
  </div>
</div>

<div nz-row *ngIf="showButton">
  <div nz-col nzSpan="18">
    <p class="fb-colour">
      Connect to your facebook account to view performance statistics.
    </p>
  </div>
  <div nz-col nzSpan="6">
    <button nz-button nzType="primary" class="link-fb-btn fb-connect" (click)="connectToFacebook()">
      <i nz-icon nzType="facebook" class="fb-icon" nzTheme="fill"></i>
      Continue with Facebook
    </button>
  </div>
</div>

<div nz-row nzGutter="16">
  <ng-container *ngFor="let insight of insights">
    <div nz-col class="gutter-row" nzSpan="6">
        <div class="gutter-box">
          <nz-card class="custom-card">
            <span nz-tooltip [nzTitle]="insight.description" class="float-icon">
              <i nz-icon nzType="info-circle" nzTheme="outline" class="info-icon"></i>
            </span>
            <h2 class="analytics-heading">{{insight.display_name}}</h2>
            <nz-skeleton [nzActive]="isfbConnected" [nzTitle]="false" [nzParagraph]="{ rows: 1 }" [nzLoading]="loading">
              <button nz-button nzType="primary" class="learn-more-btn" (click)="openInfo()" *ngIf="!requireAds(insight.display_name)">Learn
                More</button>
              <div class="insight-container" *ngIf="requireAds(insight.display_name)">
                <span class="analytics-count">{{insight.value | number}}</span>
              </div>
            </nz-skeleton>
          </nz-card>
      </div>
    </div>
  </ng-container>
</div>
