<div class="container" fxLayout="column" fxLayoutAlign="start stretch">
  <nz-card [style.width]="width" [style.marginBottom]="verticalMargin" [style.marginRight]="horizontalMargin" class="content-card img-card"
    fxFlex="100%" (click)="setContectCard($event,content)">
    <nz-card-meta [nzTitle]="content.caption"></nz-card-meta>

    <div *ngIf="content.status === 'rendering'">
      <div class="card-image">
        <img class="internal-content" src="assets/styles/Rendering.gif">
      </div>
    </div>
    <div *ngIf="content.status !== 'rendering'">
      <div *ngIf="content.media_type === 'image'" class="card-image">
        <img [src]="content.url" [alt]="content.caption" class="internal-content" *ngIf="content.url">
        <nz-empty
          *ngIf="!content.url"
          nzNotFoundContent="Style Missing"
          class="style-missing">
        </nz-empty>
      </div>
      <video preload="none" class="content-video" *ngIf="content.media_type === 'video' && !content.is_style" controls>
        <source [src]="content.url">
      </video>
      <video class="content-video" *ngIf="content.media_type === 'video' && content.is_style" autoplay loop>
        <source [src]="content.url">
      </video>
    </div>
    <div fxLayoutAlign="end start">
      <a nz-button *ngIf="content.cta_link" [href]="content.cta_link" nzType="link">Learn More</a>
    </div>
  </nz-card>
  <ng-template #avatarTemplate>
    <nz-avatar [nzSrc]="customer.image.thumb"></nz-avatar>
  </ng-template>
</div>
