@import '../../../styles.scss';

:host {
  max-width: 500px;
  width: 400px;
  position: relative;
  min-width: 325px;
}

.mat-card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.mat-card-content {
  display: flex;
  flex: 1;
}

.container {
  height: 100%;
  cursor: pointer;
}

.profile-image {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.content {
  height: 3em;
  overflow-y: scroll;
}

.caption {
  margin-top: 10px !important;
}

.content-video {
  width: 100%;
  height: auto;
}

.caption-input {
  width: 100%;
  height: 50px;
}

.content-card.active {
  // background: #30d289;
  // color: #fff !important;
  border: solid 1px rgba(120, 120, 120, 0.5);
  @include mat-elevation(12)
}

.card-image {
  overflow: hidden;
  object-fit: contain;
  cursor: pointer;
  margin-bottom: 5px;
  &:before{
    padding-top: 0 !important;
  }

  img {
    width: 100%;
    object-fit: contain;
    position: unset !important;
  }

  @include aspect-ratio(16, 9);
}

.mat-card-image {
  width: 100%;
  margin: 0 0 5px 0;
}
.img-card {
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.style-missing{
  margin: 23px 8px;
}
