.not-found{
  padding: 20%;
  text-align: center;
  .title{
    text-align: center;
    font-size: 30px;
    color: #0070F7;
  }
  .no-found-text{
    text-align: center;
    font-size: 24px;
  }
  .go-button{
    background-color: #0070F7;
    border: 1px solid #0070F7;
    color: #fff;
    font-size: 20px;
  }
}
