<div class="not-found">
  <h1 class="title">Not Found</h1>
  <h3 class="no-found-text">The page you were looking for was not found.</h3>
  <button mat-stroked-button [routerLink]="['/']" class="go-button">Go Home</button>
</div>

