<ng-container *ngIf="subscription$ | async as subscription">
  <div *ngIf="subscription.status !== 'active' && customer.billing_provider !== 'dpp'" class="trial_banner"
       fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div *ngIf="subscription.status === 'trialing'">

      <nz-countdown [nzValue]="subscription.trial_end_date" [nzValueTemplate]="tpl" nzPrefix="trial ends in"
                    [nzValueStyle]="timerStyle" class="timer">
      </nz-countdown>

      <ng-template #tpl let-diff>
        {{diff | duration}}
      </ng-template>
    </div>
    <div *ngIf="subscription.status !== 'trialing'">
      Your account has expired. Please upgrade to a paid account.
    </div>
    <button nz-button nzType="primary" routerLink="/upgrade">Upgrade
    </button>
  </div>
</ng-container>
<nz-layout>
  <nz-sider [nzCollapsedWidth]="sidebarWidth" nzCollapsible [(nzCollapsed)]="isCollapsed" nzWidth="251" [nzBreakpoint]="'md'">
    <div class="logo" *ngIf="!mobileQuery.matches">
      <a class="nav-item company-logo" (click)="goHome()" *ngIf="!isCollapsed">
        <img class="nav-item-text company-name" src="../../../assets/logos/logo.png" />
      </a>
      <a class="nav-item company-logo zt-icon" (click)="goHome()" *ngIf="isCollapsed">
        <img class="nav-item-text company-name" src="../../../assets/logos/ZT_icon.png" />
        <!-- <img class="nav-item-text company-name text-logo" src="../../../assets/logos/ZT_text.png" /> -->
      </a>
    </div>
    <ul nz-menu nzMode="inline" class="menu-list top-menu" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item *ngFor="let nav of navItems" (click)="goto(nav.path)" [ngClass]="{'ant-menu-item-selected': nav.path==router.url}">
        <i nz-icon [nzType]="nav.icon" class="side-nav-item"></i>
        <span class="nav-text">{{nav.title}}</span>
      </li>
      <!-- <li>
        <nz-divider class="sidebar-divider"></nz-divider>
      </li>
      <li nz-menu-item (click)="goto('/onboarding')" [ngClass]="{'ant-menu-item-selected': '/onboarding'==router.url}">
        <img class="nav-item-text company-name onboarding-icon" src="../../../assets/logos/Onboarding.png" />
        <span *ngIf="!isCollapsed" class="nav-text">Onboarding</span>
        <span class="nav-text onbaording-percentage" *ngIf="stepsCompltionPercent">{{stepsCompltionPercent}}%</span>
      </li>
      <li>
        <nz-divider *ngIf="!isCollapsed" class="sidebar-divider"></nz-divider>
      </li> -->
      <li nz-menu-item (click)="goto('additional_services')" [ngClass]="{'ant-menu-item-selected': 'additional_services'==router.url}">
        <i nz-icon nzType="tool" class="side-nav-item"></i>
        <span class="nav-text">Additional Services</span>
      </li>
    </ul>

    <!-- <div class="side-bottom" *ngIf="!isCollapsed">
      <div class="inside-side-bottom"> -->
        <ul nz-menu nzMode="inline"  class="menu-list bottom-menu" [nzInlineCollapsed]="isCollapsed">
          <li class="nav-item nav-item-link ant-menu-item user-icon" [(nzVisible)]="visible" nzTrigger="click" nz-popover [nzContent]="userMenu"
          [ngStyle]="{'padding-left': isCollapsed ? '20px' : '16px'}">
            <button size="large" nz-button nzShape="circle" class="user-icon-button mat-elevation-z8" [style.backgroundImage]="'url('+customer.image.thumb+')'"></button>
            <span *ngIf="!isCollapsed" class="nav-item-text nav-text user-name"
            nz-tooltip [nzTitle]="customer.first_name + ' ' + customer.last_name">
              {{customer.first_name}} {{customer.last_name}}
            </span>
          </li>
          <ng-template #userMenu>
            <p class="user-menu-item padding-left-zero" nz-menu-item *ngFor="let item of profileMenuItems" (click)="handleMenuAction(item.action)">
                <i nz-icon [nzType]="item.icon" nzTheme="outline" class="user-menu-icons"></i>
              {{item.text}}</p>
          </ng-template>
        </ul>
      <!-- </div>
    </div> -->
  </nz-sider>
  <nz-layout>
    <nz-header *ngIf="mobileQuery.matches && '/linkedin' != router.url.split('?')[0]">
      <i class="nav-dots" nz-icon nzType="ellipsis" (click)="isCollapsed = !isCollapsed"></i>
      <div class="logo logo-nav" *ngIf="isCollapsed">
        <a class="nav-item company-logo" (click)="goHome()">
          <img class="nav-item-text company-name" src="../../../assets/logos/logo.png" />
        </a>
      </div>
    </nz-header>
    <app-notification-tab></app-notification-tab>
    <app-bread-crum *ngIf=" '/welcome' !== router.url"></app-bread-crum>
    <nz-content class="cotent-container">
      <div class="main-container">
        <nz-layout class="mb-50px">
          <nz-content>
            <ng-content></ng-content>
          </nz-content>
        </nz-layout>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
