:host {
  transition: all 2s ease-in-out; }

.mat-nav-list {
  width: 250px; }

.status-list-container {
  margin-left: 24px; }
  .status-list-container h2 {
    margin-bottom: 25px;
    font-family: Montserrat;
    color: white;
    font-size: 16px; }

.main-container {
  /* height: calc(100% - 50px); */
  overflow-y: scroll;
  max-width: 100%;
  width: 100%; }

.top-toolbar.mobile {
  background-color: #0070f6;
  padding: 0 !important; }

.top-toolbar {
  height: 50px;
  background: none;
  position: sticky; }
  .top-toolbar .container {
    width: 100%; }

.user-icon-button {
  background-color: #30d289;
  color: white;
  background-size: cover;
  border: 2px solid #006bec;
  align-self: flex-end; }

.sidenav-container {
  height: 100%; }

mat-sidenav {
  background-color: #28464b; }

mat-sidenav-content {
  overflow: hidden; }

a {
  padding: 0 15px 0 24px; }

.nav-item {
  word-wrap: none;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap; }

.nav-toggle {
  margin: 0 15px;
  float: right; }

.nav-icon {
  margin: 0 5px; }

.nav-item-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: 0.6px;
  text-align: left;
  text-transform: uppercase;
  color: #f4faff;
  margin: 0 15px; }

.nav-item-text:hover {
  color: #1890ff; }

.company-logo {
  margin-bottom: 20px; }
  .company-logo .nav-item-text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: 1.4px;
    text-align: left;
    color: #f4faff;
    margin: 0 11px; }

.setting-row {
  margin: 10px; }

.mnav-dropdown {
  background-color: #00dcff; }

.onboarding-percent {
  color: #30d289; }

.side-bottom .inside-side-bottom {
  /* padding-left: 9px; */
  position: fixed;
  bottom: 20px;
  width: 250px; }

.user-name {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 0;
  padding-top: 10px;
  display: inline-block;
  vertical-align: top !important; }

.ant-layout-header {
  background-color: #0070f7;
  color: #ffff; }

.menu-list {
  background-color: #0070f7;
  color: #ffff;
  border: none; }
  .menu-list.usr-prof {
    margin: 0 !important; }

.logo {
  background-color: #0070f7;
  margin-top: 16px; }

.nav-text {
  vertical-align: sub;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold; }

.onbaording-percentage {
  margin-left: 75px; }

.user-profile {
  padding-left: 15px; }

.cotent-container {
  display: flex;
  overflow: hidden;
  height: 100vh;
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
  padding: 0; }

.switch-text {
  margin-left: 10px; }

.user-icon {
  height: 55px; }

/*# sourceMappingURL=sidebar.component.css.map */
