:host {
    transition: all 2s ease-in-out;
}

.mat-nav-list {
    width: 250px;
}

.status-list-container {
    margin-left: 24px;
    h2 {
        margin-bottom: 25px;
        font-family: Montserrat;
        color: white;
        font-size: 16px;
    }
}

.main-container {
    height: 100%;//calc(100% - 50px);
    overflow-y: scroll; // overflow-x: hidden;
    max-width: 100%;
    width: 100%;
}

.top-toolbar.mobile {
    background-color: #0070f6;
    padding: 0 !important;
}

.top-toolbar {
    height: 50px; // background-color: #0070f6;
    background: none; // margin-bottom: 34px;
    .container {
        width: 100%;
    }
    position: sticky;
}

.user-icon-button {
    background-color: rgb(48, 210, 137);
    color: white;
    background-size: cover;
    border: 2px solid darken(#0070f6, 2);
    align-self: flex-end;
}

.sidenav-container {
    height: 100%; // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
}

mat-sidenav {
    background-color: #28464b;
}

mat-sidenav-content {
    overflow: hidden;
}

//   .opened {
//       width: auto;
//   }
//   .closed {
//       width: 61px;
//   }
a {
    padding: 0 15px 0 24px;
}

.nav-item {
    word-wrap: none;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

.nav-toggle {
    margin: 0 15px;
    float: right;
}

.nav-icon {
    margin: 0 5px;
}

.nav-item-text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 0.6px;
    text-align: left;
    text-transform: uppercase;
    color: #f4faff;
    margin: 0 15px;
}
.nav-item-text:hover {
    color: #1890ff;
}

.company-logo {
    margin-bottom: 20px;
    .nav-item-text {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.22;
        letter-spacing: 1.4px;
        text-align: left;
        color: #f4faff;
        margin: 0 11px;
    }
    &.zt-icon {
        .nav-item-text {
            margin: 0 8px !important;
        }
        img {
            height: 32px;
        }
    }
    .text-logo {
        display: block;
        width: 65px;
    }
}

.setting-row {
    margin: 10px;
}

.mnav-dropdown {
    background-color: #00dcff;
}

.onboarding-percent {
    color: #30d289;
}

//ng-material-multilevel-menu{
// div.mnav-dropdown{
//   color: #ffffff;
// }
//}
//.mat-list-item-content{
//  background-color: red;
//}
//.mnav-dropdown-1{
//  .mnav-dropdown{
//    background-color: red;
//  }
//}
//.ng-tns-c15-17{background-color: red;}
//.amml-item{
//  background-color: red;
//}
//.level-1{
//  background-color: red;
//}
//ng-material-multilevel-menu .mnav-dropdown{
//  color: #000;
//}
//.amml-icon{
//  margin-left: 8px;
//}
//.anml-data{
//  font-family: Montserrat !important;
//  font-size: 14px !important;
//  font-weight: bold !important;
//}
.side-bottom {
    // position: relative;
    .inside-side-bottom {
        // padding-left: 9px;
        position: fixed;
        bottom: 15px;
        width: 250px;
    }
}

.user-name {
    white-space: initial;
    width: 165px;
    word-wrap: break-word;
    margin-right: 0;
    padding-top: 10px;
    display: inline-block;
    vertical-align: top !important;
}

.ant-layout-header {
    background-color: #0070f7;
    color: #ffff;
}

.menu-list {
    // height: 55%;
    background-color: #0070f7;
    color: #ffff;
    border: none;

    &.usr-prof {
        margin: 0 !important;
    }
}
.logo {
  background-color: #0070f7;
  padding-top: 16px;
}
.nav-text {
  vertical-align: sub;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
}
.onbaording-percentage {
  margin-left: 24px;
}
.user-profile {
    padding-left: 15px;
}
.cotent-container {
    display: flex;
    overflow: hidden;
    height: 100vh;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
    padding: 0;
}
.switch-text {
    margin-left: 10px;
}
.user-icon {
    height: 55px;
}
.p-0 {
    padding: 0px;
}
.pl-0 {
    padding-left: 0px;
}
.mb-50px {
    margin-bottom: 50px;
}
.welcome-btn {
    width: 208px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #fff;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
}
.bottom-item {
    margin-top: 25px;
}
// .top-menu {
//     height: 80vh;
//     overflow-y: scroll;
//     overflow-x: hidden;
// }
.d-inline-block {
    display: inline-block;
}
.user-menu-item {
    line-height: 48px;
      cursor: pointer;
}
.user-icon-button {
    background-color: rgb(48, 210, 137);
    color: white;
    background-size: cover;
    border: 2px solid darken(#0070f6, 2);
    align-self: flex-end;
    height: 40px;
    width: 40px;
  }
.bottom-menu {
    position: absolute;
    bottom: 124px;
    padding-bottom: 40px;
}
.user-menu-icons {
    color: #0070f7;
}
.padding-left-zero {
    padding-left: 0 !important;
}
.trial_banner {
  background-color: rgb(48, 210, 137);
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 5px 0;
}
.onboarding-icon {
    height: 24px;
    margin-left: 0;
}