<!-- <app-sidebar> -->
<div class="container">
  <h1 *ngIf="product">{{isNew ? 'New' : 'Update'}} {{product.normalizedName}}</h1>
  <nz-steps [nzCurrent]="current" *ngIf="content.category !== 'MV'" class="content-stepper">
    <nz-step nzTitle="Pick a Type" *ngIf="isSingleSnapShot" (click)="gotoStep(0)"></nz-step>
    <nz-step nzTitle="Edit Details" (click)="gotoStep(0)"></nz-step>
    <nz-step nzTitle="Customize Content" (click)="gotoStep(1)"></nz-step>
    <nz-step nzTitle="Done"></nz-step>
  </nz-steps>
  <div class="steps-content" *ngIf="current === 0 && isSingleSnapShot">
    <app-single-data-snapshot-form *ngIf="type === 'Content'" [contentData]="content" (change)="onChangeSnapType($event)" [model]="contentSubject"></app-single-data-snapshot-form>
    <div [style.width]="'100%'" fxLayout="row" fxLayoutAlign="end start" class="mrt-16">
    <button nz-button nzType="primary" *ngIf="!loading" [disabled]="!content.extra_attributes || (content.extra_attributes && !content.extra_attributes.data_points.length)" (click)="saveSnapShot()">Save and Next</button>
    </div>
  </div>
  <div class="steps-content" *ngIf="(current === 0 && content.category !== 'MV' && !isSingleSnapShot) || (current === 1 && content.category !== 'MV' && isSingleSnapShot)">
    <ng-template matStepperIcon="done">
      <mat-icon>done_all</mat-icon>
    </ng-template>
    <!-- <ng-template matStepLabel>Edit Details</ng-template> -->
    <app-customer-form #rForm *ngIf="type === 'Customer'"  [requiredFields]="requiredFields" [showFields]="showFields" [limitShow]="true"
      [model]="contentSubject"></app-customer-form>
    <app-listing-form #rForm *ngIf="type === 'Listing'" (requiredChange)="updateRequiredFields($event)" [requiredFields]="requiredFields" [extraFields]="showFields" [limitShow]="true"
      [model]="contentSubject"></app-listing-form>
    <app-market-report-form #rForm *ngIf="type === 'Content'" [model]="contentSubject" [requiredFields]="requiredFields" [extraFields]="showFields" [limitShow]="true">
    </app-market-report-form>
    <div [style.width]="'100%'" fxLayout="row" fxLayoutAlign="end start" class="mrt-16">
      <button nz-button *ngIf="isSingleSnapShot" class="back-btn" (click)="pre();">Back</button>
      <button nz-button nzType="primary" [disabled]="imageLoadEnd" *ngIf="!loading" (click)="saveResource()">Save and Continue</button>
      <!-- <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="20" class="spinner"></mat-progress-spinner> -->
      <div class="spinner" *ngIf="loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
      </div>
    </div>
  </div>
  <div class="steps-content" *ngIf="(current === 1 && !isSingleSnapShot) || (current === 2 && isSingleSnapShot)">
    <app-content-form *ngIf="styles" #contentForm [model]="content" (nextPage)="nextPage()" [styles]="styles" [showCaption]="this.product.name !== 'banner_video'"
      [showColors]="this.product.name !== 'marketing_video'">
    </app-content-form>
    <div fxLayout="row" fxLayoutAlign="end start">
      <button nz-button *ngIf="!loading" class="back-btn" (click)="pre();">Back</button>
      <button nz-button nzType="primary" color="primary" *ngIf="!loading" (click)="submit()">Create</button>
      <!-- <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="20" class="spinner"></mat-progress-spinner> -->
      <div class="spinner" *ngIf="loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
      </div>
    </div>
  </div>
  <div class="steps-content" *ngIf="(current === 2 && !isSingleSnapShot) || (current === 3 && isSingleSnapShot)">
    <h3>Success!</h3>
    <p>Redirecting you back.</p>
    <div class="spinner" *ngIf="loading">
      <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
    <!-- <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="120" class="spinner"></mat-progress-spinner> -->
  </div>
</div>
<!-- </app-sidebar> -->
