<!-- <app-sidebar> -->
<div class="container">
  <div class="title-header" [ngTemplateOutlet]="AdsContent"></div>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="50px">
    <nz-spin [nzSize]="'large'" *ngIf="loading">
      <ng-container [ngTemplateOutlet]="adsDetails"></ng-container>
    </nz-spin>
    <ng-container [ngTemplateOutlet]="adsDetails" *ngIf="!loading"></ng-container>
  </div>
</div>
<ng-template #AdsContent>
  <div class="title-header">
    <h1 class="title">Advertisement</h1>
  </div>
  <div class="delete-container">
    <button mat-button (click)="deleteAd()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <nz-divider class="m-0"></nz-divider>
</ng-template>
<ng-template #adsDetails>
  <div nz-row nzGutter="16">
    <div nz-col class="gutter-row" nzSpan="10">
      <div class="gutter-box">
        <!--          <h1 class="ads-h1">Video</h1>-->
        <div *ngIf="media_type === 'image'" class="card-image">
          <img [src]="media_url" [alt]="ads_caption" class="internal-content" />
        </div>
        <video preload="none" class="content-video" *ngIf="media_type === 'video'" width="100%" controls>
          <source [src]="media_url" />
        </video>
      </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="8">
      <div class="gutter-box">

        <div *ngIf="ads_title">
          <h1 class="ads-h1">Title</h1>
          <div class="ads-text-box">{{ads_title}}</div>
        </div>
        <div *ngIf="ads_caption">
          <h1 class="ads-h1 m-t-30">Caption</h1>
          <div class="ads-text-box">{{ads_caption}}</div>
        </div>

        <div *ngIf="ads_description">
          <h1 class="ads-h1 m-t-30">Description</h1>
          <div class="ads-text-box">{{ads_description}}</div>
        </div>
        <!--          <input nz-input [value]="ads_title" readonly >-->
        <!--          <textarea rows="4" style="resize: none;" nz-input [value]="ads_caption" readonly></textarea></div>-->
      </div>
    </div>
  </div>
</ng-template>
<!-- </app-sidebar> -->
