.ads-hd-text-style {
  font-size: 16px;
  font-weight: bold;
  color: #000000; }

.ads-text-style {
  font-size: 14px;
  font-weight: bold;
  color: #000000; }

.ads-stat {
  padding: 11px 0;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold; }

.ads-stat-count {
  float: right;
  padding: 0 25px 0 0; }
  .ads-stat-count:after {
    content: " ";
    border-left: 1px solid #d9d9d9;
    position: absolute;
    right: 10px;
    padding: 12px 0; }

.ads-h1 {
  font-weight: bold;
  font-size: 16px; }

.m-t-30 {
  margin-top: 30px; }

.title-header {
  display: inline-block; }

.delete-container {
  display: inline-block;
  border: 1px solid #ff4d4f;
  background-color: #ff4d4f;
  border-radius: 4px;
  margin-left: 15px;
  width: 26.1px;
  height: 26.1px;
  line-height: 20px;
  text-align: center;
  cursor: pointer; }
  .delete-container button {
    padding: 0;
    vertical-align: middle;
    line-height: 24px;
    min-width: unset; }
  .delete-container mat-icon {
    color: white;
    height: 18px;
    width: 18px;
    font-size: 18px; }

/*# sourceMappingURL=show.component.css.map */
