<div fxLayout="row" fxLayoutAlign="space-between center">
  <h1 class="section-title title">
    <i nz-icon nzType="flag"></i>
    Promote My Listings
  </h1>
</div>
<app-listing-preview *ngIf="listing" [listing]="listing" class="listing-preview"></app-listing-preview>
<div class="nz-mb-0">
  <nz-collapse nzBordered="false" class="is_mobile">
    <div class="title-header" [ngTemplateOutlet]="listingTContent"></div>
    <nz-collapse-panel nzActive [nzHeader]="listingContent">
      <app-content-table [contents]="contents" (deleted)="fetchContent()"></app-content-table>
    </nz-collapse-panel>
  </nz-collapse>

  <div class="is_desktop">
    <div class="title-header" [ngTemplateOutlet]="listingTContent"></div>
    <div class="title-header" [ngTemplateOutlet]="listingContent"></div>
    <nz-spin [nzSize]="'large'" *ngIf="loading">
      <ng-container [ngTemplateOutlet]="contentListing"></ng-container>
    </nz-spin>
    <ng-container [ngTemplateOutlet]="contentListing" *ngIf="!loading"></ng-container>
  </div>

  <ng-template #listingContent>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="create-cont">
      <h2 class="content-heading">
        This Listing's Content
      </h2>
      <nz-pagination nzShowSizeChanger [nzPageSizeOptions]="pageSizeOptions" [nzPageSize]="contentPagination.limit" [nzPageIndex]="1"
        [nzTotal]="contentPagination.total" (nzPageIndexChange)="didPage($event)">
      </nz-pagination>
    </div>
  </ng-template>
  <ng-template #listingTContent>
    <button nz-button nzType="primary" (click)="makeContent()">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      Make Content for this Listing</button>
  </ng-template>
  <ng-template #noHeader>
    <h1 class="section-title"></h1>
    <nz-divider class="m-0"></nz-divider>
  </ng-template>
  <ng-template #contentListing>
    <app-content-table [contents]="contents" (deleted)="fetchContent()"></app-content-table>

    <div fxLayout="row" fxLayoutAlign="end start" class="spacing" *ngIf="contents && contents.length">
      <nz-pagination nzShowSizeChanger [nzPageSizeOptions]="pageSizeOptions" [nzPageSize]="contentPagination.limit" [nzPageIndex]="1"
        [nzTotal]="contentPagination.total" (nzPageIndexChange)="didPage($event)">
      </nz-pagination>
    </div>
    <router-outlet></router-outlet>
  </ng-template>
</div>