<div>
<!-- <h1>Preview Modal</h1> -->
<div *ngIf="config.content.status === 'rendering'">
    <div class="content-media">
      <img class="internal-content" src="assets/styles/Rendering.gif">
    </div>
  </div>
  <div *ngIf="config.content.status !== 'rendering'" class="content-media">
    <div mat-card-image *ngIf="config.content.media_type === 'image'" >
      <img [src]="config.content.url" [alt]="config.content.caption" class="internal-content" />
    </div>
    <video preload="none" class="internal-content" *ngIf="config.content.media_type === 'video'" controls>
      <source [src]="config.content.url" />
    </video>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="actions">
    <!-- <button nz-button nzType="default" class="action-btn" (click)="gotToEdit()">Edit</button> -->
    <button nz-button nzType="default" class="action-btn" (click)="download();">Download</button>
    <button nz-button nzType="default" class="action-btn" (click)="post()">Post</button>
  </div>
</div>
