@import '../../../styles.scss';
.content-media {
  padding: 0 48px;
}
.internal-content {
  width: 100%;
}
.action-btn {
  color: #0070f7;
  border-color: #0070f7;
  min-width: 20%;
}
.actions {
  padding: 24px 48px;
}