<!-- <app-sidebar> -->
    <nz-collapse nzBordered="false" class="is_mobile">
      <nz-collapse-panel nzActive [nzHeader]="listingTitle">
        <h1 class="section-title section-title-small" *ngIf="!isChild">
          Add/Edit Listings
        </h1>
        <h5 class="section-description" *ngIf="!isChild">
          Create a listing before you make content for it.
        </h5>
        <div fxLayout="row wrap" class="filters">
          <div class="search" fxFlex="100%">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text" nz-input [ngModel]="searchText" (ngModelChange)='searchModelChanged.next($event)'
                matInput placeholder=" Search By Address" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <i nz-icon type="search"></i>
            </ng-template>
          </div>
          <nz-dropdown>
            <button nz-button nz-dropdown (click)="toggelSortOrder()">
              <span>Sort By {{selectedSort.by | titlecase}}</span>
              <i *ngIf="this.selectedSort.order === 'asc';else descending" nz-icon type="down"></i>
              <ng-template #descending>
                <i nz-icon type="up"></i>
              </ng-template>
            </button>
            <ul nz-menu>
              <li nz-menu-item *ngFor="let sort of sortings" (click)="setSortOption(sort)">
                <a>Listing {{sort | titlecase}}</a>
              </li>
            </ul>
          </nz-dropdown>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <app-card-button [config]="newCardButton" *ngIf="!isChild"></app-card-button>
          <!--          <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="150"></mat-progress-spinner>-->
          <nz-spin nzSimple [nzSize]="'large'" *ngIf="loading"></nz-spin>
          <ng-container *ngFor="let listing of listings">
            <app-card-button (click)="clickCard(listing)" [config]="configFor(listing)"></app-card-button>
          </ng-container>
        </div>
        <router-outlet></router-outlet>
      </nz-collapse-panel>
    </nz-collapse>

    <div class="is_desktop">
      <div class="title-header" *ngIf="!isChild" [ngTemplateOutlet]="listingTitle"></div>
      <h1 class="section-title section-title-small" *ngIf="!isChild">
        Add/Edit Listings
      </h1>
      <h5 class="section-description" *ngIf="!isChild">
        Create a listing before you make content for it.
      </h5>
      <div fxLayout="row" class="filters">
        <div class="search">
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input [ngModel]="searchText" (ngModelChange)='searchModelChanged.next($event)'
              matInput placeholder=" Search By Address" />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i nz-icon type="search"></i>
          </ng-template>
        </div>
        <nz-dropdown class="sort">
          <button nz-button nz-dropdown (click)="toggelSortOrder()">
            <span>Sort By {{selectedSort.by | titlecase}}</span>
            <i *ngIf="this.selectedSort.order === 'asc';else descending" nz-icon type="down"></i>
            <ng-template #descending>
              <i nz-icon type="up"></i>
            </ng-template>
          </button>
          <ul nz-menu>
            <li nz-menu-item *ngFor="let sort of sortings" (click)="setSortOption(sort)">
              <a>Listing {{sort | titlecase}}</a>
            </li>
          </ul>
        </nz-dropdown>
      </div>
        <nz-spin [nzSize]="'large'" *ngIf="loading">
          <ng-container [ngTemplateOutlet]="Listings"></ng-container>
        </nz-spin>
        <ng-container [ngTemplateOutlet]="Listings" *ngIf="!loading"></ng-container>
        <div fxLayout="row" fxLayoutAlign="end start">
          <nz-pagination nzShowSizeChanger [nzPageSizeOptions]="pageSizeOptions" [nzPageSize]="listingPagination.limit" [nzPageIndex]="listingPagination.page" [nzTotal]="listingPagination.total" (nzPageIndexChange)="didPage($event)">
          </nz-pagination>
        </div>
      <router-outlet></router-outlet>
    </div>

    <ng-template #listingTitle>
      <h1 [className]="ConfigListingTitle.class" *ngIf="!isChild">
        <mat-icon class="nav-icon" [style.color]="ConfigListingTitle.colors">{{ConfigListingTitle.icon}}</mat-icon>
        {{ConfigListingTitle.title}}
      </h1>
      <nz-divider class="m-0"></nz-divider>
    </ng-template>
    <ng-template #Listings>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="25px" fxLayoutGap.xs="0">
      <app-card-button [config]="newCardButton" *ngIf="!isChild"></app-card-button>
      <ng-container *ngFor="let listing of listings">
        <app-card-button (click)="clickCard(listing)" pendo-data-id="listing" [config]="configFor(listing)"></app-card-button>
      </ng-container>
      </div>
    </ng-template>
<!-- </app-sidebar> -->
