<!-- <nz-layout> -->
  <div class="login-container" fxLayout="column" fxLayoutAlign="start center" fxFlex>
    <div class="icon-container">
      <img class="up-icon" src="assets/logos/logo.png">
    </div>

    <div [@flyInOut]="'in'" class="login-box">
      <div class="spiner-center loading-overlay" *ngIf="loading" fxFlexLayout="column" fxLayoutAlign="center stretch">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
      </div>
      <div class="login-title">Sign in</div>
      <!-- <ng-container *ngIf="!emailExists">
        <button nz-button class="facebook-login-button" nzSize="large" nzType="primary" (click)="loginWithFacebook()">with Facebook</button>
        <div class="or">
          <span class="text">or</span>
        </div>
      </ng-container> -->


      <form nz-form [formGroup]="authForm" (ngSubmit)="emailExists ? login() : checkEmail()" class="login-form">
        <span class="error" *ngIf="errorMessage">{{ errorMessage }}</span>
        <nz-form-item *ngIf="!emailExists">
          <nz-form-control nzErrorTip="Email is required">
            <nz-input-group nzPrefixIcon="mail">
              <input nz-input name="email" type="email" id="email" formControlName="email" placeholder="Email" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <br />
        <nz-form-item *ngIf="emailExists">
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
            <a routerLink="/forgot_password"  class="login-form-forgot" class="login-form-forgot" >Forgot Password?</a>
          </nz-form-control>
        </nz-form-item>
        <br />
        <button nz-button type="primary" *ngIf="emailExists" class="login-button" [disabled]="!authForm.valid" size="large" type="submit">
          Login
        </button>
        <button nz-button type="primary" size="large" *ngIf="!emailExists" class="login-button" type="button" [disabled]="!authForm.value.email"
          type="submit">
          Next
        </button>
      </form>

    </div>
  </div>
<!-- </nz-layout> -->
