
:host {
    height: 100%;
    width: 100%;

}
.up-icon {
    // height: 94px;
}
.icon-container {
    margin-bottom: 90px;
}
.loading-overlay {
    position: absolute;
    top: 40%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
}
.login-container {
    margin: 0;
    padding: 100px 0 0 0;
    overflow-y: scroll;
    overflow-x: hidden;
    // background-color: #326771;
    background-image: radial-gradient(ellipse, #0070f6, #16464D);
}

.or {
    // mat-divider {
    //     margin-top: 20px;
    // }
    .text {
        display: block;
        padding: 15px 0;
    }
    margin: 10px 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
}
.login-title {
    font-family: "Montserrat";
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    margin-bottom: 20px;
}

.login-box {
    width: 450px;
//   height: 475px;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    // background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 26px 32px 26px;
    position: relative;
    margin-bottom: 50px;
}

.forgot-box {
    width: 450px;
  height: auto;
  box-sizing: border-box;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 26px 70px 26px;
}
.reset-message {
    display: block;
    text-align: center;
   margin-bottom: 10px;
}
.reset-notice {
    display: block;
    text-align: center;
   margin-top: 10px;
   font-size: 12px;
}
.resend-button {
   width: unset !important;
}

.facebook-login-button {
    padding: 10px 25px;
    background-color: #4267b2;
    color: white;

    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    height: 49px;
    border-color: none;
    border-color: transparent !important;
    // color: #f4faff;
}

.login-form {
    mat-form-field {
        width: 100%;
    }
}

.login-button {
    margin-top: 25px;
    width: 149px;
    height: 50px;
    object-fit: contain;
    border-radius: 4px;
    background-color: #0070f7;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    border-color: #0070f7;
}
.signup-button {
    margin-top: 15px;
    width: 149px;
    height: 50px;
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 600;
}
.forgot-pass-link {
    font-family: 'Montserrat';
  font-size: 11px;
  font-weight: 500;
  color: #326771;
  text-decoration: none;
  line-height: normal;
}
.login-form-forgot {
    font-family: 'Montserrat';
    font-size: 11px;
    font-weight: 500;
    color: #326771;
    text-decoration: none;
    line-height: normal;
    float: right;
}