<h1 mat-dialog-title>Pick an Image</h1>
<div mat-dialog-content>
  <nz-divider></nz-divider>

  <div nz-row *ngIf="images" >
    <div class="scollable-section">
      <div nz-col nzSpan="7" class="back-image" *ngFor="let image of images; index as i" 
        [style.backgroundImage]="'url(' + image.large + ')'"
        [class.selected]="i === selected" 
        (click)="select(image)">
      </div>
    </div>
  </div>
  <nz-empty nzNotFoundContent="No Image Found!" *ngIf="images && images.length === 0" class="no-content"></nz-empty>
</div>
