<div fxLayout="row wrap" fxLayoutAlign="center stretch" fxLayoutGap="25px" class="brand-bordered">
  <div *ngFor="let tier of tiers; let idx = index" nzSm="24" nzMd="12" nzLg="8" class="tier-card"
    [ngClass]="{selected: currentTier && tier.id === currentTier}" fxLayout="column" fxLayoutAlign="start stretch"
    fxLayoutGap="5px" fxFlex>
    <div class="tier-header" [style.backgroundColor]="headerColors[idx % headerColors.length]">
      <h2 class="tier-name text-center">{{tier.name}}</h2>
      <div class="price text-center">
        <span>$</span>
        <span class="price-number">{{ tier.price(billingPeriod) }}</span>
        <span>/ {{ billingPeriod }}</span>
      </div>
      <!-- <div>
        <mat-divider></mat-divider>
      </div> -->
    </div>
    <div class="tier-description text-center">{{tier.description}}</div>
    <div class="text-md" fxFlex>
      <div class="product-row" *ngFor="let product of tier.uniqueProducts" fxLayout="row" fxLayoutAlign="center center">
        <span class="product-name" [ngClass]="{'new': isNew(product, idx)}">{{product.normalizedName}}</span>
        <i nz-icon *ngIf="product.description" class="info-icon" nzType="info-circle" nzPlacement="topLeft" nz-tooltip nzTheme="fill" [nzTitle]="product.description"></i>
      </div>
    </div>
    <div class="text-center select-button-container">
      <button nz-button nzSize="large"
        [nzType]="currentPlan && tier.planFor(billingPeriod).id === currentPlan ? 'default' : 'primary'"
        (click)="selectTier(tier)"
        [disabled]="currentPlan && tier.planFor(billingPeriod).id === currentPlan && !cancelAtEnd">
        {{currentPlan && tier.planFor(billingPeriod).id === currentPlan
          ? cancelAtEnd ? 'Reactivate' : 'Current Tier'
          : 'Select Tier'}}
      </button>
    </div>
  </div>
</div>
