@import '../../../styles.scss';

.tier-card {
  // border: 1px solid darkgray;
  border-radius: 6px;
  padding: 0;
  min-width: 200px;
  max-width: 600px;
  @include mat-elevation(4);

  &.selected {
    @include mat-elevation(15);
  }

  .tier-header {
    padding: 20px;
    // padding-bottom: 0;
    background-color: red;
    color: white;
  }

  .tier-name {
    font-size: 25px;
    font-weight: 600;
    color: white;
    margin-bottom: 5px;
  }

  .price {
    font-size: 12px;
    font-weight: 200;

    .price-number {
      margin: 0 3px;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .product-row {
    margin: 10px 4px;
    text-align: center;
    border-bottom: 1px solid lightgray;

    .product-name {
      font-size: 14px;
      font-weight: 400;
      color: black;
    }
  }

  .select-button-container {
    padding: 20px;
  }
}

.new {
  font-weight: bold !important;
}
.info-icon {
  font-size: 20px;
}