<!-- <app-sidebar> -->
  <ng-container *ngIf="customer.billing_provider === 'stripe' && subscription$ | async as subscription">
    <!-- <div class="page-container"> -->
    <nz-steps [nzCurrent]="current" nzSize="small" class="upgrade-steps">
      <nz-step nzTitle="Pick a Plan" (click)="current = 0"></nz-step>
      <nz-step nzTitle="Pay" (click)="current = 1"></nz-step>
      <nz-step nzTitle="Done" (click)="current = 2"></nz-step>
    </nz-steps>
    <div class="steps-content" *ngIf="current == 0">
      <ng-template matStepLabel>Pick a Plan</ng-template>
      <div class="cancellationNotice" fxFlex="100%" *ngIf="subscription.cancel_at_period_end">
        Your subscription will expire on {{subscription.current_period_end.format('MMM DD')}}.
      </div>
      <div class="billing-period" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
        <span class="billing-period-name">Monthly</span>
        <nz-switch [(ngModel)]="isYearly" (ngModelChange)="toggleBillingPeriod()"></nz-switch>
        <span class="billing-period-name">Yearly</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="0px">
        <app-tier-selector fxFlex="100%" [tiers]="tiers" (selectedPlan)="selectPlan($event);" [currentPlan]="subscription.plan && subscription.status !== 'trialing' ? subscription.plan.id : ''"
                           [billingPeriod]="billingPeriod" [cancelAtEnd]="subscription.cancel_at_period_end
            ? subscription.current_period_end
            : null">
        </app-tier-selector>
      </div>
      <!-- *ngIf="subscription ? subscription.is_paid_active : false" -->
      <button *ngIf="subscription ? subscription.is_paid_active : false" nz-button nzType="danger" class="cancel-account" (click)="cancelAccount()">Cancel Account
      </button>
    </div>
    <div class="steps-content" *ngIf="current == 1">
      <ng-template matStepLabel>Pay</ng-template>
      <div class="step">
        <div nz-row >
          <div nz-col nzSm="24" nzLg="16">
            <app-payment-selector  *ngIf="current === 1" [(selectedSource)]="paymentSource">
            </app-payment-selector>
          </div>
          <div nz-col nzSm="24" nzLg="8">
            <app-payment-preview  [lineItems]="lineItems()" [paymentSource]="paymentSource" [(coupon)]="coupon" (checkout)="submit()"></app-payment-preview>
          </div>
        </div>

        <div align="end" [style.marginTop]="'20px'">
          <button nz-button (click)="current = current -1;" class="back-step">Back</button>
          <button nz-button nzType="primary" (click)="submit()" [disabled]="!paymentSource || !selectedPlan">Checkout</button>
        </div>
      </div>
    </div>
    <div class="steps-content" *ngIf="current == 2">
      <div class="sending" *ngIf="loading" fxLayout="column" fxLayoutAlign="start center">
        <h2>Processing Payment</h2>
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
      </div>
      <div class="sent" *ngIf="!loading" fxLayout="column" fxLayoutAlign="start center">
        <h2>Payment Successful</h2>
        <button nz-button nzType="primary" (click)="home()">
          <span>Go to Dashboard</span>
        </button>
      </div>
    </div>
    <!-- </div> -->
  </ng-container>
  <div *ngIf="customer.billing_provider === 'dpp'" fxLayout="column" fxLayoutAlign="start center">
    <div>
      <h2>Please contact your account rep to upgrade.</h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="15px">
      <a type="button" *ngFor="let link of contactLinks" mat-raised-button class="link" [style.backgroundColor]="link.color" [href]="link.href">
        <fa-icon *ngIf="link.icon" [icon]="link.icon.split(' ')" size="1x"></fa-icon>{{link.label}}
      </a>
    </div>
  </div>
<!-- </app-sidebar> -->
