.billing-period {
  margin-bottom: 15px;

  .billing-period-name {
    font-size: 25px;
  }
}

.links {
  margin-right: 20px;
}

.link {
  -webkit-appearance: unset;
  font-size: 16px;
  line-height: 16px;
  background-color: #30d289;
  color: white;
  padding: 15px 14px 15px 10px;
  vertical-align: middle;
  text-decoration: none;

  fa-icon {
    vertical-align: middle;
    margin-right: 15px;
  }
}

.cancellationNotice {
  text-align: center;
  color: red;
}
.cancel-account {
  margin-top: 16px;
}
.back-step {
  margin-right: 16px;
}
