<!-- <app-sidebar> -->
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="25px">
    <h1 class="title page-title">Edit Your Profile</h1>
  </div>
  <nz-divider></nz-divider>
  <nz-spin [nzSize]="'large'" *ngIf="loading">
    <app-customer-form #customerForm [valid]="valid" (retry)="save()" (validChange)="this.valid = $event" [model]="customer">
    </app-customer-form>
  </nz-spin>
  <app-customer-form #customerForm *ngIf="!loading" [valid]="valid" (retry)="save()" (validChange)="this.valid = $event" [model]="customer">
  </app-customer-form>
  <span class="error" *ngIf="error">{{ error | titlecase }}</span>
  <nz-divider></nz-divider>
  <button nz-button nzType="primary" [disabled]="imageLoadEnd" class="space-right" (click)="save()">Save</button>
  <button nz-button nzType="danger" (click)="cancel()">Cancel</button>
  <div class="spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
<!-- </app-sidebar> -->
