<div class="status-container" *ngIf="status && loading">
  <div class="success-checkmark">
    <div class="check-icon">
      <span class="icon-line line-tip"></span>
      <span class="icon-line line-long"></span>
      <div class="icon-circle"></div>
      <div class="icon-fix"></div>
    </div>
  </div>
  <h1>Linkedin Connected Successfully!</h1>
</div>
<div class="status-container" *ngIf="!status && loading">
  <div class="error-banmark">
    <div class="ban-icon">
      <span class="icon-line line-long-invert"></span>
      <span class="icon-line line-long"></span>
      <div class="icon-circle"></div>
      <div class="icon-fix"></div>
    </div>
  </div>
  <h1>Error connecting Linkedin!</h1>
</div>
