.title-header {
  margin-bottom: 24px;
}

.select-box {
  width: 288px;
  height: 158px;
  border-radius: 4px;
  border: solid 2px #0070f7;
  margin-bottom: 30px;
  cursor: pointer;
}
.box-image {
  display: block;
  margin: auto;
  width: auto;
  height: 70px;
  margin-top: 15px;
}
.box-title {
  height: 144px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  color: #0070f7;
  text-align: center;
  margin: auto;
  padding: 30px;
}
