<!-- <app-sidebar> -->
<div class="container">
  <div class="title-header">
    <h1 class="title">Additional Services</h1>
  </div>

  <nz-spin [nzSize]="'large'" *ngIf="loading">
    <ng-container [ngTemplateOutlet]="addservices"></ng-container>
  </nz-spin>
  <ng-container [ngTemplateOutlet]="addservices" *ngIf="!loading"></ng-container>

  <ng-template #addservices>
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="32px" (click)="openInfo()">
      <div class="select-box" fxFlex="30%" fxFlex.lt-lg="45%" fxFlex.lt-sm="100%" *ngFor="let addService of additionalServices">
        <img class="box-image" src="../../../../assets/images/{{addService.icon}}" />
        <div class="box-title">
          {{addService.name}}
        </div>
      </div>
    </div>
  </ng-template>
  <app-support-popup [setVisible]="isVisible" (hideModal)="closeInfo()"></app-support-popup>
</div>
<!-- </app-sidebar> -->
