table {
  width: 100%; }

@media (max-width: 500px) {
  .selectimagecard {
    display: block !important; } }
.preview-row {
  max-width: 100%;
  max-height: unset;
  overflow-x: auto; }

.mat-elevation-z8 {
  margin: 13px; }

.material-icons {
  margin-top: -3px !important; }

.email {
  min-width: 230px; }

.email-head {
  padding-left: 60px; }
.title-header {
  margin-bottom: 24px; }
/*# sourceMappingURL=leads.component.css.map */
