<!-- <app-sidebar> -->
<div class="container">
  <div class="title-header">
    <h1 class="title">Leads</h1>
  </div>
  <div class="leads-widget">

  <div class="leads-actions">
    <button nz-button nzType="primary" (click)="exportLeads();">Export Leads</button>
  </div>
  <nz-spin [nzSize]="'large'" *ngIf="loading">
    <ng-container [ngTemplateOutlet]="leadslisting"></ng-container>
  </nz-spin>
  <ng-container [ngTemplateOutlet]="leadslisting" *ngIf="!loading"></ng-container>
  <div fxLayout="row" fxLayoutAlign="end start" style="margin-top: 30px;" *ngIf="!loading">
    <nz-pagination [nzPageIndex]="page" [nzTotal]="pageInfo.total_entries" nzPageSize="10" [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="didPage($event)"></nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }}-{{ range[1] }} of {{ total }} items
    </ng-template>
  </div>
  <ng-template #leadslisting>
    <nz-table nzNoResult="" nzTemplateMode>
      <thead>
        <tr class="ads-hd-text-style">
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Type</th>
          <th>Timeline</th>
          <th>Address</th>
          <th>Created on</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lead of leadsDataSource">
          <td class="ads-text-style">
            {{lead.name}}
          </td>
          <td class="ads-text-style">
            {{lead.phone}}
          </td>
          <td class="ads-text-style">
            {{lead.email}}
          </td>
          <td class="ads-text-style">
            {{ lead.lead_type ? lead.lead_type.capitalize() : ''}}
          </td>
          <td class="ads-text-style">
            {{ lead.transaction_in ? lead.transaction_in.capitalize() : '' }}
          </td>
          <td class="ads-text-style">
            {{ lead.address ? lead.address.capitalizeAll() : '' }}
          </td>
          <td>
            {{lead.created_ad | date : "MM-dd-y"}}
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-template>
  </div>
</div>
<!-- </app-sidebar> -->
