table {
  width: 100%;
  // margin: 13px;
}
@media (max-width: 500px) {
  .selectimagecard {
    display: block !important;
  }
}
.preview-row {
  max-width: 100%;
  max-height: unset;
  overflow-x: auto;
}
.mat-elevation-z8 {
  margin: 13px;
}
.material-icons {
  margin-top: -3px !important;
}
.title-header {
  margin-bottom: 24px;
}
.leads-widget {
  margin-top: 16px;
}
.leads-actions {
  margin-bottom: 16px;
}