<div class="image-card {{imageable_type}}"  fxLayout="column" fxLayoutAlign="center center" *ngIf="imageable_type === 'photo0'">

  <div *ngIf="imageable_type === 'photo0' else withoutGallery" class="overlay" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutAlign.xs="center center">
    <button class="upload-button" fxFlex="50%" [style.backgroundColor]="'lightgray'"
    (click)="openImageDialog(imageable_type)">Upload</button>
    <button class="upload-button upload-button-dark" fxFlex="50%" [style.backgroundColor]="'#008CBA'"
      (click)="selectFromGallery()">Gallery</button>
  </div>
  <ng-template #withoutGallery>
  <div class="overlay" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutAlign.xs="center center">
      <button class="upload-button" fxFlex="100%" [style.backgroundColor]="'lightgray'"
      (click)="openImageDialog(imageable_type)">Upload</button>
    </div>
    </ng-template>

    <img *ngIf="isNew" [src]="newImage ? newImage : image" />
  <nz-spin nzSimple class="photo-loading" *ngIf="updateImage"></nz-spin>
  <mat-icon *ngIf="!isNew">add</mat-icon>
</div>
<div class="image-card {{imageable_type}}" (click)="openImageDialog(imageable_type)"  fxLayout="column" fxLayoutAlign="center center" *ngIf="imageable_type != 'photo0'">
    <img *ngIf="isNew" [src]="newImage ? newImage : image" />
  <nz-spin nzSimple class="photo-loading" *ngIf="updateImage"></nz-spin>
  <mat-icon *ngIf="!isNew">add</mat-icon>
</div>