.image-card {
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 25px;
  background-color: #30d289;
  text-align: center;
  font-size: 56px;
  color: white;
  overflow: hidden;
}
.image-card .mat-icon {
  height: 56px;
  width: 56px;
  font-size: 56px;
}
.image-card img {
  height: 100%;
  width: auto;
}
.image-card button {
  padding: 1px 7px 2px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.overlay:hover{
  opacity: 1;
}

.upload-button {
  font-size: 18px;
}

.upload-button-dark {
  color: white;
}

.headshot {
  height: 200px;
  width: 200px;
}
.family_photo {
  width: 208px;
  height: 117px;
}
.attestant_photo {
  width: 200px;
  height: 200px;
}
.photo0 {
  width: 208px;
  height: 117px;
}

.team-headshot {
  height: 180px;
  width: 180px;
  margin: 0 0 15px;
}
.team-headshot img {
  width: 100%;
  display: block;
}

.logo {
  height: 200px;
  width: auto;
  min-width: 200px;
}
.invalid-image {
  border: 1px solid red;
 }

.photo-loading{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0 , 0.3);
  padding-top: 15%;
}
