@import '../../../styles.scss';
.content {
  padding: 0 48px;
  text-align: center;
}
.internal-content {
  width: 85%;
}
.action-btn {
  color: #fff;
  // border-color: #0070f7;
  // min-width: 20%;
  &.details {
    background-color: #0070f7;
  }
  &.latter {
    background-color: #393853;
  }

}
.actions {
  padding: 24px 48px;
}
.header {
  font-weight: 800;
  margin-bottom: 0;
  font-size: 24;
  color: #003F9D;
  // font-family: 'Montserrat';
}

.caption {
  color: #393853;
  font-size: 17;
  font-weight: 600;
}