<button size="large" nz-button nzShape="circle" class="user-icon-button mat-elevation-z8" nz-popover [nzContent]="userMenu"
            [style.backgroundImage]="'url('+customer.image.thumb+')'" [(nzVisible)]="visible" nzTrigger="click">
</button>
<ng-template #userMenu>
    <p class="user-menu-item" nz-menu-item *ngFor="let item of profileMenuItems"
    (click)="handleMenuAction(item.action)">{{item.text}}</p>
</ng-template>

