:host {
  transition: all 2s ease-in-out; }

.mat-nav-list {
  width: 250px; }

.status-list-container {
  margin-left: 24px; }
  .status-list-container h2 {
    margin-bottom: 25px;
    font-family: Montserrat;
    color: white;
    font-size: 16px; }

.main-container {
  /* height: calc(100% - 50px); */
  overflow-y: scroll; }

.top-toolbar.mobile {
  background-color: #0070f6;
  padding: 0 !important; }

.top-toolbar {
  height: 50px;
  background: none;
  position: sticky; }
  .top-toolbar .container {
    width: 100%; }

.user-icon-button {
  background-color: #30d289;
  color: white;
  background-size: cover;
  border: 2px solid #006bec;
  align-self: flex-end;
  height: 40px;
  width: 40px; }

.sidenav-container {
  height: 100%; }

mat-sidenav {
  background-color: #28464b; }

mat-sidenav-content {
  overflow: hidden; }

a {
  padding: 0 15px 0 24px; }

.nav-item {
  word-wrap: none;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap; }

.nav-toggle {
  margin: 0 15px;
  float: right; }

.nav-icon {
  margin: 0 5px; }

.nav-item-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: 0.6px;
  text-align: left;
  text-transform: uppercase;
  color: #f4faff;
  margin: 0 15px; }

.company-logo .nav-item-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: 1.4px;
  text-align: left;
  color: #f4faff;
  margin: 0 11px; }

.setting-row {
  margin: 10px; }

.mnav-dropdown {
  background-color: #00dcff; }

.user-menu-item {
  line-height: 48px;
  cursor: pointer; }

/*# sourceMappingURL=usericon.component.css.map */
