:host {
  transition: all 2s ease-in-out;
}

.mat-nav-list {
  width: 250px;
}

.status-list-container {
  margin-left: 24px;

  h2 {
    margin-bottom: 25px;
    font-family: Montserrat;
    color: white;
    font-size: 16px;
  }

}


.main-container {
  // height: calc(100% - 50px);
  overflow-y: scroll;
  // overflow-x: hidden;
  // max-width: 100%;
}

.top-toolbar.mobile {
  background-color: #0070f6;

  padding: 0 !important;
}

.top-toolbar {
  height: 50px;
  // background-color: #0070f6;
  background: none;
  // margin-bottom: 34px;

  .container {
    width: 100%;
  }

  position: sticky;
}

.user-icon-button {
  background-color: rgb(48, 210, 137);
  color: white;
  background-size: cover;
  border: 2px solid darken(#0070f6, 2);
  align-self: flex-end;
  height: 40px;
  width: 40px;
}

.sidenav-container {
  height: 100%;
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
}

mat-sidenav {
  background-color: #28464b;
}

mat-sidenav-content {
  overflow: hidden;
}

//   .opened {
//       width: auto;
//   }
//   .closed {
//       width: 61px;
//   }
a {
  padding: 0 15px 0 24px;
}

.nav-item {
  word-wrap: none;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
}

.nav-toggle {
  margin: 0 15px;
  float: right;
}

.nav-icon {
  margin: 0 5px;
}

.nav-item-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: 0.6px;
  text-align: left;
  text-transform: uppercase;
  color: #f4faff;
  margin: 0 15px;
}

.company-logo {
  .nav-item-text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: 1.4px;
    text-align: left;
    color: #f4faff;
    margin: 0 11px;
  }
}

.setting-row {
  margin: 10px;
}

.mnav-dropdown {
  background-color: #00dcff;
}
.user-menu-item {
  line-height: 48px;
    cursor: pointer;
}
//ng-material-multilevel-menu{
// div.mnav-dropdown{
//   color: #ffffff;
// }
//}
//.mat-list-item-content{
//  background-color: red;
//}
//.mnav-dropdown-1{
//  .mnav-dropdown{
//    background-color: red;
//  }
//}
//.ng-tns-c15-17{background-color: red;}
//.amml-item{
//  background-color: red;
//}
//.level-1{
//  background-color: red;
//}
//ng-material-multilevel-menu .mnav-dropdown{
//  color: #000;
//}
//.amml-icon{
//  margin-left: 8px;
//}
//.anml-data{
//  font-family: Montserrat !important;
//  font-size: 14px !important;
//  font-weight: bold !important;
//}
