table {
  width: 100%;
  // margin: 13px;
}
@media (max-width: 500px) {
  .selectimagecard {
    display: block !important;
  }
}
.preview-row {
  max-width: 100%;
  max-height: unset;
  overflow-x: auto;
}
.mat-elevation-z8 {
  margin: 13px;
}
.material-icons {
  margin-top: -3px !important;
}
.ads-hd-text-style{
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}
.ads-text-style{
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.notify-text{
  font-size: 16px;
  text-align: center;
  span{
    font-size: 20px;
  }
}
