<!-- <app-sidebar> -->
  <nz-modal [nzVisible]="adsDetected" [nzFooter]="null" (nzOnCancel)="handleCancel()">
    <p class="notify-text">Please disable any ad blockers in order to use this.
      <br>
      <span>Thank you</span>
    </p>
  </nz-modal>
  <nz-collapse nzBordered="false" class="is_mobile">
    <nz-collapse-panel nzActive [nzHeader]="adsTitle">
      <div fxLayout="row wrap" fxLayoutAlign="center center" [ngTemplateOutlet]="adsbuttons"></div>
      <router-outlet></router-outlet>

    </nz-collapse-panel>
  </nz-collapse>

  <div class="is_desktop">
    <div class="title-header" [ngTemplateOutlet]="adsTitle"></div>
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="25px" [ngTemplateOutlet]="adsbuttons"></div>
    <router-outlet></router-outlet>
    <nz-divider class="m-0"></nz-divider>
    <nz-spin [nzSize]="'large'" *ngIf="loading">
      <ng-container [ngTemplateOutlet]="adsListing"></ng-container>
    </nz-spin>
    <ng-container [ngTemplateOutlet]="adsListing" *ngIf="!loading"></ng-container>
    <div fxLayout="row" fxLayoutAlign="end start" style="margin-top: 30px;">

      <nz-pagination [nzPageIndex]="page" [nzTotal]="contentLength" [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="didPage($event)"
                     *ngIf="ads.length > 0">
      </nz-pagination>
      <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
      </ng-template>
    </div>


  </div>

  <ng-template #adsTitle>
    <h1 class="section-title">
      Ads
    </h1>
    <nz-divider class="m-0"></nz-divider>
  </ng-template>
  <ng-template #adsbuttons>
    <app-card-button [config]="newCardButton" style="display: inline-flex"></app-card-button>
  </ng-template>
  <ng-template #adsListing>
    <nz-table nzNoResult="" nzTemplateMode>
      <thead>
      <tr class="ads-hd-text-style">
        <th></th>
        <th>Thumbnail</th>
        <th>Ad Title</th>
        <th>Ad Type</th>
        <th>Created At</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ad of ads">
        <td>
          <a routerLink="{{ad.id}}">
            <button nz-button nzType="primary">View Ad
              <i nz-icon nzType="eye" class="website-icons"></i>
            </button>
          </a>
        </td>
        <td>
          <img src="{{get_campaign_thumbnail(ad)}}" alt="{{ad.id}}" width="160" />
        </td>
        <td class="ads-text-style">
          {{get_campaign_title(ad)}}
        </td>
        <td class="ads-text-style">
          {{ad.campaign_attributes.campaign_type.titleize()}}
        </td>
        <td class="ads-text-style">
          {{ad.post_attributes.created_at | date : "dd-MM-y"}}
        </td>
      </tr>
      </tbody>
    </nz-table>
    <nz-empty nzNotFoundContent="You haven’t created any ad yet" *ngIf="ads && ads.length === 0" class="no-content"></nz-empty>
  </ng-template>
<!-- </app-sidebar> -->
