<!-- <app-sidebar> -->
<div class="container">
  <div class="title-header" [ngTemplateOutlet]="listingContent"></div>
  <div class="empty-websites" *ngIf="!listings.length && !loading">
    <img src="../../../assets/images/listings-empty.png" />
    <h2 class="create-title mar-zero">Promote your Listings with Style!</h2>
    <p class="sub-title">After selecting what you want to make, pick your listing, and customize the content before it gets generated for you.
    </p>
    <button nz-button nzType="primary" (click)="createNewListing();">Let's Go</button>
  </div>
  <ng-container [ngTemplateOutlet]="listin"></ng-container>
  <div class="spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'">
      <!-- <ng-container [ngTemplateOutlet]="listin"></ng-container> -->
    </nz-spin>
  </div>
</div>
<ng-template #listin>
  <nz-table nzNoResult="" nzTemplateMode>
    <thead (nzSortChange)="sort($event)">
      <tr>
        <th nzShowSort nzSortKey="address" [(nzSort)]="mapOfSort.address">Address</th>
        <th class="text-center" nzShowSort nzSortKey="created_at" [(nzSort)]="mapOfSort.created_at">Created At</th>
        <th class="text-center">Create Content</th>
        <th class="text-center wd-100">Edit</th>
        <th class="text-center wd-100">Delete</th>
        <th class="text-center wd-100"></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let listing of listings">
        <td>{{listing.address}} </td>
        <td class="text-center">
          {{ listing.created_at | date : "MM-dd-y"}}
        </td>
        <td class="text-center">
          <a [routerLink]="'/listings/'+listing.id">
            <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
          </a>
        </td>
        <td class="text-center">
          <a [routerLink]="'/content_type/listings/'+listing.id">
            <i nz-icon nzType="edit" class="website-icons"></i>
          </a>
        </td>
        <td class="text-center">
          <a routerLink=".">
            <i (click)="deleteListing(listing)" nz-icon nzType="delete" class="website-icons"></i>
          </a>
        </td>
        <td class="text-center">
          <button nz-button nzType="primary" *ngIf="!loading" (click)="viewDetail(listing.id)">View Details</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <!-- <div fxLayout="row" fxLayoutAlign="end start" class="pagination">
    <nz-pagination [nzPageSize]="websitePagination.limit" [nzPageIndex]="websitePagination.page"
      [nzTotal]="websitePagination.total" (nzPageIndexChange)="didPage($event)">
    </nz-pagination>
  </div> -->
  <div fxLayout="row" fxLayoutAlign="end start" class="create-cont">
    <nz-pagination [nzPageIndex]="listingPagination.page" [nzTotal]="listingPagination.total" (nzPageIndexChange)="didPage($event)">
    </nz-pagination>
  </div>
</ng-template>
<ng-template #listingContent>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h1 class="section-title title">
      <i nz-icon nzType="flag"></i>
      Promote My Listings
    </h1>
    <!-- <button *ngIf="websites.length" nz-button (click)="newSite();" class="create-btn" nzType="default">Create New</button> -->
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="create-cont">
    <button *ngIf="listings.length" nz-button (click)="createNewListing();" class="create-btn" nzType="primary">
      <i nz-icon nzType="flag"></i>
      Add New Listing
    </button>
    <nz-pagination [nzPageIndex]="listingPagination.page" [nzTotal]="listingPagination.total" (nzPageIndexChange)="didPage($event)">
    </nz-pagination>
  </div>
  <!-- <nz-divider class="m-0"></nz-divider> -->
</ng-template>
<!-- </app-sidebar> -->