.section-title {
    i {
        color: #0070f7;
    }
}

.empty-websites {
    padding: 32px;
    text-align: center;
    img {
        width: 80%;
    }
}

.create-btn {
//   color: #0070f7;
//   background-color: #fff;
//   border: 2px solid #0070f7;
  border-radius: 4px;
}

.text-center {
    text-align: center;
}
.mar-zero {
    margin: 0 !important;
}
.create-title {
    font-weight: 700;
    // color: #0170f7;
    color: #003F9D;
    font-size: 24px;
    font-family: 'Montserrat';
    // Montserrat, size 24, Black (font weight),
}
.sub-title {
    color: #393853;
    font-size: 17px;
    font-family: 'Montserrat';
    font-weight: 600;
}
.title {
    font-weight: 600;
  }
  .pagination {
    margin-top: 24px;
  }

  .wd-100 {
      width: 100px;
  }
  .create-cont {
    margin: 16px 0;
  }