body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ~@angular/material/theming.\A         on line 3 of ../../../styles.scss\A         from line 1 of image-gallery.component.scss\A \A 1: @import '../../../styles.scss';\A 2: \A 3: .back-image:hover {\A 4:     transform: scale(1.01);\A 5:     cursor: pointer;\A 6: }\A 7: \A 8: .back-image {"; }
