@import '../../../styles.scss';

.back-image:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.back-image {
    &.selected {
        @include mat-elevation(12);
        transform: scale(1.02);
        border: 2px solid lightgrey;
        border-radius: 4px;
    }
}

.back-image {
    transition: all .2s ease-in-out;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 165px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.scollable-section{
  max-height: 340px;
  overflow-y: scroll;
}
.ant-modal{
  top: 33px;
}
.tag-filter{
  background-color: #dddddd;
}
.tag-filter{
  &.ant-tag-checkable-checked{
    background-color: #1890ff !important;
  }
}
.image-tags{
  background-color: rgba(0, 112, 247, 0.8);
  padding: 2px 4px;
  border-radius: 4px;
  margin: 6px 5px;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
}
.modal-body {
  height: 6rem;
  overflow: scroll;
}
