$light-blue: #18a0b2;
$butterscotch: #ffaf47;
$white: #ffffff;
$dark-blue-green: #326771;
$midnight-blue: #28464b;
$neon-blue: #00dcff;
$neon-green: #30d289;
// $neon-green: #1e9964;
$warn: #B80f0a;
$blue-green: #2c8c99;
$water-blue: #1fa2dc;
