@import '~@angular/material/theming';
@include mat-core();

$md-accent: (
    50 : #fff9e3,
    100 : #fff1b9,
    200 : #ffe88a,
    300 : #ffde5b,
    400 : #ffd737,
    500 : #ffd014,
    600 : #ffcb12,
    700 : #ffc40e,
    800 : #ffbe0b,
    900 : #ffb306,
    A100 : #ffffff,
    A200 : #fffbf3,
    A400 : #ffeac0,
    A700 : #ffe1a7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


--foreground_200: #18a0b2;
--butterscotch: #ffaf47;
--white: #ffffff;
--foreground_400: #326771;
--foreground_500: #28464b;
--neon_blue: #00dcff;
--foreground_100: #30d289;
--warn: #d23040;
--foreground_300: #2c8c99;
--water-blue: #1fa2dc;
$up-foreground: (
  50 : #fbfbfc,
  100 : #f5f5f9,
  200 : #efeff5,
  300 : #e8e8f0,
  400 : #e3e3ed,
  500 : #dedeea,
  600 : #dadae7,
  700 : #d5d5e4,
  800 : #d1d1e1,
  900 : #c8c8db,
  A100 : #6c7481,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
  