<!-- <app-sidebar> -->
<div class="23">
  <div class="step-container">
    <nz-steps [nzCurrent]="current">
      <nz-step nzTitle="Select Type of Emails"></nz-step>
      <nz-step [nzTitle]="selectedTempalateType? 'Select '+selectedTempalateType : 'Select listing/Market Report' "></nz-step>
      <nz-step nzTitle="Preview Template" [nzIcon]="loading ? 'loading' : null"></nz-step>
      <nz-step nzTitle="Select Contacts" [nzIcon]="loading ? 'loading' : null"></nz-step>
      <nz-step nzTitle="Send" [nzIcon]="loading ? 'loading' : null"></nz-step>
    </nz-steps>
  </div>


  <div class="steps-content">
    <div *ngIf="current === 0">
      <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="25px">
        <app-card-button  [config]="marketingButton" (click)="setTemplateType('market_report')"></app-card-button>
        <app-card-button  [config]="listingButton" (click)="setTemplateType('listing')">
        </app-card-button>
      </div>
    </div>
    <div *ngIf="current === 1">
      <div *ngIf="selectedTempalateType === 'listing'">
        <nz-spin [nzSize]="'large'" *ngIf="loading"></nz-spin>
        <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="25px">
          <app-card-button [config]="newListingCardButton"></app-card-button>
          <ng-container *ngFor="let listing of listings">
            <app-card-button [config]="configFor(listing)" (click)="setSelectedListing(listing)"></app-card-button>
          </ng-container>
        </div>
      </div>
      <div *ngIf="selectedTempalateType === 'market_report'">
        <nz-spin [nzSize]="'large'" *ngIf="loading"></nz-spin>
        <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="25px">
          <app-card-button [config]="newMarketBtnConfig"></app-card-button>
          <ng-container *ngFor="let marketReport of marketReports">
            <app-card-button [config]="configForMarketReport(marketReport)" (click)="setSelectedMarketReport(marketReport)"></app-card-button>
          </ng-container>
        </div>
      </div>
    </div>
    <div *ngIf="current === 2">
      <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="25px">
        <nz-select id="templates_select" nzPlaceHolder="Select Template" name="templates_select" class="select-template" [(ngModel)]="selectedTemplate" (ngModelChange)="changePropertyType($event)" [nzSize]="'large'">
            <nz-option *ngFor="let template of templates" [nzLabel]="template.name" [nzValue]="template"></nz-option>
          </nz-select>
        <nz-spin [nzSize]="'large'" *ngIf="loading"></nz-spin>
        <iframe [src]="previewURL | safe" width="100%" height="500" frameborder="1" class="border"></iframe>
      </div>
    </div>
    <div *ngIf="current == 3">
      <app-contacts-selector [(selected)]="s" (allSelectedChange)="updateAllSelected($event)" (selectedChange)="updateSelected($event)"></app-contacts-selector>
    </div>
    <div class="done" *ngIf="current === 4">
      <div class="sending" *ngIf="loading" fxLayout="column" fxLayoutAlign="start center">
        <h2>Sending to {{s.length}} people</h2>
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
      </div>
      <div class="sent" *ngIf="!loading" fxLayout="column" fxLayoutAlign="start center">
        <h2>Sent to {{isAllSelected ? 'all' : s.length}} people</h2>
        <button nz-button nzType="primary" (click)="back()">
          <span>Back to Home</span>
        </button>
      </div>
    </div>

  </div>

  <div class="steps-action action-container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px" *ngIf="current < 4 ">
    <button nz-button nzType="primary" nzShape="round" (click)="pre()" *ngIf="current > 0">
      <i nz-icon type="left"></i>
      <span>Previous</span>
    </button>
    <button nz-button nzType="primary" nzShape="round" (click)="next()" *ngIf="current < 3 && isDisabled && current != 2 && isResourceSelected && selectedTemplate ">
      <div>
        <span>Next</span>
        <i nz-icon type="right"></i>
      </div>
    </button>
    <button nz-button nzType="primary" nzShape="round" (click)="SelectContactsAndsend()" [nzLoading]="loading" [disabled]="loading"
      *ngIf="current == 2 && selectedTemplate">
      <span>Select Contacts & Send</span>
      <i nz-icon type="right"></i>
    </button>
    <button nz-button nzType="primary" nzShape="round" (click)="send()" [disabled]="s.length === 0 || !isAllSelected" [nzLoading]="loading" [disabled]="loading"
      *ngIf="current == 3 ">
      <span>Send</span>
    </button>
  </div>

</div>
<!-- </app-sidebar> -->
