.step-container {
  padding: 20px 0; }

.action-container {
  padding: 15px 0; }

.grape-template-container {
  padding: 20px 0; }

.select-template {
  width: 30%;
  margin-bottom: 16px; }

/*# sourceMappingURL=blast-email.component.css.map */
