.message {
  font-family: 'Montserrat';
}

.links {
  margin-right: 20px;
}

.link {
  -webkit-appearance: unset;
  font-size: 16px;
  line-height: 16px;
  background-color: #30d289;
  color: white;
  padding: 15px 14px 15px 10px;
  vertical-align: middle;
  text-decoration: none;

  fa-icon {
    vertical-align: middle;
    margin-right: 15px;
  }
}

.mat-dialog-content {
  max-height: unset;
}

.video {
  margin: 10px;
  max-width: 100%;
  max-height: 100%;

  video {
    width: 100%;
  }

  // width: 100%;
  // height: 100%;
}

.select-option {
  cursor: pointer;
  padding: 15px 0;
  border-bottom: 1px solid rgb(141, 141, 141);

  img {
    width: 20%;
    max-height: 50px;
    object-fit: contain;
  }

  .option-text {
    font-size: 20px;
  }
}
