<ng-template #paymentcards>
  <div class="table-container" *ngIf="sources.length > 0">
    <nz-table nzNoResult="" nzTemplateMode>
      <thead>
        <tr class="ads-hd-text-style">
          <th>Select</th>
          <th>Brand</th>
          <th>Name</th>
          <th>Last 4</th>
          <th>Expires</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of paginatedCards">
          <td class="ads-text-style">
            <nz-radio-group [nzSize]="large" class="card-radio" [(ngModel)]="selectedSource" (click)="setSource(card)">
              <label nz-radio [nzValue]="card.id"></label>
            </nz-radio-group>
          </td>
          <td class="ads-text-style">
            {{card.brand}}
          </td>
          <td class="ads-text-style">
            {{card.name}}
          </td>
          <td class="ads-text-style">
            {{card.last4}}
          </td>
          <td class="ads-text-style">
            {{card.exp_month}}/{{card.exp_year}}
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div fxLayout="row" fxLayoutAlign="end start" style="margin-top: 30px;">
      <nz-pagination [nzPageIndex]="page" [nzTotal]="sources.length" nzPageSize="10" [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="setPageData($event)"></nz-pagination>
      <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
      </ng-template>
    </div>
  </div>
</ng-template>
<nz-spin [nzSize]="'large'" *ngIf="loading">
  <ng-container [ngTemplateOutlet]="paymentcards"></ng-container>
</nz-spin>
<ng-container [ngTemplateOutlet]="paymentcards" *ngIf="!loading"></ng-container>

<button nz-button nzType="primary" (click)="addCard()" class="add-card-button">Add Card</button>

<!-- <app-stripe-card-collector (createdCard)="addSource($event)"></app-stripe-card-collector> -->