<!-- <app-sidebar> -->
<div class="43">
  <nz-steps [nzCurrent]="current">
    <nz-step nzTitle="Select Recipients"></nz-step>
    <nz-step nzTitle="Preview"></nz-step>
    <nz-step nzTitle="Send" [nzIcon]="loading ? 'loading' : null"></nz-step>
  </nz-steps>

  <div class="steps-content">
    <app-contacts-selector *ngIf="current === 0" [(selected)]="s"></app-contacts-selector>
    <div class="preview" *ngIf="current === 1">
      <iframe [src]="previewURL | safe" width="100%" height="500" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="done" *ngIf="current === 2">
      <div class="sending" *ngIf="loading" fxLayout="column" fxLayoutAlign="start center">
        <h2>Sending to {{s.length}} people</h2>
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
      </div>
      <div class="sent" *ngIf="!loading" fxLayout="column" fxLayoutAlign="start center">
        <h2>Sent to {{s.length}} people</h2>
        <button nz-button nzType="primary" (click)="back()">
          <span>Back to Listing</span>
        </button>
      </div>
    </div>
  </div>
  <div class="steps-action" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px" *ngIf="current < 2">
    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
      <span>Previous</span>
    </button>
    <button nz-button nzType="default" (click)="next()" *ngIf="current === 0">
      <span>Next</span>
    </button>
    <button nz-button nzType="primary" (click)="send()" [nzLoading]="loading" [disabled]="loading" *ngIf="current > 0">
      <span>Send</span>
    </button>
  </div>

</div>
<!-- </app-sidebar> -->
