<!-- <nz-layout> -->
  <div class="login-container" fxLayout="column" fxLayoutAlign="start center" fxFlex>
    <div class="icon-container">
      <img class="up-icon" src="assets/logos/logo.png">
    </div>
    <div [@flyInOut]="'in'" *ngIf="state === 'set_pass'" class="login-box">
      <div class="spiner-center loading-overlay" *ngIf="loading" fxFlexLayout="column" fxLayoutAlign="center center">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
      </div>
      <div class="login-title">Set A Password</div>
      <form [formGroup]="passForm" (ngSubmit)="changePass()" class="login-form">
        <span class="error" *ngIf="errorMessage">{{ errorMessage }}</span>
        <nz-form-item>
          <nz-form-control nzErrorTip="Must Be At Least 6 Characters!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" name="password" placeholder="Password" />
            </nz-input-group>
            <span class="error left" *ngIf="passForm.controls['password'].hasError('required')"> Password is required
            </span>
          </nz-form-control>
        </nz-form-item>
        <br />
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password_confirmation" name="password_confirmation" placeholder="Confirm Password"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <span class="error" *ngIf="passForm.controls['password'].valid && passForm.controls['password_confirmation'].valid && passForm.hasError('mismatch')">
          Passwords Don't Match
        </span>
        <br />
        <button nz-button type="primary" class="login-button" size="large" [disabled]="!passForm.valid" type="submit">
          Submit
        </button>
      </form>
      <div class="or">
        <nz-divider></nz-divider>
        <span class="text">or</span>
      </div>
      <button nz-button type="primary" size="large" class="facebook-login-button" (click)="loginWithFacebook(code)">Use Facebook</button>
    </div>
    <div [@flyInOut]="'in'" *ngIf="state === 'forgot_pass'" class="forgot-box">
      <div class="spiner-center loading-overlay" *ngIf="loading" fxFlexLayout="column" fxLayoutAlign="center center">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
      </div>
      <div class="login-title">Reset Password</div>
      <form *ngIf="state === 'forgot_pass'" [formGroup]="resetForm" (ngSubmit)="forgotPass()" class="login-form">
        <span class="error" *ngIf="errorMessage">{{ errorMessage }}</span>
        <br />
        <nz-form-item>
          <nz-form-control nzErrorTip="Email is required">
            <nz-input-group nzPrefixIcon="mail">
              <input nz-input name="email" type="email" id="email" formControlName="email" placeholder="Email" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <br />
        <button nz-button type="primary" class="login-button" [disabled]="!resetForm.valid" type="submit">
          Submit
        </button>
      </form>
      <div *ngIf="state === 'reset_pass'">
        <span class="reset-message">Check your email for a link to reset your password!</span>
        <nz-divider></nz-divider>
        <span class="reset-notice">Link sent to {{email}}</span>
        <button nz-button class="resend-button login-button" type="primary" (click)="forgotPass()">
          Resend Email
        </button>
      </div>
    </div>
    <div [@flyInOut]="'in'" *ngIf="state === 'reset_pass'" class="forgot-box">
      <div class="spiner-center loading-overlay" *ngIf="loading" fxFlexLayout="column" fxLayoutAlign="center center">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
      </div>
      <div class="login-title">Reset Password</div>
      <div>
        <span class="reset-message">Check your email for a link to reset your password!</span>
        <nz-divider></nz-divider>
        <span class="reset-notice">Link sent to {{email}}</span>
        <button nz-button class="resend-button login-button" type="primary" (click)="forgotPass()" [disabled]="resendWait > 0">
          <span *ngIf="resendWait === 0"> Resend Email</span>
          <span *ngIf="resendWait > 0" [style.fontSize]="'12px'">Try again in {{resendWait}}s</span>
        </button>
      </div>
    </div>
  </div>
<!-- </nz-layout> -->
