@import '../../../styles.scss';
$--bright-blue: #0070f7;
.notification-dd{
  position: absolute;
  top: 14px;
  right: 20px;
  z-index: 999;
}
.notification-box{
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background: #0070f7;
  display: inline-block;
  vertical-align: middle;
  padding: 11px;
  i.anticon{
    font-size: 24px;
    color: #fff;
  }
}
.notification-dropdown{
  margin-top: 14px;
  padding-top: 0;
  min-width: 330px;
}
.ant-list {
  //padding: 0 15px;
}
.ant-list-item{
  cursor: pointer;
  padding: 12px;
  border-bottom: 1px solid #ccc;
  &:last-child {
    border-bottom: 1px solid #ccc;
  }
  &.active{
    background-color: #e6f7ff;
  }
}
.nf-view-all{
  text-align: center;
  display: block;
  padding: 8px 0;
  color: #000;
  font-size: 15px;
  font-weight: bold;
}
.un-read{
  padding: 10px;
  display: block;
  background-color: #e6f7ff;
  border-bottom: 1px solid #d9d9d9;
  &:hover{
    background-color: #c2c8cc5c;
  }
}
.active{
  padding: 10px;
  display: block;
  border-bottom: 1px solid #d9d9d9;
  &:hover{
    background-color: #c2c8cc5c;
  }
}
.noti-icon{
  color: #0070f7;
  margin-right: 10px;
  float: left;
  font-size: 20px;
}
.noti-text{
  float: left;
  margin-top: -4px;
  width: 260px !important;
  font-size: 14px;
  font-weight: 600;
  color: #0070f7;
  span{
    margin-top: 10px;
    display: block;
  }
}
