::ng-deep .mcc-color-picker-selector-preview {
  display: none;
}

::ng-deep .btn-picker {
  height: 60px !important;
  width: 60px !important;
  padding: 0 !important;
}

// .form-field {
//     margin-right: 25px;
// }
.color-field {
  margin-left: 62px;
}

.color-picker-selector {
  position: absolute;
}

.color-container {
  position: relative;
}

.preview-image {
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.preview-container {
  margin-bottom: 20px;
  box-sizing: border-box;
}

.preview-row {
  max-width: 100%;
  max-height: unset;
  overflow-x: auto;
}
.mt-25 {
  margin-top: 25px;
}