<div class="container">
  <form #contentForm="ngForm" fxLayout="column" fxLayoutAlign="start stretch">
    <h3>View an example of your selected style, and fill out the necessary information, then click 'Create'.</h3>

    <swiper [config]="config" #usefulSwiper class="swiper-c mt-25">
      <div class="swiper-wrapper">
        <div class="swiper-slide"  *ngFor="let c of contentStyles">
            <app-select-image-card  [content]="c" [horizontalMargin]="'0px'" (cardClicked)="selectStyle(c)"
            [disableDeselect]="true" fxFlex></app-select-image-card>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next" (click)="nextSlide()"></div>
      <div class="swiper-button-prev"></div>
    </swiper>

    <!-- </div> -->
    <nz-divider></nz-divider>
    <nz-form-item appearance="fill" fxFlex="80%" fxFlex.xs="100%" *ngIf="showCaption">
      <nz-form-label for="description">Caption</nz-form-label>
      <nz-form-control>
        <textarea nz-input class="form-control" id="caption" [(ngModel)]="model.caption" name="caption" [required]="requiredFields.includes('caption')"></textarea>      </nz-form-control>
    </nz-form-item>
  </form>
</div>
