<h3 class="ic-heading" *ngIf="!btnSelected">Select an Image</h3>
<h3 class="ic-heading" *ngIf="btnSelected">Crop and Add this image</h3>
<div class="image-popup-container">
  <div class="upload-btn-wrapper"
       [ngClass]="wrongFile == false ? 'upload-sucess' : 'upload-error'" *ngIf="!btnSelected">
    <input type="file" #coverFilesInput (change)="fileChangeEvent($event)" accept="image/x-png,image/jpg,image/jpeg"/>
    <p class="ant-upload-drag-icon">
      <span *ngIf="wrongFile == false">
        <fa-icon [icon]="uploadIcon" size="3x" class="upload-icon"></fa-icon>
      </span>
      <i nz-icon nzType="warning" class="warn-icon" *ngIf="wrongFile == true" ></i>
    </p>
    <p class="ant-upload-text" *ngIf="wrongFile == false">Click or drag file to this area to upload, Only Files with following extensions are allowed: png, jgp, jpeg</p>
    <p class="ant-upload-text warn-color" *ngIf="wrongFile == true">Wrong file type!
      <br>
      Only Files with following extensions are allowed: png, jpg, jpeg</p>
    <p class="ant-upload-text" *ngIf="wrongFile == false">or</p>
    <button class="btn browse-button">Browse</button>
  </div>
  <div *ngIf="!validImage" class="imageError">Image size is too small (Min size required {{config.minWidth}}x{{config.minHeight}}), Recommended size {{config.idealWidth ? config.idealWidth : config.minWidth}}x{{config.idealHeight ? config.idealHeight : config.minHeight}}</div>
  <div>
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]= maintainAspectRatio
      [containWithinAspectRatio]="containWithinAspectRatio"
      [aspectRatio]= aspectRatio
      [cropperMinWidth]= croppedWidth
      [cropperMinHeight]= croppedWidth
      [onlyScaleDown]="true"
      [roundCropper]="false"
      [canvasRotation]="canvasRotation"
      [transform]="transform"
      [alignImage]="'center'"
      [style.display]="showCropper ? null : 'none'"
      [format]="fileFormat"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady($event)"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
  </div>
  <nz-spin nzSimple class="photo-loading" *ngIf="loading"></nz-spin>
</div>
<div class="image-popup-footer" *ngIf="btnSelected">
  <button nz-button nzType="primary" class="space-right done-btn" (click)="saveImage()">Done</button>
  <button nz-button nzType="danger" class="cancel-btn" (click)="cancel()">Cancel</button>
</div>
