@import '../../../styles.scss';
.image-popup-container{
  padding: 10px;
  text-align: center;
}
.ic-heading{
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
}
.done-btn{
  float: right;
}
.cancel-btn{
  color: #1890ff !important;
  &:hover{
    background-color: #1890ff !important;
    border-color: #1890ff !important;
    color: #fff !important;
  }
}
.imageError {
  font-size: 14px;
    font-style: italic;
    color: #f5222d;
    font-weight: 600;
}

.upload-btn-wrapper{
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  padding: 1rem;
  border-radius: 14px;
  position: relative;
  margin: 0 auto;
  opacity: 1;
  background: #E8F6FF;
  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .browse-button{
    padding: 5px 26px !important;
  }
}
.upload-btn-wrapper .btn {
  display: inline-block;
  border: 2px solid #1890ff;
  color: #fff;
  background-color: #1890ff;
  padding: 12px 53px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.upload-btn-wrapper input {
  cursor: pointer;
  font-size: 100px;
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
  position: absolute;
  right: 0;
  top: 0;
}
.upload-icon{
  color: #44BAFF;
}
.upload-sucess{
  border: dashed 5px #44BAFF;
}
.upload-error{
  border: dashed 5px red;
}
.warn-icon{
  color: red;
  font-size: 30px;
}
.warn-color{
  color:  red !important;
}
.ant-upload-text{
  color: #44BAFF;
  font-size: 19px;
}
